
 [class^="icon-"], [class*=" icon-"] {
 	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	display:inline-block;
}

.button-disabled { opacity: 0.1 }

.clearbox {
    background-image: url('iconsets/Bobalophagus-Orange/edit-delete.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry, div.selectholder {
    background-image: url('iconsets/Bobalophagus-Orange/blobdown2.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry:hover, div.selectholder:hover {
    background-image: url('iconsets/Bobalophagus-Orange/blobdown2-hi.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

#ratingsearch {
    position: relative;
}

#ratingsearch:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    background-image: url('iconsets/Bobalophagus-Orange/0stars.svg');
    background-size: auto 50%;
    background-position: left 2px center;
    background-repeat: no-repeat;
}

i.combo-button {
    background-image: url('iconsets/Bobalophagus-Orange/blobdown2.svg');
}

.icon-play-circled { background-image :url('iconsets/Bobalophagus-Orange/media-playback-start.svg') }
.playdiv { background-image :url('iconsets/Bobalophagus-Orange/media-playback-start.svg') }
.icon-play-circled:hover { background-image :url('iconsets/Bobalophagus-Orange/media-playback-start-highlight.svg') }
.icon-pause-circled { background-image :url('iconsets/Bobalophagus-Orange/media-playback-pause.svg') }
.icon-pause-circled:hover { background-image :url('iconsets/Bobalophagus-Orange/media-playback-pause-highlight.svg') }
.icon-fast-backward { background-image :url('iconsets/Bobalophagus-Orange/media-skip-backward.svg') }
.icon-fast-backward:hover { background-image :url('iconsets/Bobalophagus-Orange/media-skip-backward-highlight.svg') }
.icon-fast-forward { background-image :url('iconsets/Bobalophagus-Orange/media-skip-forward.svg') }
.icon-fast-forward:hover { background-image :url('iconsets/Bobalophagus-Orange/media-skip-forward-highlight.svg') }
.icon-stop-1 { background-image :url('iconsets/Bobalophagus-Orange/media-playback-stop.svg') }
.icon-stop-1:hover { background-image :url('iconsets/Bobalophagus-Orange/media-playback-stop-highlight.svg') }
.icon-to-end-1 { background-image :url('iconsets/Bobalophagus-Orange/stopafter.svg') }
.icon-to-end-1:hover { background-image :url('iconsets/Bobalophagus-Orange/stopafter-highlight.svg') }

.icon-music { background-image: url('iconsets/Bobalophagus-Orange/collection.svg') }
.icon-search { background-image: url('iconsets/Bobalophagus-Orange/system-search.svg') }
.icon-folder-open-empty { background-image: url('iconsets/Bobalophagus-Orange/folder.svg') }
.icon-radio-tower { background-image: url('iconsets/Bobalophagus-Orange/broadcast-new.svg') }
.icon-cd { background-image: url('iconsets/Bobalophagus-Orange/cd_case.svg') }
.icon-resize-horizontal { background-image: url('iconsets/Bobalophagus-Orange/resize.svg') }
.icon-angle-double-left { background-image:url('iconsets/Bobalophagus-Orange/arrow-left-double.svg') }
.icon-angle-double-right { background-image:url('iconsets/Bobalophagus-Orange/arrow-right-double.svg') }
.icon-menu { background-image: url('iconsets/Bobalophagus-Orange/pushbutton.svg') }
.icon-versions { background-image: url('iconsets/Bobalophagus-Orange/history.svg') }
.icon-left-circled { background-image: url('iconsets/Bobalophagus-Orange/backbutton.svg') }
.icon-right-circled { background-image: url('iconsets/Bobalophagus-Orange/forwardbutton.svg') }
.icon-cog-alt { background-image: url('iconsets/Bobalophagus-Orange/preferences.svg') }
.icon-trash { background-image: url('iconsets/Bobalophagus-Orange/edit-clear-list.svg') }
.icon-wifi { background-image: url('iconsets/Bobalophagus-Orange/smartradio.svg') }
.icon-doc-text { background-image: url('iconsets/Bobalophagus-Orange/playlist.svg') }
.icon-floppy { background-image: url('iconsets/Bobalophagus-Orange/document-save.svg') }
.icon-cancel-circled { background-image: url('iconsets/Bobalophagus-Orange/edit-delete.svg') }
.icon-plus {
	background-image: url('iconsets/Bobalophagus-Orange/add.svg');
}
.icon-alarm { background-image: url('iconsets/Bobalophagus-Orange/alarmclock_false.svg') }
.icon-alarm-on { background-image: url('iconsets/Bobalophagus-Orange/alarmclock_true.svg') }
.icon-sleep { background-image: url('iconsets/Bobalophagus-Orange/sleep.svg') }
.icon-library { background-image: url('iconsets/Bobalophagus-Orange/file.svg') }
.icon-lastfm-1 { background-image: url('iconsets/Bobalophagus-Orange/lastfm.svg') }
.icon-wikipedia { background-image: url('iconsets/Bobalophagus-Orange/wikipedia-logo.svg') }
.icon-musicbrainz {	background-image: url('iconsets/Bobalophagus-Orange/musicbrainz_logo.svg') }
.icon-discogs {	background-image: url('iconsets/Bobalophagus-Orange/discogs-logo.svg') }
.icon-doc-text-1 { background-image: url('iconsets/Bobalophagus-Orange/lyrics.svg') }
.icon-soundcloud-circled { background-image: url('iconsets/Bobalophagus-Orange/soundcloud-logo.svg') }
.icon-youtube-circled { background-image: url('iconsets/Bobalophagus-Orange/youtube-logo.svg') }
.icon-gmusic-circled { background-image: url('iconsets/Bobalophagus-Orange/gmusic-logo.svg') }
.icon-spotify-circled { background-image: url('iconsets/Bobalophagus-Orange/spotify-logo.svg') }
.icon-vkontakte-circled { background-image: url('iconsets/Bobalophagus-Orange/vkontakte-logo.svg') }
.icon-podcast-circled { background-image: url('iconsets/Bobalophagus-Orange/podcast-logo.svg') }
.icon-audiobook { background-image: url('iconsets/Bobalophagus-Orange/audiobook.svg') }
.icon-internetarchive-circled { background-image: url('iconsets/Bobalophagus-Orange/internetarchive-logo.svg') }
.icon-increase { background-image: url('iconsets/Bobalophagus-Orange/arrow-increase.svg') }
.icon-decrease { background-image: url('iconsets/Bobalophagus-Orange/arrow-decrease.svg') }
.icon-attention-1 { background-image: url('iconsets/Bobalophagus-Orange/dialog-error.svg') }
.icon-info-circled { background-image: url('iconsets/Bobalophagus-Orange/dialog-information.svg') }
.icon-download { background-image: url('iconsets/Bobalophagus-Orange/download-icon.svg') }
.icon-sun { background-image: url('iconsets/Bobalophagus-Orange/icon-new.svg') }
.icon-headphones { background-image: url('iconsets/Bobalophagus-Orange/headphones.svg') }
.icon-unlistened { background-image: url('iconsets/Bobalophagus-Orange/headphones.svg') }
.icon-block { background-image: url('iconsets/Bobalophagus-Orange/lastfm-ban.svg') }
.icon-heart { background-image: url('iconsets/Bobalophagus-Orange/lastfm-love.svg') }
.icon-heart-broken { background-image: url('iconsets/Bobalophagus-Orange/lastfm-unlove.svg') }
.icon-refresh { background-image: url('iconsets/Bobalophagus-Orange/refresh.svg') }
.icon-tunein { background-image: url('iconsets/Bobalophagus-Orange/../../newimages/tunein-logo.svg') }
.icon-no-response-playbutton { background-image :url('iconsets/Bobalophagus-Orange/media-playback-start.svg') }
.icon-tags { background-image: url('iconsets/Bobalophagus-Orange/tag.svg') }
.icon-volume-up { background-image: url('iconsets/Bobalophagus-Orange/volume.svg') }
.icon-toggle-open { background-image: url('iconsets/Bobalophagus-Orange/toggle-open.svg') }
.icon-toggle-closed { background-image: url('iconsets/Bobalophagus-Orange/toggle-closed.svg') }
.icon-spin6 { background-image: url('iconsets/Bobalophagus-Orange/spinner.svg') }
.icon-output { background-image: url('iconsets/Bobalophagus-Orange/output.svg') }
.icon-output-mute { background-image: url('iconsets/Bobalophagus-Orange/output_mute.svg') }
.icon-sliders { background-image: url('iconsets/Bobalophagus-Orange/sliders.svg') }
.icon-0-stars { background-image: url('iconsets/Bobalophagus-Orange/0stars.svg') }
.icon-1-stars { background-image: url('iconsets/Bobalophagus-Orange/1stars.svg') }
.icon-2-stars { background-image: url('iconsets/Bobalophagus-Orange/2stars.svg') }
.icon-3-stars { background-image: url('iconsets/Bobalophagus-Orange/3stars.svg') }
.icon-4-stars { background-image: url('iconsets/Bobalophagus-Orange/4stars.svg') }
.icon-5-stars { background-image: url('iconsets/Bobalophagus-Orange/5stars.svg') }
.icon-single-star { background-image: url('iconsets/Bobalophagus-Orange/singlestar.svg') }
.icon-ratandtag { background-image: url('iconsets/Bobalophagus-Orange/ratandtag.svg') }
.icon-ratortag { background-image: url('iconsets/Bobalophagus-Orange/ratortag.svg') }
.icon-toggle-on { background-image: url('iconsets/Bobalophagus-Orange/togglebutton-new2-on.svg') }
.icon-toggle-off { background-image: url('iconsets/Bobalophagus-Orange/togglebutton-new2-off.svg') }

.icon-random.flow-on { background-image: url('iconsets/Bobalophagus-Orange/random.svg') }
.icon-random.flow-off { background-image: url('iconsets/Bobalophagus-Orange/random_off.svg') }
.icon-crossfade.flow-on { background-image: url('iconsets/Bobalophagus-Orange/crossfade.svg') }
.icon-crossfade.flow-off { background-image: url('iconsets/Bobalophagus-Orange/crossfade_off.svg') }
.icon-repeat.flow-on { background-image: url('iconsets/Bobalophagus-Orange/refresh.svg') }
.icon-repeat.flow-off { background-image: url('iconsets/Bobalophagus-Orange/refresh_off.svg') }
.icon-consume.flow-on { background-image: url('iconsets/Bobalophagus-Orange/consume.svg') }
.icon-consume.flow-off { background-image: url('iconsets/Bobalophagus-Orange/consume_off.svg') }

.icon-allrandom { background-image: url('iconsets/Bobalophagus-Orange/shuffle.svg') }
.icon-neverplayed { background-image: url('iconsets/Bobalophagus-Orange/neverheard.svg') }
.icon-recentlyplayed { background-image: url('iconsets/Bobalophagus-Orange/calendar.svg') }
.icon-artist { background-image: url('iconsets/Bobalophagus-Orange/artist-icon.svg') }
.icon-mp3-audio { background-image: url('iconsets/Bobalophagus-Orange/mp3-audio.svg') }
.icon-aac-audio { background-image: url('iconsets/Bobalophagus-Orange/aac-audio.svg') }
.icon-flac-audio { background-image: url('iconsets/Bobalophagus-Orange/flac-audio.svg') }
.icon-wma-audio { background-image: url('iconsets/Bobalophagus-Orange/wma-audio.svg') }
.icon-ogg-audio { background-image: url('iconsets/Bobalophagus-Orange/ogg-audio.svg') }
.icon-explicit { background-image: url('iconsets/Bobalophagus-Orange/parental-advisory.svg') }
.icon-expand-up { background-image: url('iconsets/Bobalophagus-Orange/expand-up.svg') }
.icon-rss { background-image: url('iconsets/Bobalophagus-Orange/rss.svg') }
.icon-tick { background-image: url('iconsets/Bobalophagus-Orange/tick.svg') }
.icon-video { background-image: url('iconsets/Bobalophagus-Orange/movie-1.svg') }
.icon-bbc-logo { background-image: url('iconsets/Bobalophagus-Orange/bbc-logo.svg') }
.icon-imdb-logo { background-image: url('iconsets/Bobalophagus-Orange/imdb-logo.svg') }
.icon-facebook-logo { background-image: url('iconsets/Bobalophagus-Orange/facebook-logo.svg') }
.icon-twitter-logo { background-image: url('iconsets/Bobalophagus-Orange/twitter-logo.svg') }
.icon-www { background-image: url('iconsets/Bobalophagus-Orange/world-wide-web.svg') }
.icon-allmusic { background-image: url('iconsets/Bobalophagus-Orange/allmusic-logo.svg') }
.icon-updown { background-image: url('iconsets/Bobalophagus-Orange/arrow-updown.svg') }
.icon-snapcast { background-image: url('iconsets/Bobalophagus-Orange/../../newimages/snapcast.png') }

.styledinputs label
{
    display:inline-block;
    cursor:pointer;
    position:relative;
    padding-left:2.5em;
    line-height:1.5em;
}

.styledinputs input[type=radio]
{
    display:none;
}

.styledinputs input[type=checkbox]
{
    display:none;
}

.styledinputs label:before
{
    content:"";
    display:inline-block;
    width:2em;
    height:1.5em;
    position:absolute;
    left:0;
    /* bottom:0.2em; */
    background-image: url('iconsets/Bobalophagus-Orange/togglebutton-new2-off.svg');
 	background-size:auto 80%;
	background-position: center;
	background-repeat:no-repeat;
}

.styledinputs input:checked + label:before
{
    background-image: url('iconsets/Bobalophagus-Orange/togglebutton-new2-on.svg') !important;
}

img.notexist,img.notfound
{
    background-image: url('iconsets/Bobalophagus-Orange/compact-disc.svg');
    background-size:contain;
    display:inline-block;
    background-position:center;
    background-repeat: no-repeat;
}

img.stream.notfound, img.stream.notexist
{
    background-image: url('iconsets/Bobalophagus-Orange/broadcast-new.svg');
}

img.plimage.notfound
{
    background-image: url('iconsets/Bobalophagus-Orange/playlist.svg');
}

.backmenu
{
    background-image: url('iconsets/Bobalophagus-Orange/arrow-left-double.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

button.searchbutton {
    background-image: url('iconsets/Bobalophagus-Orange/system-search.svg');
}

button.rssbutton {
    background-image: url('iconsets/Bobalophagus-Orange/rss.svg');
}

button.savebutton {
    background-image: url('iconsets/Bobalophagus-Orange/document-save.svg');
}
