
 [class^="icon-"], [class*=" icon-"] {
 	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	display:inline-block;
}

.button-disabled { opacity: 0.1 }

.clearbox {
    background-image: url('iconsets/Bobalofire/edit-delete.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry, div.selectholder {
    background-image: url('iconsets/Bobalofire/blobdown2.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry:hover, div.selectholder:hover {
    background-image: url('iconsets/Bobalofire/blobdown2-hi.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

#ratingsearch {
    position: relative;
}

#ratingsearch:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    background-image: url('iconsets/Bobalofire/0stars.svg');
    background-size: auto 50%;
    background-position: left 2px center;
    background-repeat: no-repeat;
}

i.combo-button {
    background-image: url('iconsets/Bobalofire/blobdown2.svg');
}

.icon-play-circled { background-image :url('iconsets/Bobalofire/media-playback-start.svg') }
.playdiv { background-image :url('iconsets/Bobalofire/media-playback-start.svg') }
.icon-play-circled:hover { background-image :url('iconsets/Bobalofire/media-playback-start-highlight.svg') }
.icon-pause-circled { background-image :url('iconsets/Bobalofire/media-playback-pause.svg') }
.icon-pause-circled:hover { background-image :url('iconsets/Bobalofire/media-playback-pause-highlight.svg') }
.icon-fast-backward { background-image :url('iconsets/Bobalofire/media-skip-backward.svg') }
.icon-fast-backward:hover { background-image :url('iconsets/Bobalofire/media-skip-backward-highlight.svg') }
.icon-fast-forward { background-image :url('iconsets/Bobalofire/media-skip-forward.svg') }
.icon-fast-forward:hover { background-image :url('iconsets/Bobalofire/media-skip-forward-highlight.svg') }
.icon-stop-1 { background-image :url('iconsets/Bobalofire/media-playback-stop.svg') }
.icon-stop-1:hover { background-image :url('iconsets/Bobalofire/media-playback-stop-highlight.svg') }
.icon-to-end-1 { background-image :url('iconsets/Bobalofire/stopafter.svg') }
.icon-to-end-1:hover { background-image :url('iconsets/Bobalofire/stopafter-highlight.svg') }

.icon-music { background-image: url('iconsets/Bobalofire/collection.svg') }
.icon-search { background-image: url('iconsets/Bobalofire/system-search.svg') }
.icon-folder-open-empty { background-image: url('iconsets/Bobalofire/folder.svg') }
.icon-radio-tower { background-image: url('iconsets/Bobalofire/broadcast-new.svg') }
.icon-cd { background-image: url('iconsets/Bobalofire/cd_case.svg') }
.icon-resize-horizontal { background-image: url('iconsets/Bobalofire/resize.svg') }
.icon-angle-double-left { background-image:url('iconsets/Bobalofire/arrow-left-double.svg') }
.icon-angle-double-right { background-image:url('iconsets/Bobalofire/arrow-right-double.svg') }
.icon-menu { background-image: url('iconsets/Bobalofire/pushbutton.svg') }
.icon-versions { background-image: url('iconsets/Bobalofire/history.svg') }
.icon-left-circled { background-image: url('iconsets/Bobalofire/backbutton.svg') }
.icon-right-circled { background-image: url('iconsets/Bobalofire/forwardbutton.svg') }
.icon-cog-alt { background-image: url('iconsets/Bobalofire/preferences.svg') }
.icon-trash { background-image: url('iconsets/Bobalofire/edit-clear-list.svg') }
.icon-wifi { background-image: url('iconsets/Bobalofire/smartradio.svg') }
.icon-doc-text { background-image: url('iconsets/Bobalofire/playlist.svg') }
.icon-floppy { background-image: url('iconsets/Bobalofire/document-save.svg') }
.icon-cancel-circled { background-image: url('iconsets/Bobalofire/edit-delete.svg') }
.icon-plus {
	background-image: url('iconsets/Bobalofire/add.svg');
}
.icon-alarm { background-image: url('iconsets/Bobalofire/alarmclock_false.svg') }
.icon-alarm-on { background-image: url('iconsets/Bobalofire/alarmclock_true.svg') }
.icon-sleep { background-image: url('iconsets/Bobalofire/sleep.svg') }
.icon-library { background-image: url('iconsets/Bobalofire/file.svg') }
.icon-lastfm-1 { background-image: url('iconsets/Bobalofire/lastfm.svg') }
.icon-wikipedia { background-image: url('iconsets/Bobalofire/wikipedia-logo.svg') }
.icon-musicbrainz {	background-image: url('iconsets/Bobalofire/musicbrainz_logo.svg') }
.icon-discogs {	background-image: url('iconsets/Bobalofire/discogs-logo.svg') }
.icon-doc-text-1 { background-image: url('iconsets/Bobalofire/lyrics.svg') }
.icon-soundcloud-circled { background-image: url('iconsets/Bobalofire/soundcloud-logo.svg') }
.icon-youtube-circled { background-image: url('iconsets/Bobalofire/youtube-logo.svg') }
.icon-gmusic-circled { background-image: url('iconsets/Bobalofire/gmusic-logo.svg') }
.icon-spotify-circled { background-image: url('iconsets/Bobalofire/spotify-logo.svg') }
.icon-vkontakte-circled { background-image: url('iconsets/Bobalofire/vkontakte-logo.svg') }
.icon-podcast-circled { background-image: url('iconsets/Bobalofire/podcast-logo.svg') }
.icon-audiobook { background-image: url('iconsets/Bobalofire/audiobook.svg') }
.icon-internetarchive-circled { background-image: url('iconsets/Bobalofire/internetarchive-logo.svg') }
.icon-increase { background-image: url('iconsets/Bobalofire/arrow-increase.svg') }
.icon-decrease { background-image: url('iconsets/Bobalofire/arrow-decrease.svg') }
.icon-attention-1 { background-image: url('iconsets/Bobalofire/dialog-error.svg') }
.icon-info-circled { background-image: url('iconsets/Bobalofire/dialog-information.svg') }
.icon-download { background-image: url('iconsets/Bobalofire/download-icon.svg') }
.icon-sun { background-image: url('iconsets/Bobalofire/icon-new.svg') }
.icon-headphones { background-image: url('iconsets/Bobalofire/headphones.svg') }
.icon-unlistened { background-image: url('iconsets/Bobalofire/headphones.svg') }
.icon-block { background-image: url('iconsets/Bobalofire/lastfm-ban.svg') }
.icon-heart { background-image: url('iconsets/Bobalofire/lastfm-love.svg') }
.icon-heart-broken { background-image: url('iconsets/Bobalofire/lastfm-unlove.svg') }
.icon-refresh { background-image: url('iconsets/Bobalofire/refresh.svg') }
.icon-dirble-circled { background-image: url('iconsets/Bobalofire/dirble-logo.svg') }
.icon-tunein { background-image: url('iconsets/Bobalofire/../../newimages/tunein-logo.svg') }
.icon-no-response-playbutton { background-image :url('iconsets/Bobalofire/media-playback-start.svg') }
.icon-tags { background-image: url('iconsets/Bobalofire/tag.svg') }
.icon-volume-up { background-image: url('iconsets/Bobalofire/volume.svg') }
.icon-toggle-open { background-image: url('iconsets/Bobalofire/toggle-open.svg') }
.icon-toggle-closed { background-image: url('iconsets/Bobalofire/toggle-closed.svg') }
.icon-spin6 { background-image: url('iconsets/Bobalofire/spinner.svg') }
.icon-output { background-image: url('iconsets/Bobalofire/output.svg') }
.icon-output-mute { background-image: url('iconsets/Bobalofire/output_mute.svg') }
.icon-sliders { background-image: url('iconsets/Bobalofire/sliders.svg') }
.icon-0-stars { background-image: url('iconsets/Bobalofire/0stars.svg') }
.icon-1-stars { background-image: url('iconsets/Bobalofire/1stars.svg') }
.icon-2-stars { background-image: url('iconsets/Bobalofire/2stars.svg') }
.icon-3-stars { background-image: url('iconsets/Bobalofire/3stars.svg') }
.icon-4-stars { background-image: url('iconsets/Bobalofire/4stars.svg') }
.icon-5-stars { background-image: url('iconsets/Bobalofire/5stars.svg') }
.icon-single-star { background-image: url('iconsets/Bobalofire/singlestar.svg') }
.icon-ratandtag { background-image: url('iconsets/Bobalofire/ratandtag.svg') }
.icon-ratortag { background-image: url('iconsets/Bobalofire/ratortag.svg') }
.icon-toggle-on { background-image: url('iconsets/Bobalofire/togglebutton-new2-on.svg') }
.icon-toggle-off { background-image: url('iconsets/Bobalofire/togglebutton-new2-off.svg') }

.icon-random.flow-on { background-image: url('iconsets/Bobalofire/random.svg') }
.icon-random.flow-off { background-image: url('iconsets/Bobalofire/random_off.svg') }
.icon-crossfade.flow-on { background-image: url('iconsets/Bobalofire/crossfade.svg') }
.icon-crossfade.flow-off { background-image: url('iconsets/Bobalofire/crossfade_off.svg') }
.icon-repeat.flow-on { background-image: url('iconsets/Bobalofire/refresh.svg') }
.icon-repeat.flow-off { background-image: url('iconsets/Bobalofire/refresh_off.svg') }
.icon-consume.flow-on { background-image: url('iconsets/Bobalofire/consume.svg') }
.icon-consume.flow-off { background-image: url('iconsets/Bobalofire/consume_off.svg') }

.icon-allrandom { background-image: url('iconsets/Bobalofire/shuffle.svg') }
.icon-neverplayed { background-image: url('iconsets/Bobalofire/neverheard.svg') }
.icon-recentlyplayed { background-image: url('iconsets/Bobalofire/calendar.svg') }
.icon-artist { background-image: url('iconsets/Bobalofire/artist-icon.svg') }
.icon-mp3-audio { background-image: url('iconsets/Bobalofire/mp3-audio.svg') }
.icon-aac-audio { background-image: url('iconsets/Bobalofire/aac-audio.svg') }
.icon-flac-audio { background-image: url('iconsets/Bobalofire/flac-audio.svg') }
.icon-wma-audio { background-image: url('iconsets/Bobalofire/wma-audio.svg') }
.icon-ogg-audio { background-image: url('iconsets/Bobalofire/ogg-audio.svg') }
.icon-explicit { background-image: url('iconsets/Bobalofire/parental-advisory.svg') }
.icon-expand-up { background-image: url('iconsets/Bobalofire/expand-up.svg') }
.icon-rss { background-image: url('iconsets/Bobalofire/rss.svg') }
.icon-tick { background-image: url('iconsets/Bobalofire/tick.svg') }
.icon-video { background-image: url('iconsets/Bobalofire/movie-1.svg') }
.icon-bbc-logo { background-image: url('iconsets/Bobalofire/bbc-logo.svg') }
.icon-imdb-logo { background-image: url('iconsets/Bobalofire/imdb-logo.svg') }
.icon-facebook-logo { background-image: url('iconsets/Bobalofire/facebook-logo.svg') }
.icon-twitter-logo { background-image: url('iconsets/Bobalofire/twitter-logo.svg') }
.icon-www { background-image: url('iconsets/Bobalofire/world-wide-web.svg') }
.icon-allmusic { background-image: url('iconsets/Bobalofire/allmusic-logo.svg') }
.icon-updown { background-image: url('iconsets/Bobalofire/arrow-updown.svg') }
.icon-snapcast { background-image: url('iconsets/Bobalofire/../../newimages/snapcast.png') }

.styledinputs label
{
    display:inline-block;
    cursor:pointer;
    position:relative;
    padding-left:2.5em;
    line-height:1.5em;
}

.styledinputs input[type=radio]
{
    display:none;
}

.styledinputs input[type=checkbox]
{
    display:none;
}

.styledinputs label:before
{
    content:"";
    display:inline-block;
    width:2em;
    height:1.5em;
    position:absolute;
    left:0;
    /* bottom:0.2em; */
    background-image: url('iconsets/Bobalofire/togglebutton-new2-off.svg');
 	background-size:auto 80%;
	background-position: center;
	background-repeat:no-repeat;
}

.styledinputs input:checked + label:before
{
    background-image: url('iconsets/Bobalofire/togglebutton-new2-on.svg') !important;
}

img.notexist,img.notfound
{
    background-image: url('iconsets/Bobalofire/compact-disc.svg');
    background-size:contain;
    display:inline-block;
    background-position:center;
    background-repeat: no-repeat;
}

img.stream.notfound, img.stream.notexist
{
    background-image: url('iconsets/Bobalofire/broadcast-new.svg');
}

img.plimage.notfound
{
    background-image: url('iconsets/Bobalofire/playlist.svg');
}

.backmenu
{
    background-image: url('iconsets/Bobalofire/arrow-left-double.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

button.searchbutton {
    background-image: url('iconsets/Bobalofire/system-search.svg');
}

button.rssbutton {
    background-image: url('iconsets/Bobalofire/rss.svg');
}

button.savebutton {
    background-image: url('iconsets/Bobalofire/document-save.svg');
}
