
 [class^="icon-"], [class*=" icon-"] {
 	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	display:inline-block;
}

[class^="icon-"]:not(.button-disabled):hover, [class*=" icon-"]:not(.button-disabled):hover {
    opacity: 1;
    background-color: rgba(255,173,0,0.07);
}

.clearbox {
    background-image: url('iconsets/Purpletrator/edit-delete.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry, div.selectholder {
    background-image: url('iconsets/Purpletrator/blobdown3.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry:hover, div.selectholder:hover {
    background-image: url('iconsets/Purpletrator/blobdown3-hi.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

#ratingsearch {
    position: relative;
}

#ratingsearch:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.7; 
    z-index: -1;
    background-image: url('iconsets/Purpletrator/0stars.svg');
    background-size: auto 50%;
    background-position: left 2px center;
    background-repeat: no-repeat;
}

i.combo-button {
    background-image: url('iconsets/Purpletrator/blobdown3.svg');
}

.button-disabled { opacity: 0.1 }

.icon-play-circled { background-image :url('iconsets/Purpletrator/media-playback-start.svg') }
.playdiv { background-image :url('iconsets/Purpletrator/media-playback-start.svg') }
.icon-play-circled:hover { background-image :url('iconsets/Purpletrator/media-playback-start-highlight.svg') }
.icon-pause-circled { background-image :url('iconsets/Purpletrator/media-playback-pause.svg') }
.icon-pause-circled:hover { background-image :url('iconsets/Purpletrator/media-playback-pause-highlight.svg') }
.icon-fast-backward { background-image :url('iconsets/Purpletrator/media-skip-backward.svg') }
.icon-fast-backward:hover { background-image :url('iconsets/Purpletrator/media-skip-backward-highlight.svg') }
.icon-fast-forward { background-image :url('iconsets/Purpletrator/media-skip-forward.svg') }
.icon-fast-forward:hover { background-image :url('iconsets/Purpletrator/media-skip-forward-highlight.svg') }
.icon-stop-1 { background-image :url('iconsets/Purpletrator/media-playback-stop.svg') }
.icon-stop-1:hover { background-image :url('iconsets/Purpletrator/media-playback-stop-highlight.svg') }
.icon-to-end-1 { background-image :url('iconsets/Purpletrator/stopafter.svg') }
.icon-to-end-1:hover { background-image :url('iconsets/Purpletrator/stopafter-highlight.svg') }

.icon-music { background-image: url('iconsets/Purpletrator/collection.svg') }
.icon-search { background-image: url('iconsets/Purpletrator/system-search.svg') }
.icon-folder-open-empty { background-image: url('iconsets/Purpletrator/folder.svg') }
.icon-radio-tower { background-image: url('iconsets/Purpletrator/broadcast-new.svg') }
.icon-cd { background-image: url('iconsets/Purpletrator/cd_case.svg') }
.icon-resize-horizontal { background-image: url('iconsets/Purpletrator/resize.svg') }
.icon-angle-double-left { background-image:url('iconsets/Purpletrator/arrow-left-double.svg') }
.icon-angle-double-right { background-image:url('iconsets/Purpletrator/arrow-right-double.svg') }
.icon-menu { background-image: url('iconsets/Purpletrator/pushbutton.svg') }
.icon-versions { background-image: url('iconsets/Purpletrator/history.svg') }
.icon-left-circled { background-image: url('iconsets/Purpletrator/backbutton.svg') }
.icon-right-circled { background-image: url('iconsets/Purpletrator/forwardbutton.svg') }
.icon-cog-alt { background-image: url('iconsets/Purpletrator/preferences.svg') }
.icon-trash { background-image: url('iconsets/Purpletrator/edit-clear-list.svg') }
.icon-wifi { background-image: url('iconsets/Purpletrator/smartradio.svg') }
.icon-doc-text { background-image: url('iconsets/Purpletrator/playlist.svg') }
.icon-floppy { background-image: url('iconsets/Purpletrator/document-save.svg') }
.icon-cancel-circled { background-image: url('iconsets/Purpletrator/edit-delete.svg') }
.icon-plus {
	background-image: url('iconsets/Purpletrator/add.svg');
  	opacity:0.7;
}
.icon-alarm { background-image: url('iconsets/Purpletrator/alarmclock_false.svg') }
.icon-alarm-on { background-image: url('iconsets/Purpletrator/alarmclock_true.svg') }
.icon-sleep { background-image: url('iconsets/Purpletrator/sleep.svg') }
.icon-library { background-image: url('iconsets/Purpletrator/file.svg') }
.icon-lastfm-1 { background-image: url('iconsets/Purpletrator/lastfm.svg') }
.icon-wikipedia { background-image: url('iconsets/Purpletrator/wikipedia-logo.svg') }
.icon-musicbrainz {	background-image: url('iconsets/Purpletrator/musicbrainz_logo.svg') }
.icon-discogs {	background-image: url('iconsets/Purpletrator/discogs-logo.svg') }
.icon-doc-text-1 { background-image: url('iconsets/Purpletrator/lyrics.svg') }
.icon-soundcloud-circled { background-image: url('iconsets/Purpletrator/soundcloud-logo.svg') }
.icon-youtube-circled { background-image: url('iconsets/Purpletrator/youtube-logo.svg') }
.icon-gmusic-circled { background-image: url('iconsets/Purpletrator/gmusic-logo.svg') }
.icon-spotify-circled { background-image: url('iconsets/Purpletrator/spotify-logo.svg') }
.icon-vkontakte-circled { background-image: url('iconsets/Purpletrator/vkontakte-logo.svg') }
.icon-podcast-circled { background-image: url('iconsets/Purpletrator/podcast-logo.svg') }
.icon-audiobook { background-image: url('iconsets/Purpletrator/audiobook.svg') }
.icon-internetarchive-circled { background-image: url('iconsets/Purpletrator/internetarchive-logo.svg') }
.icon-increase { background-image: url('iconsets/Purpletrator/arrow-increase.svg') }
.icon-decrease { background-image: url('iconsets/Purpletrator/arrow-decrease.svg') }
.icon-attention-1 { background-image: url('iconsets/Purpletrator/dialog-error.svg') }
.icon-info-circled { background-image: url('iconsets/Purpletrator/dialog-information.svg') }
.icon-download { background-image: url('iconsets/Purpletrator/download-icon.svg') }
.icon-sun { background-image: url('iconsets/Purpletrator/icon-new.svg') }
.icon-headphones { background-image: url('iconsets/Purpletrator/headphones.svg') }
.icon-unlistened { background-image: url('iconsets/Purpletrator/headphones.svg') }
.icon-block { background-image: url('iconsets/Purpletrator/lastfm-ban.svg') }
.icon-heart { background-image: url('iconsets/Purpletrator/lastfm-love.svg') }
.icon-heart-broken { background-image: url('iconsets/Purpletrator/lastfm-unlove.svg') }
.icon-refresh { background-image: url('iconsets/Purpletrator/refresh.svg') }
.icon-dirble-circled { background-image: url('iconsets/Purpletrator/dirble-logo.svg') }
.icon-tunein { background-image: url('iconsets/Purpletrator/../../newimages/tunein-logo.svg') }
.icon-no-response-playbutton { background-image :url('iconsets/Purpletrator/media-playback-start.svg') }
.icon-tags { background-image: url('iconsets/Purpletrator/tag.svg') }
.icon-volume-up { background-image: url('iconsets/Purpletrator/volume.svg') }
.icon-toggle-open { background-image: url('iconsets/Purpletrator/toggle-open.svg') }
.icon-toggle-closed { background-image: url('iconsets/Purpletrator/toggle-closed.svg') }
.icon-spin6 { background-image: url('iconsets/Purpletrator/spinner.svg') }
.icon-output { background-image: url('iconsets/Purpletrator/output.svg') }
.icon-output-mute { background-image: url('iconsets/Purpletrator/output_mute.svg') }
.icon-sliders { background-image: url('iconsets/Purpletrator/sliders.svg') }
.icon-0-stars { background-image: url('iconsets/Purpletrator/0stars.svg') }
.icon-1-stars { background-image: url('iconsets/Purpletrator/1stars.svg') }
.icon-2-stars { background-image: url('iconsets/Purpletrator/2stars.svg') }
.icon-3-stars { background-image: url('iconsets/Purpletrator/3stars.svg') }
.icon-4-stars { background-image: url('iconsets/Purpletrator/4stars.svg') }
.icon-5-stars { background-image: url('iconsets/Purpletrator/5stars.svg') }
.icon-single-star { background-image: url('iconsets/Purpletrator/singlestar.svg') }
.icon-ratandtag { background-image: url('iconsets/Purpletrator/ratandtag.svg') }
.icon-ratortag { background-image: url('iconsets/Purpletrator/ratortag.svg') }
.icon-toggle-on { background-image: url('iconsets/Purpletrator/togglebutton-new2-on.svg') }
.icon-toggle-off { background-image: url('iconsets/Purpletrator/togglebutton-new2-off.svg') }

.icon-random.flow-on { background-image: url('iconsets/Purpletrator/shuffle.svg') }
.icon-random.flow-off { background-image: url('iconsets/Purpletrator/shuffle_off.svg') }
.icon-crossfade.flow-on { background-image: url('iconsets/Purpletrator/crossfade.svg') }
.icon-crossfade.flow-off { background-image: url('iconsets/Purpletrator/crossfade_off.svg') }
.icon-repeat.flow-on { background-image: url('iconsets/Purpletrator/refresh.svg') }
.icon-repeat.flow-off { background-image: url('iconsets/Purpletrator/refresh_off.svg') }
.icon-consume.flow-on { background-image: url('iconsets/Purpletrator/consume.svg') }
.icon-consume.flow-off { background-image: url('iconsets/Purpletrator/consume_off.svg') }

.icon-allrandom { background-image: url('iconsets/Purpletrator/shuffle.svg') }
.icon-neverplayed { background-image: url('iconsets/Purpletrator/neverheard.svg') }
.icon-recentlyplayed { background-image: url('iconsets/Purpletrator/calendar.svg') }
.icon-artist { background-image: url('iconsets/Purpletrator/artist-icon.svg') }
.icon-mp3-audio { background-image: url('iconsets/Purpletrator/mp3-audio.svg') }
.icon-aac-audio { background-image: url('iconsets/Purpletrator/aac-audio.svg') }
.icon-flac-audio { background-image: url('iconsets/Purpletrator/flac-audio.svg') }
.icon-wma-audio { background-image: url('iconsets/Purpletrator/wma-audio.svg') }
.icon-ogg-audio { background-image: url('iconsets/Purpletrator/ogg-audio.svg') }
.icon-explicit { background-image: url('iconsets/Purpletrator/parental-advisory.svg') }
.icon-expand-up { background-image: url('iconsets/Purpletrator/expand-up.svg') }
.icon-rss { background-image: url('iconsets/Purpletrator/rss.svg') }
.icon-tick { background-image: url('iconsets/Purpletrator/tick.svg') }
.icon-video { background-image: url('iconsets/Purpletrator/movie-1.svg') }
.icon-bbc-logo { background-image: url('iconsets/Purpletrator/bbc-logo.svg') }
.icon-imdb-logo { background-image: url('iconsets/Purpletrator/imdb-logo.svg') }
.icon-facebook-logo { background-image: url('iconsets/Purpletrator/facebook-logo.svg') }
.icon-twitter-logo { background-image: url('iconsets/Purpletrator/twitter-logo.svg') }
.icon-www { background-image: url('iconsets/Purpletrator/world-wide-web.svg') }
.icon-allmusic { background-image: url('iconsets/Purpletrator/allmusic-logo.svg') }
.icon-updown { background-image: url('iconsets/Purpletrator/arrow-updown.svg') }
.icon-snapcast { background-image: url('iconsets/Purpletrator/../../newimages/snapcast.png') }

.styledinputs label
{
    display:inline-block;
    cursor:pointer;
    position:relative;
    padding-left:2em;
    line-height:1.5em;
}

.styledinputs input[type=radio]
{
    display:none;
}

.styledinputs input[type=checkbox]
{
    display:none;
}

.styledinputs label:before
{
    content:"";
    display:inline-block;
    width:1.5em;
    height:1.5em;
    position:absolute;
    left:0;
    background-image: url('iconsets/Purpletrator/togglebutton-new2-off.svg');
    background-size: auto 80%;
	background-position: center;
	background-repeat:no-repeat;
}

.styledinputs input:checked + label:before
{
    background-image: url('iconsets/Purpletrator/togglebutton-new2-on.svg') !important;
}

img.notexist,img.notfound
{
    background-image: url('iconsets/Purpletrator/compact-disc.svg');
    background-size:contain;
    display:inline-block;
    background-position: center;
	background-repeat:no-repeat;
}

img.stream.notfound, img.stream.notexist
{
    background-image: url('iconsets/Purpletrator/broadcast-new.svg');
}

img.plimage.notfound
{
    background-image: url('iconsets/Purpletrator/playlist.svg');
}

.backmenu
{
    background-image: url('iconsets/Purpletrator/arrow-left-double.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

button.searchbutton {
    background-image: url('iconsets/Purpletrator/system-search.svg');
}

button.rssbutton {
    background-image: url('iconsets/Purpletrator/rss.svg');
}

button.savebutton {
    background-image: url('iconsets/Purpletrator/document-save.svg');
}
