/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

h1 {
    font-size:130%;
}

h2 {
    font-size:120%;
}

/*Awful hack because the styled select boxes only seem to
register clicks on their borders. This gives them a big fat
right-hand border that overlaps the dropdown button
*/
select {
    width:100%;
    height:3em;
}

.selectholder {
    height:3em;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#pscroller {
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

#loadsawrappers {
    width: 100%;
    overflow:hidden;
}

#headerbar {
    height:40px;
    padding:0px;
    margin:0px;
}

#volumecontrol {
    height:2em;
}

#volume {
    width: 95%;
}

#infobar {
    overflow-x:hidden;
    overflow-y:hidden;
}

#playbackTime {
    font-weight:bold;
    font-size:8px;
    padding-top:1px;
    height:11px;
    line-height:11px;
    text-align:center;
    width:100%;
}

#buttons {
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:2px !important;
    padding-bottom:0px !important;
    text-align:center;
}

#nowplaying {
    /* white-space:nowrap; */
    margin:auto;
    width:95%;
}

#nptext {
    text-align:center;
}

#subscribe {
    float:left;
    margin-left:12px;
}

#lastfm {
    float:left;
    margin-left:12px;
    line-height:34px;
    height:34px;
}

#playcount {
    padding-top:0px;
    padding-left:8px;
    margin-left:12px;
    margin-right:12px;
    overflow:hidden;
    opacity:0.9;
    font-size:8pt;
    height:34px;
    line-height:34px;
    float:left;
}

#dbtags {
    padding-top:0px;
    padding-left:8px;
    overflow:hidden;
    opacity:0.9;
    font-size:8pt;
    line-height:34px;
    float:left;
}

#scrobwrangler {
    font-size:8pt;
    width:90%;
}

#stars {
    float: left;
    margin-top:0px;
    margin-right:2px;
    margin-left:4px;
    padding-top:0px;
}

#controls {
    padding-top:1px;
}

#notifications {
    position:absolute;
    width:100%;
    padding:4px;
    bottom:0px;
    left:0px;
    display:none;
    font-size:8pt;
    font-weight:bold;
    z-index:2000;
}

#lastfm img {
    margin-right:4px;
}

#chooserbuttons
{
    padding-top:4px;
}

#sourcescontrols
{
    width:100%;
}

/*
=====================================================================
= General Classes
=====================================================================
*/

div.topdropmenu {
    z-index:10009;
    box-sizing:border-box;
    width:100%;
    position:fixed;
    right: 0;
}

div.topdropmenu.albumbitsmenu {
    position: absolute;
    top: 12px;
}

.chooser {
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    font-size:130%;
    padding-bottom:1em;
    text-align:center;
    cursor:pointer;
}

.topdrop
{
    display: inline-block;
    float: none !important;
}

.pref {
    margin-left:8px;
    margin-bottom:12px;
}

.topimg {
    margin-right:4px;
    margin-left:4px;
    margin-bottom:2px;
    margin-top:4px;
    cursor: pointer;
}

.topdropmenu .topimg {
    width:36px;
    height:36px;
}

#narrowscreenicons {
    padding-right: 24px;
}

.mobonly {
    display:inline-block;
}

.tagremover {
    margin-left:0.5em;
}

.menuitem {
    font-weight:bold;
    margin:0px;
    padding-left:4px;
    padding-right:0px;
    padding-top:6px;
    padding-bottom:6px;
    -webkit-box-align:center;
    align-items: center;
}

.playlistalbum {
    font-weight:bold;
    margin:0px;
    padding-left:4px;
    padding-right:0px;
    padding-top:6px;
    padding-bottom:6px;
    -webkit-box-align:stretch;
    align-items: stretch;
}

.menu {
    width:1.5em;
    height:1.5em;
    vertical-align:middle;
    cursor:pointer;
    box-sizing:border-box;
    border:6px solid transparent;
}

@media screen and (max-width: 320px) {

    .dropmenu {
        padding-left:16px;
    }

    .indent {
        margin-left:12px;
    }
}

@media screen and (min-width: 321px) and (max-width: 500px) {

    .dropmenu {
        padding-left:24px;
    }

    .indent {
        margin-left:18px;
    }
}

@media screen and (min-width: 501px) {

    .dropmenu {
        padding-left:38px;
    }

    .indent {
        margin-left:24px;
    }
}

.menuspacer {
    width:1.5em;
    height:1.5em;
}

.mh {
    display:block;
    padding:8px;
    margin-top:2px;
    margin-bottom:2px;
    margin-right:1em;
}

.ninesix {
    font-size:96%;
    padding-top:4px;
    padding-bottom:4px;
}

div.normalmenu {
    width:40px;
}

div.rightmenu {
    top:38px;
    right:0px;
}

.infobarlayout {
    height:70px;
}

.playlistrow2 {
    font-size:80%;
}

.clrbth {
    clear:both;
    display:table;
    margin-top:8px;
}

.scroller {
    -webkit-overflow-scrolling:touch;
    overflow-y:scroll;
    overflow-x:hidden;
}

.progressbar_v {
    height:100%;
    width:2em;
    margin-right:auto;
    margin-left:auto;
}

.infobox {
    float:none;
    clear:both;
    margin-left:auto !important;
    margin-right:auto !important;
    width:90% !important;
}

.infobox_v3 {
    float:none;
    clear:both;
    margin-left:auto !important;
    margin-right:auto !important;
    width:90% !important;
}

.thumb {
    float:none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.content img {
    max-width: 100% !important;
    height: auto !important;
}

.thumbinner
{
    margin-left:auto;
    margin-right:auto;
}

.info-box-fixed {
    padding-left: 1em;
}

.podicon {
    margin-top:4px;
    margin-bottom:4px;
    margin-left:4px;
    margin-right:16px;
    height:40px;
    width:40px;
    font-size:40px;
    vertical-align:middle;
    box-sizing:border-box;
    border:8px solid transparent;
}

.combo-button {
    box-sizing: border-box;
    border: 4px solid transparent;
}

.backhi {
    padding-left:2px;
    padding-right:2px;
    padding-top:4px;
    padding-bottom:4px;
}

.playlisticon
{
    padding:0px;
    margin-right:4px;
    margin-bottom:2px;
    margin-top:2px;
    vertical-align:middle;
    box-sizing:border-box;
    border:6px solid transparent;
    height: 26px;
    width: 26px;
}

.collectionicon {
    padding:0px;
    margin-right:4px;
    margin-bottom:2px;
    margin-top:2px;
    vertical-align:middle;
    width:20px;
    height:20px
}

.playlisticonr {
    padding:0px;
    margin-left:4px;
    margin-bottom:2px;
    margin-top:2px;
    margin-right:2px;
    vertical-align:middle;
    box-sizing:border-box;
    border:8px solid transparent;
    width:32px;
    height:32px;
}

#sortable .playlisticonr {
    margin-right:4px;
    width: 48px;
}

#collection .playlisticonr {
    margin-right:4px;
    width: 48px;
}

#sortable .track>div>div.clickable {
    margin-right: 8px;
}

#sortable {
    position: relative;
}

.playlistdown {
    margin-right: 12px;
}

.npicon {
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:4px;
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-right:0px;
    height:26px;
    width:26px;
    vertical-align:middle;
}

.rating-icon-big {
    height: 34px;
    width: 140px;
    line-height:1em;
    padding-bottom:4px;
    cursor: pointer;
    vertical-align:middle;
}

.rating-icon-small {
    height: 14px;
    width: 70px;
    cursor: pointer;
    vertical-align:middle;

}

#ratingimage {
    padding-bottom:0px;
}

.trackgroup {
    white-space:normal;
}

.dropdown-button {
    margin-left:-20px !important;
}

.padright {
    padding-right:4px;
}

.whatdoicallthis {
    margin-bottom: 8px;
}

.podhackshit {
    margin-bottom:2em;
}

.cshrinker {
    max-width:35%;
}

#toomanywrappers {
    height: 100%;
    width: 100%;
}

.pleft
{
    box-sizing:border-box;
    padding-left:8px;
}
.pright
{
    box-sizing:border-box;
    padding-right:8px;
}
.mobmenu
{
    position:absolute;
    top:4px;
    left:4px;
    width:95%;
    max-height:95%;
    box-sizing:border-box;
    padding:8px;
    overflow-y:scroll !important;
}

/*
=====================================================================
= Responsive Layout
=====================================================================
*/

#albumpicture {
    width:100%;
    height:100%;
    object-fit:scale-down;
}

@media screen and (max-width:639px) and (orientation: landscape) {

    .mainpane {
        width: 100%;
        height: 100%;
    }
    #playlistm {
        width: 100%;
        height: 100%;
    }

    #albumcover {
        height:50vh;
        width:100%;
        max-width:100vw;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width:640px) and (orientation: landscape) {

    .mainpane {
        width: 50%;
        float:left;
        height: 100%;
    }
    #playlistm {
        width: 50%;
        float:left;
        height: 100%;
    }

    #infobar {
        display:block;
    }

    #infopane {
        width:100%;
    }

    #albumcover {
        height:35vh;
        max-height:40vw;
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (max-width: 350px) and (orientation: landscape) {
    #albumcover {
        height:100px !important;
        width:100px !important;
    }

}

@media screen and (max-width: 440px) and (orientation: landscape) {
    .controlbutton {
        width:38px !important;
        height:38px !important;
    }
    .controlbutton-small {
        width:32px !important;
        height:32px !important;
    }
}

@media screen and (max-height: 378px) and (max-width: 639px) and (orientation: landscape) {

    #albumcover {
        width:60vh;
        float:left;
        margin-left:4px;
    }

    #cssisshit {
        overflow:auto;
    }

    #mobileplaylistcontrols
    {
        display:none;
    }

}

@media screen and (max-height:378px) and (min-width: 640px) and (orientation: landscape) {
    #albumcover {
        height:28vh;
    }
}

@media screen and (min-height: 768px) and (orientation: landscape) {
    #albumcover {
        height:50vh;
    }
}

@media screen and (max-height: 699px) and (orientation: portrait) {

    #playlistm {
        width:100%;
        height:100%;
    }
    .mainpane {
        width: 100%;
        height: 100%;
    }

    #albumcover {
        height:50vh;
        width:100%;
        max-width:100vw;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (max-width: 640px) {
    .info-detail-layout {
        -webkit-box-orient:vertical;
        flex-direction: column;
    }
    .info-box-expand.info-border-right {
        margin-bottom:1em;
        padding-bottom:0.5em;
    }
}

@media screen and (min-width: 641px) {
    .cleft.narrowright {
        margin-left:1em;
    }
}

.sptext {
    white-space:nowrap;
    padding-right:4px;
    text-align:right;
    margin-right:24px;
}

@media screen and (max-height: 380px) and (orientation: portrait) {
    #albumcover {
        height:30vh;
    }
}

@media screen and (min-height:381px) and (max-height: 480px) and (orientation: portrait) {
    #albumcover {
        height:45vh;
    }
}

@media screen and (min-height: 700px) and (orientation: portrait) {

    .mainpane {
        width: 100%;
        height: 100%;
    }

    #infobar {
        height: 50%;
        width: 100%;
    }

    #playlistm {
        height:50%;
        width:100%;
    }

    .choose_playlist {
/*        This is here so the layoutProcessor knows we're in tall portrait mode
        and it should choose infobar instead
*/
        font-weight:900;
    }
    #albumcover {
        height:20vh;
        width:100%;
        max-width:100vw;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (max-height: 378px) and (orientation: portrait) {

    #cssisshit {
        width:100%;
    }

}

@media screen and (max-height: 378px) {
    #progress {
        font-size:6pt;
        margin-top:4px;
    }
}

@media screen and (min-height: 379px) and  (max-height: 700px) {

    #progress {
        font-size:7pt;
        margin-top:4px;
    }

}

@media screen and (min-height: 701px) and (max-height: 1023px) {

    #progress {
        font-size:8pt;
        margin-top:4px;
    }

}

@media screen and (max-height: 999px) {
    #geoffreyboycott {
        padding-top:2px;
    }

/*    #cssisshit {
        width:100%;
    }
*/}

@media screen and (min-height: 780px) and (min-width: 601px) and (orientation: portrait) {

    #cssisshit {
        overflow: auto;
    }

    #albumcover {
        width:50vw;
        height:30vh;
        float:left;
        margin-left:4px;
    }

    #amontobin {
        text-align:center;
        margin-top: 1em;
    }

    #amontobin div {
        float:none;
        margin-top:0.25em;
        font-size:110%;
    }

}

@media screen and (min-height: 1000px) {

    #geoffreyboycott {
        padding-top:2px;
    }

    #progress {
        font-size:8pt;
        margin-top:4px;
    }

    #headerbar {
        height:42px;
        padding:0px;
        margin:0px;
    }

    #bottompage {
        top:42px;
        width:100%;
    }

    div.normalmenu {
        width:44px !important;
    }

    div.rightmenu {
        top:44px !important;
        right:0px;
    }
}

@media screen and (max-width: 540px) {
    .stleft
    {
        float:none;
        width:auto;
        max-width:95%;
        clear:both;
        border-right:none !important;
        border-bottom: 1px solid #dddddd !important;
    }
}

@media screen and (max-width: 540px) {
    .onlywide {
        display:none !important;
    }
}

@media screen and (min-width: 541px) {
    .onlynarrow {
        display:none !important;
    }
}

.setupdiv
{
    width:100%;
    box-sizing:border-box;
}

.headercontainer {
    height:90%;
    box-sizing: border-box;
}

.buttonbar {
    height: 42px;
}

.onlyverywide {
    padding-left:8px;
    padding-right:8px;
    box-sizing:border-box;
}

@media screen and (max-width: 799px) {
    .onlyverywide {
        display: none;
    }
}
