
 [class^="icon-"], [class*=" icon-"] {
 	background-size:contain;
	background-repeat:no-repeat;
	background-position: center;
	display:inline-block;
}

.button-disabled { opacity: 0.1 }

.clearbox, {
    background-image: url('iconsets/Colourful/edit-delete.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry, div.selectholder {
    background-image: url('iconsets/Colourful/blobdown2.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry:hover, div.selectholder:hover {
    background-image: url('iconsets/Colourful/blobdown2-hi.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

#ratingsearch {
    position: relative;
}

#ratingsearch:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    background-image: url('iconsets/Colourful/0stars.svg');
    background-size: auto 50%;
    background-position: left 2px center;
    background-repeat: no-repeat;
}

i.combo-button {
    background-image: url('iconsets/Colourful/blobdown2.svg');
}

.icon-play-circled { background-image :url('iconsets/Colourful/media-playback-start.svg') }
.playdiv { background-image :url('iconsets/Colourful/media-playback-start.svg') }
.icon-play-circled:hover { background-image :url('iconsets/Colourful/media-playback-start-highlight.svg') }
.icon-pause-circled { background-image :url('iconsets/Colourful/media-playback-pause.svg') }
.icon-pause-circled:hover { background-image :url('iconsets/Colourful/media-playback-pause-highlight.svg') }
.icon-fast-backward { background-image :url('iconsets/Colourful/media-skip-backward.svg') }
.icon-fast-backward:hover { background-image :url('iconsets/Colourful/media-skip-backward-highlight.svg') }
.icon-fast-forward { background-image :url('iconsets/Colourful/media-skip-forward.svg') }
.icon-fast-forward:hover { background-image :url('iconsets/Colourful/media-skip-forward-highlight.svg') }
.icon-stop-1 { background-image :url('iconsets/Colourful/media-playback-stop.svg') }
.icon-stop-1:hover { background-image :url('iconsets/Colourful/media-playback-stop-highlight.svg') }
.icon-to-end-1 { background-image :url('iconsets/Colourful/stopafter.svg') }
.icon-to-end-1:hover { background-image :url('iconsets/Colourful/stopafter-highlight.svg') }

.icon-music { background-image: url('iconsets/Colourful/collection.svg') }
.icon-search { background-image: url('iconsets/Colourful/system-search.svg') }
.icon-folder-open-empty { background-image: url('iconsets/Colourful/folder.svg') }
.icon-radio-tower { background-image: url('iconsets/Colourful/broadcast-new.svg') }
.icon-cd { background-image: url('iconsets/Colourful/cd_case.svg') }
.icon-resize-horizontal { background-image: url('iconsets/Colourful/resize.svg') }
.icon-angle-double-left { background-image:url('iconsets/Colourful/arrow-left-double.svg') }
.icon-angle-double-right { background-image:url('iconsets/Colourful/arrow-right-double.svg') }
.icon-menu { background-image: url('iconsets/Colourful/pushbutton.svg') }
.icon-versions { background-image: url('iconsets/Colourful/history.svg') }
.icon-left-circled { background-image: url('iconsets/Colourful/backbutton.svg') }
.icon-right-circled { background-image: url('iconsets/Colourful/forwardbutton.svg') }
.icon-cog-alt { background-image: url('iconsets/Colourful/preferences.svg') }
.icon-trash { background-image: url('iconsets/Colourful/edit-clear-list.svg') }
.icon-wifi { background-image: url('iconsets/Colourful/smartradio.svg') }
.icon-doc-text { background-image: url('iconsets/Colourful/playlist.svg') }
.icon-floppy { background-image: url('iconsets/Colourful/document-save.svg') }
.icon-cancel-circled { background-image: url('iconsets/Colourful/edit-delete.svg') }
.icon-plus {
	background-image: url('iconsets/Colourful/add.svg');
}
.icon-alarm { background-image: url('iconsets/Colourful/alarmclock_false.svg') }
.icon-alarm-on { background-image: url('iconsets/Colourful/alarmclock_true.svg') }
.icon-sleep { background-image: url('iconsets/Colourful/sleep.png') }
.icon-library { background-image: url('iconsets/Colourful/file.svg') }
.icon-lastfm-1 { background-image: url('iconsets/Colourful/lastfm.svg') }
.icon-wikipedia { background-image: url('iconsets/Colourful/wikipedia-logo.svg') }
.icon-musicbrainz {	background-image: url('iconsets/Colourful/musicbrainz_logo.svg') }
.icon-discogs {	background-image: url('iconsets/Colourful/discogs-logo.svg') }
.icon-doc-text-1 { background-image: url('iconsets/Colourful/lyrics.svg') }
.icon-soundcloud-circled { background-image: url('iconsets/Colourful/soundcloud-logo.svg') }
.icon-youtube-circled { background-image: url('iconsets/Colourful/youtube-logo.svg') }
.icon-gmusic-circled { background-image: url('iconsets/Colourful/gmusic-logo.svg') }
.icon-spotify-circled { background-image: url('iconsets/Colourful/spotify-logo.svg') }
.icon-vkontakte-circled { background-image: url('iconsets/Colourful/vkontakte-logo.svg') }
.icon-podcast-circled { background-image: url('iconsets/Colourful/podcast-logo.svg') }
.icon-audiobook { background-image: url('iconsets/Colourful/audiobook.svg') }
.icon-internetarchive-circled { background-image: url('iconsets/Colourful/internetarchive-logo.svg') }
.icon-increase { background-image: url('iconsets/Colourful/arrow-increase.svg') }
.icon-decrease { background-image: url('iconsets/Colourful/arrow-decrease.svg') }
.icon-attention-1 { background-image: url('iconsets/Colourful/dialog-error.svg') }
.icon-info-circled { background-image: url('iconsets/Colourful/dialog-information.svg') }
.icon-download { background-image: url('iconsets/Colourful/download-icon.svg') }
.icon-sun { background-image: url('iconsets/Colourful/icon-new.svg') }
.icon-headphones { background-image: url('iconsets/Colourful/headphones.svg') }
.icon-unlistened { background-image: url('iconsets/Colourful/unlistened.svg') }
.icon-block { background-image: url('iconsets/Colourful/lastfm-ban.svg') }
.icon-heart { background-image: url('iconsets/Colourful/lastfm-love.svg') }
.icon-heart-broken { background-image: url('iconsets/Colourful/lastfm-unlove.svg') }
.icon-refresh { background-image: url('iconsets/Colourful/refresh.svg') }
.icon-dirble-circled { background-image: url('iconsets/Colourful/dirble-logo.svg') }
.icon-tunein { background-image: url('iconsets/Colourful/../../newimages/tunein-logo.svg') }
.icon-no-response-playbutton { background-image :url('iconsets/Colourful/media-playback-start.svg') }
.icon-tags { background-image: url('iconsets/Colourful/tag.svg') }
.icon-volume-up { background-image: url('iconsets/Colourful/volume.svg') }
.icon-toggle-open { background-image: url('iconsets/Colourful/toggle-open.svg') }
.icon-toggle-closed { background-image: url('iconsets/Colourful/toggle-closed.svg') }
.icon-spin6 { background-image: url('iconsets/Colourful/spinner.svg') }
.icon-output { background-image: url('iconsets/Colourful/output.svg') }
.icon-output-mute { background-image: url('iconsets/Colourful/output_mute.svg') }
.icon-sliders { background-image: url('iconsets/Colourful/sliders.svg') }
.icon-0-stars { background-image: url('iconsets/Colourful/0stars.svg') }
.icon-1-stars { background-image: url('iconsets/Colourful/1stars.svg') }
.icon-2-stars { background-image: url('iconsets/Colourful/2stars.svg') }
.icon-3-stars { background-image: url('iconsets/Colourful/3stars.svg') }
.icon-4-stars { background-image: url('iconsets/Colourful/4stars.svg') }
.icon-5-stars { background-image: url('iconsets/Colourful/5stars.svg') }
.icon-single-star { background-image: url('iconsets/Colourful/singlestar.svg') }
.icon-ratandtag { background-image: url('iconsets/Colourful/ratandtag.svg') }
.icon-ratortag { background-image: url('iconsets/Colourful/ratortag.svg') }
.icon-toggle-on { background-image: url('iconsets/Colourful/togglebutton-new2-on.svg') }
.icon-toggle-off { background-image: url('iconsets/Colourful/togglebutton-new2-off.svg') }

.icon-random.flow-on { background-image: url('iconsets/Colourful/random.svg') }
.icon-random.flow-off { background-image: url('iconsets/Colourful/random_off.svg') }
.icon-crossfade.flow-on { background-image: url('iconsets/Colourful/crossfade.svg') }
.icon-crossfade.flow-off { background-image: url('iconsets/Colourful/crossfade_off.svg') }
.icon-repeat.flow-on { background-image: url('iconsets/Colourful/refresh.svg') }
.icon-repeat.flow-off { background-image: url('iconsets/Colourful/refresh_off.svg') }
.icon-consume.flow-on { background-image: url('iconsets/Colourful/consume.svg') }
.icon-consume.flow-off { background-image: url('iconsets/Colourful/consume_off.svg') }

.icon-allrandom { background-image: url('iconsets/Colourful/shuffle.png') }
.icon-neverplayed { background-image: url('iconsets/Colourful/neverheard.png') }
.icon-recentlyplayed { background-image: url('iconsets/Colourful/calendar.svg') }
.icon-artist { background-image: url('iconsets/Colourful/artist-icon.png') }
.icon-mp3-audio { background-image: url('iconsets/Colourful/mp3-audio.svg') }
.icon-aac-audio { background-image: url('iconsets/Colourful/aac-audio.jpg') }
.icon-flac-audio { background-image: url('iconsets/Colourful/flac-audio.svg') }
.icon-wma-audio { background-image: url('iconsets/Colourful/wma-audio.svg') }
.icon-ogg-audio { background-image: url('iconsets/Colourful/ogg-audio.svg') }
.icon-explicit { background-image: url('iconsets/Colourful/parental-advisory.svg') }
.icon-expand-up { background-image: url('iconsets/Colourful/expand-up.svg') }
.icon-rss { background-image: url('iconsets/Colourful/rss.svg') }
.icon-tick { background-image: url('iconsets/Colourful/tick.svg') }
.icon-video { background-image: url('iconsets/Colourful/movie-1.svg') }
.icon-bbc-logo { background-image: url('iconsets/Colourful/bbc-logo.svg') }
.icon-imdb-logo { background-image: url('iconsets/Colourful/imdb-logo.svg') }
.icon-facebook-logo { background-image: url('iconsets/Colourful/facebook-logo.svg') }
.icon-twitter-logo { background-image: url('iconsets/Colourful/twitter-logo.svg') }
.icon-www { background-image: url('iconsets/Colourful/world-wide-web.svg') }
.icon-allmusic { background-image: url('iconsets/Colourful/allmusic-logo.svg') }
.icon-updown { background-image: url('iconsets/Colourful/arrow-updown.svg') }
.icon-snapcast { background-image: url('iconsets/Colourful/../../newimages/snapcast.png') }

.styledinputs label
{
    display:inline-block;
    cursor:pointer;
    position:relative;
    padding-left:2.5em;
    line-height:1.5em;
}

.styledinputs input[type=radio]
{
    display:none;
}

.styledinputs input[type=checkbox]
{
    display:none;
}

.styledinputs label:before
{
    content:"";
    display:inline-block;
    width:2em;
    height:1.5em;
    position:absolute;
    left:0;
    /* bottom:0.2em; */
    background-image: url('iconsets/Colourful/togglebutton-new2-off.svg');
 	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
}

.styledinputs input:checked + label:before
{
    background-image: url('iconsets/Colourful/togglebutton-new2-on.svg') !important;
}

img.notexist,img.notfound
{
    background-image: url('iconsets/Colourful/compact-disc.svg');
    background-size:contain;
    display:inline-block;
    background-position: center;
	background-repeat:no-repeat;
}

img.stream.notfound, img.stream.notexist
{
    background-image: url('iconsets/Colourful/broadcast-new.svg');
}

img.plimage.notfound
{
    background-image: url('iconsets/Colourful/playlist.svg');
}

.backmenu
{
    background-image: url('iconsets/Colourful/arrow-left-double.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

button.searchbutton {
    background-image: url('iconsets/Colourful/system-search.svg');
}

button.rssbutton {
    background-image: url('iconsets/Colourful/rss.svg');
}

button.savebutton {
    background-image: url('iconsets/Colourful/document-save.svg');
}

