@import url('https://fonts.googleapis.com/css?family=Overlock:400,400i,700,700i&subset=latin-ext');
body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input,button,select,option
{
	font-family: "Overlock", cursive;
}