
 [class^="icon-"], [class*=" icon-"] {
 	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	display:inline-block;
}

[class^="icon-"]:not(.button-disabled):hover, [class*=" icon-"]:not(.button-disabled):hover {
    opacity: 1;
    background-color: rgba(255,173,0,0.07);
}

.clearbox {
    background-image: url('iconsets/New-Light-Circled/edit-delete.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry, div.selectholder {
    background-image: url('iconsets/New-Light-Circled/blobdown3.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry:hover, div.selectholder:hover {
    background-image: url('iconsets/New-Light-Circled/blobdown3-hi.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

#ratingsearch {
    position: relative;
}

#ratingsearch:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    z-index: -1;
    background-image: url('iconsets/New-Light-Circled/0stars.svg');
    background-size: auto 50%;
    background-position: left 2px center;
    background-repeat: no-repeat;
}

i.combo-button {
    background-image: url('iconsets/New-Light-Circled/blobdown3.svg');
}

.button-disabled { opacity: 0.1 }

.icon-play-circled { background-image :url('iconsets/New-Light-Circled/media-playback-start.svg') }
.playdiv { background-image :url('iconsets/New-Light-Circled/media-playback-start.svg') }
.icon-play-circled:hover { background-image :url('iconsets/New-Light-Circled/media-playback-start-highlight.svg') }
.icon-pause-circled { background-image :url('iconsets/New-Light-Circled/media-playback-pause.svg') }
.icon-pause-circled:hover { background-image :url('iconsets/New-Light-Circled/media-playback-pause-highlight.svg') }
.icon-fast-backward { background-image :url('iconsets/New-Light-Circled/media-skip-backward.svg') }
.icon-fast-backward:hover { background-image :url('iconsets/New-Light-Circled/media-skip-backward-highlight.svg') }
.icon-fast-forward { background-image :url('iconsets/New-Light-Circled/media-skip-forward.svg') }
.icon-fast-forward:hover { background-image :url('iconsets/New-Light-Circled/media-skip-forward-highlight.svg') }
.icon-stop-1 { background-image :url('iconsets/New-Light-Circled/media-playback-stop.svg') }
.icon-stop-1:hover { background-image :url('iconsets/New-Light-Circled/media-playback-stop-highlight.svg') }
.icon-to-end-1 { background-image :url('iconsets/New-Light-Circled/stopafter.svg') }
.icon-to-end-1:hover { background-image :url('iconsets/New-Light-Circled/stopafter-highlight.svg') }

.icon-music { background-image: url('iconsets/New-Light-Circled/collection.svg') }
.icon-search { background-image: url('iconsets/New-Light-Circled/system-search.svg') }
.icon-folder-open-empty { background-image: url('iconsets/New-Light-Circled/folder.svg') }
.icon-radio-tower { background-image: url('iconsets/New-Light-Circled/broadcast-new.svg') }
.icon-cd { background-image: url('iconsets/New-Light-Circled/cd_case.svg') }
.icon-resize-horizontal { background-image: url('iconsets/New-Light-Circled/resize.svg') }
.icon-angle-double-left { background-image:url('iconsets/New-Light-Circled/arrow-left-double.svg') }
.icon-angle-double-right { background-image:url('iconsets/New-Light-Circled/arrow-right-double.svg') }
.icon-menu { background-image: url('iconsets/New-Light-Circled/pushbutton.svg') }
.icon-versions { background-image: url('iconsets/New-Light-Circled/history.svg') }
.icon-left-circled { background-image: url('iconsets/New-Light-Circled/backbutton.svg') }
.icon-right-circled { background-image: url('iconsets/New-Light-Circled/forwardbutton.svg') }
.icon-cog-alt { background-image: url('iconsets/New-Light-Circled/preferences.svg') }
.icon-trash { background-image: url('iconsets/New-Light-Circled/edit-clear-list.svg') }
.icon-wifi { background-image: url('iconsets/New-Light-Circled/smartradio.svg') }
.icon-doc-text { background-image: url('iconsets/New-Light-Circled/playlist.svg') }
.icon-floppy { background-image: url('iconsets/New-Light-Circled/document-save.svg') }
.icon-cancel-circled { background-image: url('iconsets/New-Light-Circled/edit-delete.svg') }
.icon-plus {
	background-image: url('iconsets/New-Light-Circled/add.svg');
}
.icon-alarm { background-image: url('iconsets/New-Light-Circled/alarmclock_false.svg') }
.icon-alarm-on { background-image: url('iconsets/New-Light-Circled/alarmclock_true.svg') }
.icon-sleep { background-image: url('iconsets/New-Light-Circled/sleep.svg') }
.icon-library { background-image: url('iconsets/New-Light-Circled/file.svg') }
.icon-lastfm-1 { background-image: url('iconsets/New-Light-Circled/lastfm.svg') }
.icon-wikipedia { background-image: url('iconsets/New-Light-Circled/wikipedia-logo.svg') }
.icon-musicbrainz {	background-image: url('iconsets/New-Light-Circled/musicbrainz_logo.svg') }
.icon-discogs {	background-image: url('iconsets/New-Light-Circled/discogs-logo.svg') }
.icon-doc-text-1 { background-image: url('iconsets/New-Light-Circled/lyrics.svg') }
.icon-soundcloud-circled { background-image: url('iconsets/New-Light-Circled/soundcloud-logo.svg') }
.icon-youtube-circled { background-image: url('iconsets/New-Light-Circled/youtube-logo.svg') }
.icon-gmusic-circled { background-image: url('iconsets/New-Light-Circled/gmusic-logo.svg') }
.icon-spotify-circled { background-image: url('iconsets/New-Light-Circled/spotify-logo.svg') }
.icon-vkontakte-circled { background-image: url('iconsets/New-Light-Circled/vkontakte-logo.svg') }
.icon-podcast-circled { background-image: url('iconsets/New-Light-Circled/podcast-logo.svg') }
.icon-audiobook { background-image: url('iconsets/New-Light-Circled/audiobook.svg') }
.icon-internetarchive-circled { background-image: url('iconsets/New-Light-Circled/internetarchive-logo.svg') }
.icon-increase { background-image: url('iconsets/New-Light-Circled/arrow-increase.svg') }
.icon-decrease { background-image: url('iconsets/New-Light-Circled/arrow-decrease.svg') }
.icon-attention-1 { background-image: url('iconsets/New-Light-Circled/dialog-error.svg') }
.icon-info-circled { background-image: url('iconsets/New-Light-Circled/dialog-information.svg') }
.icon-download { background-image: url('iconsets/New-Light-Circled/download-icon.svg') }
.icon-sun { background-image: url('iconsets/New-Light-Circled/icon-new.svg') }
.icon-headphones { background-image: url('iconsets/New-Light-Circled/headphones.svg') }
.icon-unlistened { background-image: url('iconsets/New-Light-Circled/headphones.svg') }
.icon-block { background-image: url('iconsets/New-Light-Circled/lastfm-ban.svg') }
.icon-heart { background-image: url('iconsets/New-Light-Circled/lastfm-love.svg') }
.icon-heart-broken { background-image: url('iconsets/New-Light-Circled/lastfm-unlove.svg') }
.icon-refresh { background-image: url('iconsets/New-Light-Circled/refresh.svg') }
.icon-dirble-circled { background-image: url('iconsets/New-Light-Circled/dirble-logo.svg') }
.icon-tunein { background-image: url('iconsets/New-Light-Circled/../../newimages/tunein-logo.svg') }
.icon-no-response-playbutton { background-image :url('iconsets/New-Light-Circled/media-playback-start.svg') }
.icon-tags { background-image: url('iconsets/New-Light-Circled/tag.svg') }
.icon-volume-up { background-image: url('iconsets/New-Light-Circled/volume.svg') }
.icon-toggle-open { background-image: url('iconsets/New-Light-Circled/toggle-open.svg') }
.icon-toggle-closed { background-image: url('iconsets/New-Light-Circled/toggle-closed.svg') }
.icon-spin6 { background-image: url('iconsets/New-Light-Circled/spinner.svg') }
.icon-output { background-image: url('iconsets/New-Light-Circled/output.svg') }
.icon-output-mute { background-image: url('iconsets/New-Light-Circled/output_mute.svg') }
.icon-sliders { background-image: url('iconsets/New-Light-Circled/sliders.svg') }
.icon-0-stars { background-image: url('iconsets/New-Light-Circled/0stars.svg') }
.icon-1-stars { background-image: url('iconsets/New-Light-Circled/1stars.svg') }
.icon-2-stars { background-image: url('iconsets/New-Light-Circled/2stars.svg') }
.icon-3-stars { background-image: url('iconsets/New-Light-Circled/3stars.svg') }
.icon-4-stars { background-image: url('iconsets/New-Light-Circled/4stars.svg') }
.icon-5-stars { background-image: url('iconsets/New-Light-Circled/5stars.svg') }
.icon-single-star { background-image: url('iconsets/New-Light-Circled/singlestar.svg') }
.icon-ratandtag { background-image: url('iconsets/New-Light-Circled/ratandtag.svg') }
.icon-ratortag { background-image: url('iconsets/New-Light-Circled/ratortag.svg') }
.icon-toggle-on { background-image: url('iconsets/New-Light-Circled/togglebutton-new2-on.svg') }
.icon-toggle-off { background-image: url('iconsets/New-Light-Circled/togglebutton-new2-off.svg') }

.icon-random.flow-on { background-image: url('iconsets/New-Light-Circled/shuffle.svg') }
.icon-random.flow-off { background-image: url('iconsets/New-Light-Circled/shuffle_off.svg') }
.icon-crossfade.flow-on { background-image: url('iconsets/New-Light-Circled/crossfade.svg') }
.icon-crossfade.flow-off { background-image: url('iconsets/New-Light-Circled/crossfade_off.svg') }
.icon-repeat.flow-on { background-image: url('iconsets/New-Light-Circled/refresh.svg') }
.icon-repeat.flow-off { background-image: url('iconsets/New-Light-Circled/refresh_off.svg') }
.icon-consume.flow-on { background-image: url('iconsets/New-Light-Circled/consume.svg') }
.icon-consume.flow-off { background-image: url('iconsets/New-Light-Circled/consume_off.svg') }

.icon-allrandom { background-image: url('iconsets/New-Light-Circled/shuffle.svg') }
.icon-neverplayed { background-image: url('iconsets/New-Light-Circled/neverheard.svg') }
.icon-recentlyplayed { background-image: url('iconsets/New-Light-Circled/calendar.svg') }
.icon-artist { background-image: url('iconsets/New-Light-Circled/artist-icon.svg') }
.icon-mp3-audio { background-image: url('iconsets/New-Light-Circled/mp3-audio.svg') }
.icon-aac-audio { background-image: url('iconsets/New-Light-Circled/aac-audio.svg') }
.icon-flac-audio { background-image: url('iconsets/New-Light-Circled/flac-audio.svg') }
.icon-wma-audio { background-image: url('iconsets/New-Light-Circled/wma-audio.svg') }
.icon-ogg-audio { background-image: url('iconsets/New-Light-Circled/ogg-audio.svg') }
.icon-explicit { background-image: url('iconsets/New-Light-Circled/parental-advisory.svg') }
.icon-expand-up { background-image: url('iconsets/New-Light-Circled/expand-up.svg') }
.icon-rss { background-image: url('iconsets/New-Light-Circled/rss.svg') }
.icon-tick { background-image: url('iconsets/New-Light-Circled/tick.svg') }
.icon-video { background-image: url('iconsets/New-Light-Circled/movie-1.svg') }
.icon-bbc-logo { background-image: url('iconsets/New-Light-Circled/bbc-logo.svg') }
.icon-imdb-logo { background-image: url('iconsets/New-Light-Circled/imdb-logo.svg') }
.icon-facebook-logo { background-image: url('iconsets/New-Light-Circled/facebook-logo.svg') }
.icon-twitter-logo { background-image: url('iconsets/New-Light-Circled/twitter-logo.svg') }
.icon-www { background-image: url('iconsets/New-Light-Circled/world-wide-web.svg') }
.icon-allmusic { background-image: url('iconsets/New-Light-Circled/allmusic-logo.svg') }
.icon-updown { background-image: url('iconsets/New-Light-Circled/arrow-updown.svg') }
.icon-snapcast { background-image: url('iconsets/New-Light-Circled/../../newimages/snapcast.png') }

.styledinputs label
{
    display:inline-block;
    cursor:pointer;
    position:relative;
    padding-left:2em;
    line-height:1.5em;
}

.styledinputs input[type=radio]
{
    display:none;
}

.styledinputs input[type=checkbox]
{
    display:none;
}

.styledinputs label:before
{
    content:"";
    display:inline-block;
    width:1.5em;
    height:1.5em;
    position:absolute;
    left:0;
    background-image: url('iconsets/New-Light-Circled/togglebutton-new2-off.svg');
    background-size: auto 80%;
	background-position: center;
	background-repeat:no-repeat;
}

.styledinputs input:checked + label:before
{
    background-image: url('iconsets/New-Light-Circled/togglebutton-new2-on.svg') !important;
}

img.notexist,img.notfound
{
    background-image: url('iconsets/New-Light-Circled/compact-disc.svg');
    background-size:contain;
    display:inline-block;
    background-position: center;
	background-repeat:no-repeat;
}

img.stream.notfound, img.stream.notexist
{
    background-image: url('iconsets/New-Light-Circled/broadcast-new.svg');
}

img.plimage.notfound
{
    background-image: url('iconsets/New-Light-Circled/playlist.svg');
}

.backmenu
{
    background-image: url('iconsets/New-Light-Circled/arrow-left-double.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

button.searchbutton {
    background-image: url('iconsets/New-Light-Circled/system-search.svg');
}

button.rssbutton {
    background-image: url('iconsets/New-Light-Circled/rss.svg');
}

button.savebutton {
    background-image: url('iconsets/New-Light-Circled/document-save.svg');
}
