
 [class^="icon-"], [class*=" icon-"] {
 	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	display:inline-block;
}

[class^="icon-"]:not(.button-disabled):hover, [class*=" icon-"]:not(.button-disabled):hover {
    opacity: 1;
    background-color: rgba(255,173,0,0.07);
}

.clearbox {
    background-image: url('iconsets/Fiery/edit-delete.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry, .selectholder {
    background-image: url('iconsets/Fiery/blobdown3.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry:hover, .selectholder:hover {
    background-image: url('iconsets/Fiery/blobdown3-hi.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combo-button {
    background-image: url('iconsets/Fiery/blobdown3.svg');
}

.button-disabled { opacity: 0.1 }

.icon-play-circled { background-image :url('iconsets/Fiery/media-playback-start.svg') }
.playdiv { background-image :url('iconsets/Fiery/media-playback-start.svg') }
.icon-play-circled:hover { background-image :url('iconsets/Fiery/media-playback-start-highlight.svg') }
.icon-pause-circled { background-image :url('iconsets/Fiery/media-playback-pause.svg') }
.icon-pause-circled:hover { background-image :url('iconsets/Fiery/media-playback-pause-highlight.svg') }
.icon-fast-backward { background-image :url('iconsets/Fiery/media-skip-backward.svg') }
.icon-fast-backward:hover { background-image :url('iconsets/Fiery/media-skip-backward-highlight.svg') }
.icon-fast-forward { background-image :url('iconsets/Fiery/media-skip-forward.svg') }
.icon-fast-forward:hover { background-image :url('iconsets/Fiery/media-skip-forward-highlight.svg') }
.icon-stop-1 { background-image :url('iconsets/Fiery/media-playback-stop.svg') }
.icon-stop-1:hover { background-image :url('iconsets/Fiery/media-playback-stop-highlight.svg') }
.icon-to-end-1 { background-image :url('iconsets/Fiery/stopafter.svg') }
.icon-to-end-1:hover { background-image :url('iconsets/Fiery/stopafter-highlight.svg') }

.icon-music { background-image: url('iconsets/Fiery/collection.svg') }
.icon-search { background-image: url('iconsets/Fiery/system-search.svg') }
.icon-folder-open-empty { background-image: url('iconsets/Fiery/folder.svg') }
.icon-radio-tower { background-image: url('iconsets/Fiery/broadcast-new.svg') }
.icon-cd { background-image: url('iconsets/Fiery/cd_case.svg') }
.icon-resize-horizontal { background-image: url('iconsets/Fiery/resize.svg') }
.icon-angle-double-left { background-image:url('iconsets/Fiery/arrow-left-double.svg') }
.icon-angle-double-right { background-image:url('iconsets/Fiery/arrow-right-double.svg') }
.icon-menu { background-image: url('iconsets/Fiery/pushbutton.svg') }
.icon-versions { background-image: url('iconsets/Fiery/history.svg') }
.icon-left-circled { background-image: url('iconsets/Fiery/backbutton.svg') }
.icon-right-circled { background-image: url('iconsets/Fiery/forwardbutton.svg') }
.icon-cog-alt { background-image: url('iconsets/Fiery/preferences.svg') }
.icon-trash { background-image: url('iconsets/Fiery/edit-clear-list.svg') }
.icon-wifi { background-image: url('iconsets/Fiery/smartradio.svg') }
.icon-doc-text { background-image: url('iconsets/Fiery/playlist.svg') }
.icon-floppy { background-image: url('iconsets/Fiery/document-save.svg') }
.icon-cancel-circled { background-image: url('iconsets/Fiery/edit-delete.svg') }
.icon-plus {
	background-image: url('iconsets/Fiery/add.svg');
  	opacity:0.7;
}
.icon-alarm { background-image: url('iconsets/Fiery/alarmclock_false.svg') }
.icon-alarm-on { background-image: url('iconsets/Fiery/alarmclock_true.svg') }
.icon-sleep { background-image: url('iconsets/Fiery/sleep.svg') }
.icon-library { background-image: url('iconsets/Fiery/file.svg') }
.icon-lastfm-1 { background-image: url('iconsets/Fiery/lastfm.svg') }
.icon-wikipedia { background-image: url('iconsets/Fiery/wikipedia-logo.svg') }
.icon-musicbrainz {	background-image: url('iconsets/Fiery/musicbrainz_logo.svg') }
.icon-discogs {	background-image: url('iconsets/Fiery/discogs-logo.svg') }
.icon-doc-text-1 { background-image: url('iconsets/Fiery/lyrics.svg') }
.icon-soundcloud-circled { background-image: url('iconsets/Fiery/soundcloud-logo.svg') }
.icon-youtube-circled { background-image: url('iconsets/Fiery/youtube-logo.svg') }
.icon-gmusic-circled { background-image: url('iconsets/Fiery/gmusic-logo.svg') }
.icon-spotify-circled { background-image: url('iconsets/Fiery/spotify-logo.svg') }
.icon-vkontakte-circled { background-image: url('iconsets/Fiery/vkontakte-logo.svg') }
.icon-podcast-circled { background-image: url('iconsets/Fiery/podcast-logo.svg') }
.icon-audiobook { background-image: url('iconsets/Fiery/audiobook.svg') }
.icon-internetarchive-circled { background-image: url('iconsets/Fiery/internetarchive-logo.svg') }
.icon-increase { background-image: url('iconsets/Fiery/arrow-increase.svg') }
.icon-decrease { background-image: url('iconsets/Fiery/arrow-decrease.svg') }
.icon-attention-1 { background-image: url('iconsets/Fiery/dialog-error.svg') }
.icon-info-circled { background-image: url('iconsets/Fiery/dialog-information.svg') }
.icon-download { background-image: url('iconsets/Fiery/download-icon.svg') }
.icon-sun { background-image: url('iconsets/Fiery/icon-new.svg') }
.icon-headphones { background-image: url('iconsets/Fiery/headphones.svg') }
.icon-unlistened { background-image: url('iconsets/Fiery/headphones.svg') }
.icon-block { background-image: url('iconsets/Fiery/lastfm-ban.svg') }
.icon-heart { background-image: url('iconsets/Fiery/lastfm-love.svg') }
.icon-heart-broken { background-image: url('iconsets/Fiery/lastfm-unlove.svg') }
.icon-refresh { background-image: url('iconsets/Fiery/refresh.svg') }
.icon-dirble-circled { background-image: url('iconsets/Fiery/dirble-logo.svg') }
.icon-tunein { background-image: url('iconsets/Fiery/../../newimages/tunein-logo.svg') }
.icon-no-response-playbutton { background-image :url('iconsets/Fiery/media-playback-start.svg') }
.icon-tags { background-image: url('iconsets/Fiery/tag.svg') }
.icon-volume-up { background-image: url('iconsets/Fiery/volume.svg') }
.icon-toggle-open { background-image: url('iconsets/Fiery/toggle-open.svg') }
.icon-toggle-closed { background-image: url('iconsets/Fiery/toggle-closed.svg') }
.icon-spin6 { background-image: url('iconsets/Fiery/spinner.svg') }
.icon-output { background-image: url('iconsets/Fiery/output.svg') }
.icon-output-mute { background-image: url('iconsets/Fiery/output_mute.svg') }
.icon-sliders { background-image: url('iconsets/Fiery/sliders.svg') }
.icon-0-stars { background-image: url('iconsets/Fiery/0stars.svg') }
.icon-1-stars { background-image: url('iconsets/Fiery/1stars.svg') }
.icon-2-stars { background-image: url('iconsets/Fiery/2stars.svg') }
.icon-3-stars { background-image: url('iconsets/Fiery/3stars.svg') }
.icon-4-stars { background-image: url('iconsets/Fiery/4stars.svg') }
.icon-5-stars { background-image: url('iconsets/Fiery/5stars.svg') }
.icon-single-star { background-image: url('iconsets/Fiery/singlestar.svg') }
.icon-ratandtag { background-image: url('iconsets/Fiery/ratandtag.svg') }
.icon-ratortag { background-image: url('iconsets/Fiery/ratortag.svg') }
.icon-toggle-on { background-image: url('iconsets/Fiery/togglebutton-new2-on.svg') }
.icon-toggle-off { background-image: url('iconsets/Fiery/togglebutton-new2-off.svg') }

.icon-allrandom { background-image: url('iconsets/Fiery/shuffle.svg') }
.icon-neverplayed { background-image: url('iconsets/Fiery/neverheard.svg') }
.icon-recentlyplayed { background-image: url('iconsets/Fiery/calendar.svg') }
.icon-artist { background-image: url('iconsets/Fiery/artist-icon.svg') }
.icon-mp3-audio { background-image: url('iconsets/Fiery/mp3-audio.svg') }
.icon-aac-audio { background-image: url('iconsets/Fiery/aac-audio.svg') }
.icon-flac-audio { background-image: url('iconsets/Fiery/flac-audio.svg') }
.icon-wma-audio { background-image: url('iconsets/Fiery/wma-audio.svg') }
.icon-ogg-audio { background-image: url('iconsets/Fiery/ogg-audio.svg') }
.icon-explicit { background-image: url('iconsets/Fiery/parental-advisory.svg') }
.icon-expand-up { background-image: url('iconsets/Fiery/expand-up.svg') }
.icon-rss { background-image: url('iconsets/Fiery/rss.svg') }
.icon-tick { background-image: url('iconsets/Fiery/tick.svg') }
.icon-video { background-image: url('iconsets/Fiery/movie-1.svg') }
.icon-bbc-logo { background-image: url('iconsets/Fiery/bbc-logo.svg') }
.icon-imdb-logo { background-image: url('iconsets/Fiery/imdb-logo.svg') }
.icon-facebook-logo { background-image: url('iconsets/Fiery/facebook-logo.svg') }
.icon-twitter-logo { background-image: url('iconsets/Fiery/twitter-logo.svg') }
.icon-www { background-image: url('iconsets/Fiery/world-wide-web.svg') }
.icon-allmusic { background-image: url('iconsets/Fiery/allmusic-logo.svg') }
.icon-updown { background-image: url('iconsets/Fiery/arrow-updown.svg') }
.icon-snapcast { background-image: url('iconsets/Fiery/../../newimages/snapcast.png') }

.styledinputs label
{
    display:inline-block;
    cursor:pointer;
    position:relative;
    padding-left:2em;
    line-height:1.5em;
}

.styledinputs input[type=radio]
{
    display:none;
}

.styledinputs input[type=checkbox]
{
    display:none;
}

.styledinputs label:before
{
    content:"";
    display:inline-block;
    width:1.5em;
    height:1.5em;
    position:absolute;
    left:0;
    background-image: url('iconsets/Fiery/togglebutton-new2-off.svg');
    background-size: auto 80%;
	background-position: center;
	background-repeat:no-repeat;
}

.styledinputs input:checked + label:before
{
    background-image: url('iconsets/Fiery/togglebutton-new2-on.svg') !important;
}

img.notexist,img.notfound
{
    background-image: url('iconsets/Fiery/compact-disc.svg');
    background-size:contain;
    display:inline-block;
    background-position: center;
	background-repeat:no-repeat;
}

img.stream.notfound, img.stream.notexist
{
    background-image: url('iconsets/Fiery/broadcast-new.svg');
}

img.plimage.notfound
{
    background-image: url('iconsets/Fiery/playlist.svg');
}

.backmenu
{
    background-image: url('iconsets/Fiery/arrow-left-double.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

button.iconbutton {
    height:2em;
    width:2em;
    background-size: contain;
    background-position:center;
    border: none !important;
    opacity: 0.8;
    background-color:transparent;
}

button.iconbutton:hover {
    opacity: 1;
}

button.searchbutton {
    background-image: url('iconsets/Fiery/system-search.svg');
}

button.rssbutton {
    background-image: url('iconsets/Fiery/rss.svg');
}

