/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

html {
    background-color:#e8ebf0;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

body,p,h1,h2,h3,h4,h5,h6,table,td,th,ul,ol,textarea,input {
    color:#000000;
}

body.phone .dropmenu>div.playable,
body.phone .dropmenu>div.menuitem,
body.phone .mainpane .radio,
body.phone .mainpane .faveradio,
body.phone .mainpane .podcast:not(.podicon):not(.podglobal),
body.phone .mainpane .directory {
    border-top: 1px solid rgba(60,60,60,0.1);
}

body.phone #pluginplaylistholder .menuitem.clickicon,
body.phone #pluginplaylistholder .menuitem.containerbox.fullwidth {
    border-bottom: 1px solid rgba(60,60,60,0.1);
}

a:link {
    color:#0b0080;
}

a:visited {
    color:#0b0080;
}

a:hover,a:active {
    color:#ff4800;
}

button, input[type="button"], div.filebutton {
    background-image: linear-gradient(#ccdcf2, #c0d0e7);
    color:#000000;
    border:1px solid #adadad;
}

button:hover, input[type="button"]:hover, div.filebutton:hover {
    color:#3875d7;
    border:1px solid #ccdcf2;
    text-shadow: 0 0 15px #3875d7;
}

input {
    color:#181818;
}

input.inbrowser, div.inbrowser {
    border: 1px solid #888888;
}

select {
    color:#000000;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/
#pset {
    background-color: rgba(192, 208, 231, 0.99);
}

#pmaxset {
    background-color: rgba(232, 235, 240, 0.99);
}

#custombackground {
    display:none;
}

#headerbar {
    background-image: linear-gradient(#b3b3b3, #afafaf);
}

#infobar.coloured, #thetopbit {
    background-image: linear-gradient(#E5E5E5, #b3b3b3);
}

#horse {
    background-image: linear-gradient(#afafaf, #b4b4b4);
}

#playlist {
    background-image: linear-gradient(#b4b4b4, #e5e5e5);
}

#notifications {
    background-color:#ccdcf2;
}

#sources {
    border-top:1px solid #000000;
}

#infopane {
    border-top:1px solid #000000;
}

#wikipopup {
    background-color:#000000;
}

#tagadder {
    background-color:#cccccc;
}

#artistchooser {
    border-bottom:1px solid #555555;
    border-top:1px solid #555555;
    color:#555555;
}

#dragger {
    background-color:rgba(0,0,0,0.5);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.bordered {
    border-left:1px solid #9a9a9a;
    border-bottom:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-top:1px solid #9a9a9a;
}

.album2 {
    background-color:rgba(225,228,234,0.85);
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    color:#3875d7;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    color:#000000;
}

.selected {
    background-color:#3875d7;
}

.playlistcurrentitem {
    color:#3875d7;
}

.playlistcurrenttitle {
    color:#3875d7;
}

.item {
    border-top:1px solid #cccccc;
}

.stleft {
    border-right:1px solid #888888;
}

.popupwindow {
    background-color:#cccccc;
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #9a9a9a;
    border-right:1px solid #9a9a9a;
    border-top:1px solid #eeeeee;
}

table.histable tr:hover {
    background-color:#ccdcf2;
}

.backhi:hover {
    background-color:#ccdcf2;
    cursor:pointer;
}

/*Prevent submenus from having all entries highlighted
due to :hover events propagating from the parent menu
*/
.backhi:hover>div.topdropmenu>div.backhi {
    color:#000000;
}

/*Make sure the submenu entry being hovered over still gets highlighted*/

.backhi:hover>div.topdropmenu>div.backhi:hover {
    background-color:#ccdcf2;
}

tr.clickaddtrack:hover {
    background-color:#e1e4ea;
}

.tagholder table tr th {
    background-color:#e8ebf0;
    border-bottom:1px solid #000000;
}

.bsel {
    color:#ff4800;
}

.bmid {
    border-left:2px solid #ff4800;
}

.currentbun {
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.dropshadow {
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.6);
}

.progressbar {
    border:1px solid #414141;
}

.mCSB_draggerRail {
    background:rgba(0,0,0,0.1) !important;
}

.mCSB_dragger_bar {
    background:rgba(0,0,0,0.75) !important;
}

.backmenu {
    background-color: #e8ebf0;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu, div.albumbitsmenu
{
    background-image: linear-gradient(#E5E5E5, #b3b3b3);
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #9a9a9a;
    border-right:1px solid #9a9a9a;
}

.configtitle
{
    /*background-image: linear-gradient(#E5E5E5, #b3b3b3);*/
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

.infosection {
    background-image: linear-gradient(#E5E5E5, #b3b3b3);
}

.infowiki {
    background-color:#ffffff;
}

.inbrowser {
    color:#000000;
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/

.helpfulalbum
{
    background-color:#cccccc;
}

.tagholder_wide
{
    background-color:#cccccc;
}

.tagholder_wide .helpfulalbum
{
    background-color:#bcbcbc;
}

/*
=====================================================================
= Podcasts
=====================================================================
*/

.podcastitem
{
    border-top:1px solid #000000;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

.albumsection {
    background-color:#b9d2fd;
}

#imageeditor {
    background-color:#b9d2fd;
}

#albumcovers {
    background-color:#adb4cd;
}

.highlighted {
    border-top: 4px solid #fe6800 !important;
    border-left: 4px solid #fe6800 !important;
    border-right: 4px solid #fe6800 !important;
    border-bottom: 4px solid #fe6800 !important;
    border-radius:2px !important;
}

.covercontainer.highlighted
{
    border-bottom: none !important;
    margin-bottom:-4px;
    background-color:#b9d2fd;
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th {
    background-color: #e5e5e5;
}

.navbox-abovebelow {
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th {
    font-weight:bold;
}

.description {
    margin-top:4px;
}

.underline {
    border-bottom: 1px solid #444444;
}

.infosection h2 {
    border-bottom:2px solid #444444;
}

.topbarplaycontrols {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.mostrecent {
    border-top: 1px solid rgba(0,0,0,0.25);
}
