@import url("themes/theme_base/colour_theme.css");

:root {
    --min-progress-colour: rgba(201, 201, 201, 0.99);
    --max-progress-colour: rgba(255, 255, 255, 0.99);
    --progress-bg-colour: rgba(0,0,0,0);

    --text-colour: black;
    --border-colour: #aaaaaa;
    --border-colour-dark: #555555;
    --link-colour: #12569a;
    --highlight-colour: #ff4800;

    --main-bg-colour: unset;
    --main-bg-image: url('../../newimages/silver1.jpg');

    --darker-bg-colour: rgba(0, 0, 0, 0.1);

    --headerbar-bg-colour: unset;
    --headerbar-bg-image: none;

    --topbit-bg-colour: unset;
    --topbit-bg-image: none;

    --sources-bg-colour: unset;
    --sources-bg-image:  none;
    --sources-border-top: none;

    --horse-bg-colour: unset;
    --horse-bg-image: none;

    --playlist-bg-colour: unset;
    --playlist-bg-image: none;
    --playlist-title-bg-colour: unset;
    --playlist-title-border: none;
    --playlist-item-top-border: 1px solid var(--border-colour-dark);
    --playlist-current-bg-colour: unset;

    --dropmenu-bg-colour: unset;
    --dropmenu-bg-image: url('../../newimages/silver2.jpg');

    --configtitle-bg-colour: rgba(0,0,0,0.5);
    --configtitle-bg-image: none;
    --configtitle-border-bottom: none;

    --infopane-border-top: none;
    --infopane-bg-colour: white;
    --infopane-bg-image: none;
    --infopane-text-colour: unset;

    --infopane-header-bg-colour: unset;
    --infopane-header-bg-image: none;

    --selected-bg-colour: #CC5500;

    --button-colour:  var(--text-colour);
    --button-hover-colour: var(--highlight-colour);
    --button-border: 1px solid #000000;
    --button-hover-border: 1px solid #000000;
    --button-bg-colour: unset;
    --button-bg-image:  none;
    --button-bg-hover-colour: unset;
    --button-bg-hover-image:  none;

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: transparent;
    --text-entry-hover-border-colour: transparent;
    --text-entry-active-border-colour: var(--border-colour);
    --text-entry-bg-colour: rgba(0,0,0,0.1);
    --text-entry-hover-bg-colour: rgba(0,0,0,0.2);
    --text-entry-active-bg-colour: rgba(0,0,0,0.2);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --album1-colour: transparent;
    --album2-colour: rgba(0,0,0,0.2);
    --drop-shadow: 7px 7px 5px rgba(50, 50, 50, 0.6);

    --bordered-top: 1px solid #aaaaaa;
    --bordered-right: 1px solid #dddddd;
    --bordered-bottom: 1px solid #dddddd;
    --bordered-left: 1px solid #aaaaaa;

    --album-browse-bg-colour: #dddddd;
    --album-browse-bg-image: none;
    --skypotato-openalbum-bg-colour: #cdcdcd;
    --skypotato-openalbum-bg-image: none;
    --album-browse-open-bg-colour: #dddddd;
    --album-browse-open-bg-image: none;
    --album-browse-open-highlight: none;
}

html {
    background-size:auto;
    background-repeat:repeat;
}

.mCSB_draggerRail {
    background:rgba(0,0,0,0.1) !important;
}

.mCSB_dragger_bar {
    background:rgba(0,0,0,0.75) !important;
}

button:hover, div.filebutton:hover {
    text-shadow: 0 0 15px var(--highlight-colour);
}
