/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

html, body.phone .dropmenu {
    color:#000000;
    background-image:url('../newimages/silver1.jpg');
}

h1,h2,h3,h4,h5,h6 {
    color:#000000;
}

a:link {
    color:#12569a;
}

a:visited {
    color:#12569a;
}

a:hover,a:active {
    color:#ff4800;
}

button, .filebutton {
    color:#000000;
    border: 1px solid #000000;
}

button:hover, .filebutton:hover {
    color:#ff4800;
    text-shadow: 0 0 15px #ff4800;
}

input.inbrowser, div.inbrowser {
    border: 1px solid #888888;
}

.desktop .selectholder {
    background:rgba(0,0,0,0.1) url('../newimages/blobdown2.svg') right 2px center no-repeat;
}

.desktop .selectholder:hover {
    background:rgba(0,0,0,0.2) url('../newimages/blobdown2-hi.svg') right 2px center no-repeat;
}

.combobox-entry:hover {
    background:rgba(0,0,0,0.2) url('../newimages/blobdown2-hi.svg') right 2px center no-repeat;
}

.combobox-entry {
    background:rgba(0,0,0,0.1) url('../newimages/blobdown2.svg') right 2px center no-repeat;
}

.clearbox {
    background:rgba(0,0,0,0.1) url('../newimages/edit-delete.svg') right 2px center no-repeat;
    background-size:12px 12px;
}

input[type="text"] {
    background-color: rgba(0,0,0,0.1);
}

input[type="text"]:hover {
    background-color: rgba(0,0,0,0.2);
}

input[type="text"]:focus {
    transition: border-bottom 0.5s ease;
    border-bottom: 1px solid #eeeeee;
}

.drop-box {
    background-color: rgba(0,0,0,0.2);
    color:white;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#custombackground {
    display:none;
}

#notifications {
    background-image:url('../newimages/silver2.jpg');;
}

#wikipopup {
    background-color:#000000;
}

#imagecontainer {
    background-color:#ffffff;
}

#tagadder {
    background-color:#ededed;
}

#dragger {
    background-color:rgba(0,0,0,0.5);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.bordered {
    border-left:1px solid #aaaaaa;
    border-bottom:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-top:1px solid #aaaaaa;
}

.album1 {
    background-image:url('../newimages/silver2.jpg');
}

.album2 {
    background-image:url('../newimages/silver1.jpg');
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    color:#ff4800;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    color:#dddddd;
}

.selected {
    background-color:#CC5500;
}

.playlistcurrentitem {
    color:#cc0000;
}

.playlistcurrenttitle {
    color:#cc0000;
}

.item {
    border-top:1px solid #000000;
}

.stleft {
    border-right:1px solid #aaaaaa;
}

.popupwindow {
    background-color:#dddddd;
    border-left:2px solid #ffffff;
    border-bottom:2px solid #555555;
    border-right:2px solid #555555;
    border-top:2px solid #ffffff;
}

table.histable tr:hover {
    background-color:#CC5500;
}

.backhi:hover {
    background-color:#CC5500;
    cursor:pointer;
}

tr.clickaddtrack:hover {
    background-image:url('../newimages/silver1.jpg');
}

.tagholder table tr th {
    background-image:url('../newimages/silver1.jpg');
    border-bottom:1px solid #000000;
}

.bsel {
    color:#ff4800;
}

.bmid {
    border-left:2px solid #ff4800;
}

.currentbun {
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.dropshadow {
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.6);
}

.progressbar {
    border:1px solid #414141;
}


.mCSB_draggerRail {
    background:rgba(0,0,0,0.1) !important;
}

.mCSB_dragger_bar {
    background:rgba(0,0,0,0.75) !important;
}

.textunderline {
    border-bottom: 1px solid #222222;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu {
    background-image:url('../newimages/silver2.jpg');;
    border-left:1px solid #ffffff;
    border-bottom:1px solid #555555;
    border-right:1px solid #555555;
    border-top:none;
}

.configtitle {
    background-color:rgba(0,0,0,0.5);
    color:white;
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

.infosection {
    background-color:#efefef;
}

.infowiki {
    background-color:#ffffff;
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/

.helpfulalbum {
    background-color:#dddddd;
}

.tagholder_wide {
    background-color:#dddddd;
}

.tagholder_wide .helpfulalbum
{
    background-color:#cdcdcd;
}

/*
=====================================================================
= Podcasts
=====================================================================
*/

.podcastitem {
    border-top:1px solid #000000;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

#artistchooser {
    border-bottom:1px solid #555555;
    border-top:1px solid #555555;
    color:#555555;
}

#albumcovers {
    background-color:#eeeeee;
}

.albumsection {
    background-color:#e7e7e7;
}

.highlighted {
    border-top: 4px solid #fe6800 !important;
    border-left: 4px solid #fe6800 !important;
    border-right: 4px solid #fe6800 !important;
    border-bottom: 4px solid #fe6800 !important;
    border-radius:2px !important;
}

.covercontainer.highlighted
{
    border-bottom: none !important;
    margin-bottom:-4px;
    background-image:url('../newimages/silver2.jpg');
}

#imageeditor {
    background-image:url('../newimages/silver2.jpg');
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th {
    background-color: #e5e5e5;
}

.navbox-title {
    color:#000000;
}

.navbox-group {
    color:#000000;
}

.navbox-abovebelow {
    color:#000000;
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    color:#ff4800;
    text-decoration:none;
}

.topbarplaycontrols {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
