@import url("themes/theme_base/colour_theme.css");

:root {
    --min-progress-colour: rgba(100, 50, 1, 1);
    --max-progress-colour: rgba(255, 75, 1, 1);
    --progress-bg-colour: rgba(0,0,0,0);

    --text-colour: black;
    --border-colour: #555555;
    --link-colour: #0b0080;
    --highlight-colour: #ee3700;

    --main-bg-colour: unset;
    --main-bg-image: linear-gradient(#999999, #eeeeee, #aaaaaa);

    --darker-bg-colour: rgba(0, 0, 0, 0.1);

    --headerbar-bg-colour: unset;
    --headerbar-bg-image: none;

    --topbit-bg-colour: unset;
    --topbit-bg-image: none;

    --sources-bg-colour: unset;
    --sources-bg-image:  none;
    --sources-border-top: none;

    --horse-bg-colour: unset;
    --horse-bg-image: none;

    --playlist-bg-colour: unset;
    --playlist-bg-image: none;
    --playlist-title-bg-colour: unset;
    --playlist-title-border: none;
    --playlist-item-top-border: none;
    --playlist-current-bg-colour: unset;
    --playlist-current-shadow: 0 0 15px var(--highlight-colour);
    --playlist-current-transition: font-size 0.3s ease, text-shadow 0.3s ease;
    --playlist-current-track-font-size: 105%;
    --playlist-current-track-font-weight: bold;
    --playlist-current-track-left-border: unset;
    --playlist-current-title-font-size: 100%;
    --playlist-current-title-font-weight: bold;

    --dropmenu-bg-colour: unset;
    --dropmenu-bg-image: linear-gradient(#999999, #cccccc, #999999);

    --configtitle-bg-colour: unset;
    --configtitle-bg-image: linear-gradient(#999999, #cccccc, #999999);
    --configtitle-border-bottom: none;

    --infopane-border-top: none;
    --infopane-bg-colour: unset;
    --infopane-bg-image: linear-gradient(#ffffff, #aaaaaa);
    --infopane-text-colour: unset;

    --infopane-header-bg-colour: unset;
    --infopane-header-bg-image: linear-gradient(#999999, #eeeeee, #999999);

    --selected-bg-colour: #ff4800;

    --button-colour: #ee3700;
    --button-hover-colour: unset;
    --button-border: 0px none;
    --button-hover-border: 0px none;
    --button-bg-colour: unset;
    --button-bg-image:  linear-gradient(#999999, #cccccc, #999999);
    --button-bg-hover-colour: unset;
    --button-bg-hover-image:  linear-gradient(#999999, #cccccc, #999999);
    --button-font-weight: unset;
    --button-hover-shadow: unset;

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: transparent;
    --text-entry-hover-border-colour: transparent;
    --text-entry-active-border-colour: var(--border-colour);
    --text-entry-bg-colour: white;
    --text-entry-hover-bg-colour: white;
    --text-entry-active-bg-colour: white;

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --album1-colour: transparent;
    --album2-colour: transparent;
    --drop-shadow: 7px 7px 5px rgba(50, 50, 50, 0.6);

    --bordered-top: 1px solid #9a9a9a;
    --bordered-right: 1px solid #e0e0e0;
    --bordered-bottom: 1px solid #e0e0e0;
    --bordered-left: 1px solid #9a9a9a;

    --album-browse-bg-colour: #d0d0d0;
    --album-browse-bg-image: none;
    --skypotato-openalbum-bg-colour: #d0d0d0;
    --skypotato-openalbum-bg-image: none;
    --album-browse-open-bg-colour: #d0d0d0;
    --album-browse-open-bg-image: none;
    --album-browse-open-highlight: none;

    --albumart-artists-bg-colour: var(--main-bg-colour);
    --albumart-artists-bg-image:var(--main-bg-image);

    --waiting-swinger-width: 50px;
    --waiting-swinger-height: 2px;
    --waiting-swinger-bg-image: linear-gradient(to left,  rgba(153, 153, 153, 0) 0%,  rgba(153, 153, 153, 1) 50%, rgba(153, 153, 153, 0) 100%);

}

html {
    background-image: linear-gradient(#999999, #eeeeee, #aaaaaa);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

input
{
    border-radius: 0.5em !important;
}

select
{
    border-radius:0.5em !important;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#notifications
{
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
}

#wikipopup
{
    border-radius: 1em;
}

#tagadder
{
    border-radius:1em;
}

.bordered
{
    border-radius:1em;
}

.progressbar_v, .progressbar
{
    border-radius:1em;
}

div.selectholder
{
    border-radius:0.5em !important;
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    text-shadow: 0 0 15px var(--highlight-colour);
}

.popupwindow
{
    border-radius:1em;
}

.tagmenu
{
    border-radius:1em;
}

.backhi:hover {
    text-shadow: 0 0 15px var(--highlight-colour);
    transition:all 0.1s;
}

.mCSB_draggerRail
{
    background:rgba(0,0,0,0.1) !important;
}

.mCSB_dragger_bar
{
    background:rgba(0,0,0,0.75) !important;
}

.configtitle
{
    border-radius:0.5em;
}

.infosection
{
    border-radius:1em;
    padding-left:1em;
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/

.helpfulalbum
{
    border-radius:1em;
}

.containerbox .podcast .helpfulalbum.expand
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.containerbox .podcast .helpfulalbum.fixed
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.tagholder_wide
{
    border-radius:1em;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

.albumsection
{
    border-radius:1em;
    padding-left:1em;
    box-sizing:border-box;
}

.highlighted {
    border-radius:12px !important;
    border-top: 4px solid var(--highlight-colour);
    border-left: 4px solid var(--highlight-colour);
    border-right: 4px solid var(--highlight-colour);
    border-bottom: 4px solid var(--highlight-colour);
}

.covercontainer.highlighted
{
    border-radius:12px 12px 0px 0px !important;
}

#imageeditor
{
    border-radius:12px !important;
}

div.toc
{
    border-radius:1em;
}

.infobox
{
    border-radius:1em;
}

table.infobox th
{
    border-radius:1em;
}

.quotebox
{
    border-radius:1em;
}

.infotext table
{
    border-radius:1em !important;
}
