@import url("themes/theme_base/colour_theme.css");

:root {
    --min-progress-colour: rgba(100, 50, 1, 1);
    --max-progress-colour: rgba(255, 75, 1, 1);
    --progress-bg-colour: rgba(0,0,0,0);

    --text-colour: #dddddd;
    --border-colour: #dedede;
    --border-colour-dark: #999999;
    --link-colour: #dcdcff;
    --highlight-colour: #ff4800;

    --main-bg-colour: unset;
    --main-bg-image: radial-gradient(circle at 50% 150px, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg");

    --darker-bg-colour: rgba(255, 255, 255, 0.1);

    --headerbar-bg-colour: unset;
    --headerbar-bg-image: none;

    --topbit-bg-colour: unset;
    --topbit-bg-image: none;

    --sources-bg-colour: unset;
    --sources-bg-image:  none;
    --sources-border-top: none;

    --horse-bg-colour: unset;
    --horse-bg-image: none;

    --playlist-bg-colour: unset;
    --playlist-bg-image: none;
    --playlist-title-bg-colour: unset;
    --playlist-title-border: none;
    --playlist-item-top-border: 1px solid var(--border-colour);
    --playlist-current-bg-colour: unset;
    --playlist-current-shadow: unset;
    --playlist-current-transition: unset;
    --playlist-current-track-left-border: unset;
    --playlist-current-track-font-size: 110%;
    --playlist-current-track-font-weight: unset;
    --playlist-current-title-font-size: 125%;
    --playlist-current-title-font-weight: unset;

    --dropmenu-bg-colour: #191919;
    --dropmenu-bg-image: none;

    --configtitle-bg-colour: #252525;
    --configtitle-bg-image: none;
    --configtitle-border-bottom: 1px solid var(--border-colour-dark);

    --infopane-border-top: none;
    --infopane-bg-colour: unset;
    --infopane-bg-image: none;
    --infopane-text-colour: unset;

    --infopane-header-bg-colour: unset;
    --infopane-header-bg-image: none;

    --selected-bg-colour: #CC5500;

    --button-colour:  var(--text-colour);
    --button-hover-colour: var(--highlight-colour);
    --button-border: 1px solid var(--border-colour);
    --button-hover-border: 1px solid var(--highlight-colour);
    --button-bg-colour: #202020;
    --button-bg-image:  none;
    --button-bg-hover-colour: #202020;
    --button-bg-hover-image:  none;
    --button-font-weight: bold;
    --button-hover-shadow: unset;

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: var(--border-colour-dark);
    --text-entry-hover-border-colour: var(--border-colour-dark);
    --text-entry-active-border-colour: var(--border-colour);
    --text-entry-bg-colour: rgba(0,0,0,0.3);
    --text-entry-hover-bg-colour: rgba(0,0,0,0.2);
    --text-entry-active-bg-colour: rgba(0,0,0,0.2);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --album1-colour: transparent;
    --album2-colour: #252525;
    --drop-shadow: 7px 7px 5px rgba(0, 0, 0, 0.9);

    --bordered-top: 1px solid #000000;
    --bordered-right: 1px solid #232323;
    --bordered-bottom: 1px solid #232323;
    --bordered-left: 1px solid #000000;

    --album-browse-bg-colour: #303030;
    --album-browse-bg-image: radial-gradient(circle at 50% 150px, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg");;
    --skypotato-openalbum-bg-colour: #404040;
    --skypotato-openalbum-bg-image: radial-gradient(circle at 50% 150px, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg");;
    --album-browse-open-bg-colour:#404040;
    --album-browse-open-bg-image: radial-gradient(circle at 50% 150px, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg");;
    --album-browse-open-highlight: none;

    --albumart-artists-bg-colour: var(--main-bg-colour);
    --albumart-artists-bg-image: unset;

    --waiting-swinger-width: 50px;
    --waiting-swinger-height: 2px;
    --waiting-swinger-bg-image: linear-gradient(to left,  rgba(255, 255, 255, 0) 0%,  rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

html {
    background: #101010 url("themes/bg.jpg") !important;
    background-image: -webkit-radial-gradient(50% 150px, circle cover, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg") !important;
    background-image: -moz-radial-gradient(50% 150px, circle cover, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg") !important;
    background-image: -ms-radial-gradient(50% 150px, circle cover, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg") !important;
    background-image: -o-radial-gradient(50% 150px, circle cover, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg") !important;
    background-image: radial-gradient(circle at 50% 150px, rgba(200, 125, 0, 0.0980392) 12%, rgba(0, 0, 0, 0.2) 51%), url("themes/bg.jpg") !important;
    background-repeat: no-repeat, repeat !important;
    background-attachment: fixed !important;
    min-height: 100% !important;
}

.highlighted {
    border-top: 4px solid var(--highlight-colour);
    border-left: 4px solid var(--highlight-colour);
    border-right: 4px solid var(--highlight-colour);
    border-bottom: 4px solid var(--highlight-colour);
    border-radius:2px;
}
