/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

html, body.phone .dropmenu {
    background-color:#181818;
}

body.phone .dropmenu div.playable, body.phone .dropmenu div.menu {
    background-color: rgba(100,100,100,0.1);
}

body,p,h1,h2,h3,h4,h5,h6,table,td,th,ul,ol,textarea,input
{
    color:#dddddd;
}

button, input[type="button"], .filebutton
{
    background-color:#202020;
    border:1px solid #dedede;
    /* background-image:none !important; */
    color:#dddddd;
    font-weight:bold;
    font-size:110%;
}

button:hover, input[type="button"]:hover, .filebutton:hover
{
    color:#ff4800;
    border:1px solid #ff4800;
    text-shadow: 0 0 15px #ff4800;
}

input[type="submit"]
{
    color: #ffffff;
}

a:link
{
    color:#dcdcff;
}

a:visited
{
    color:#dcdcff;
}

a:hover,a:active
{
    color:#ff4800;
}

select {
    color:#dddddd;
}

.selectholder {
    background:rgba(0,0,0,0.3) url('../newimages/blobdown2.svg') right 2px center no-repeat;
    border: 1px solid #555555;
}

.selectholder:hover {
    background:rgba(0,0,0,0.3) url('../newimages/blobdown2-hi.svg') right 2px center no-repeat;
}

.combobox-entry:hover {
    background:rgba(0,0,0,0.3) url('../newimages/blobdown2-hi.svg') right 2px center no-repeat;
}

.combobox-entry {
    background:rgba(0,0,0,0.3) url('../newimages/blobdown2.svg') right 2px center no-repeat;
}

.clearbox {
    background:rgba(0,0,0,0.3) url('../newimages/edit-delete.svg') right 2px center no-repeat;
    background-size:12px 12px;
}

input[type="text"] {
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px solid #555555;
    border-top: 1px solid #232323;
}

input[type="text"]:hover {
    background-color: rgba(0,0,0,0.2);
}

input[type="text"]:focus {
    transition: border-bottom 0.5s ease;
    transition: border-top 0.5s ease;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #555555;
}

select:hover {
    color: #ffffff;
}

.drop-box {
    background-color: rgba(0,0,0,0.2);
    color:white;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#headerbar
{
    background-color:#181818;
}

#infopane
{
    box-sizing:border-box;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
}

#custombackground
{
    display:none;
}

#notifications
{
    background-color:#000000;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

#tagadder
{
    background-color:#000000;
    border-left:1px solid #666666;
    border-bottom:1px solid #000000;
    border-right:1px solid #000000;
}

#dragger
{
    background-color:rgba(255,255,255,0.3);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.bordered
{
    border-left:1px solid #000000;
    border-bottom:1px solid #232323;
    border-right:1px solid #232323;
    border-top:1px solid #000000;
}

.album1
{
    background-color:#252525;
}

.album2
{
    background-color:#181818;
}

a.album:visited
{
    color:#dcdcff;
}

a.album:hover,a.album:active
{
    color:#ff4800;
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    color:#ff4800;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    color:#dddddd;
}

.selected
{
    background-color:#CC5500;
}

.playlistcurrentitem
{
    font-size:110%;
    text-shadow: 0 0 15px #ffffff;
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
    color:#ffffff;
}

.playlistitem, .playlistalbum
{
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.playlistcurrenttitle
{
    font-size: 125%;
    text-shadow: 0 0 20px #ffffff;
    color:#ffffff;
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.item
{
    border-top:1px solid #cccccc;
}

.stleft
{
    border-right:1px solid #aaaaaa;
}

.popupwindow
{
    background-color:#111111;
    border-left:1px solid #666666;
    border-bottom:1px solid #000000;
    border-right:1px solid #000000;
    border-top:1px solid #666666;
}

.backhi:hover {
    color:#ff4800;
    cursor:pointer;
}

table.histable tr:hover {
    background-color:#ff4800;
    cursor:pointer;
}

.tagholder table tr th
{
    border-bottom:1px solid #cccccc;
    background-color:#000000;
}

tr.clickaddtrack:hover
{
    background-color:#353535;
}

.bsel
{
    color:#ff4800;
}

.bmid
{
    border-left:2px solid #ff4800;
}

.currentbun
{
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.dropshadow
{
    box-shadow:         7px 7px 5px rgba(0, 0, 0, 0.9);
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border-left:1px solid #000000;
    border-bottom:1px solid #343434;
    border-right:1px solid #343434;
    border-top:1px solid #000000;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu
{
    background-color:#191919;
    border-left:1px solid #262626;
    border-bottom:1px solid #000000;
    border-right:1px solid #000000;
    border-top:none;
}

.configtitle
{
    background-color:#252525;
    border-bottom: 1px solid #555555;
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

.infowiki
{
    background-color:#181818;
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/

.helpfulalbum
{
    background-color:#303030;
}

.tagholder_wide
{
    background-color:#404040;
}

/*
=====================================================================
= Podcasts
=====================================================================
*/

.podcastitem
{
    border-top:1px solid #cccccc;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

.albumsection
{
    background-color:#000000;
}

#albumcovers
{
    background-color:#444444;
}

#coverslist
{
    box-sizing:border-box;
    border-left:1px solid #bbbbbb;
}

.highlighted {
    border-top: 4px solid #fe6800 !important;
    border-left: 4px solid #fe6800 !important;
    border-right: 4px solid #fe6800 !important;
    border-bottom: 4px solid #fe6800 !important;
    border-radius:2px !important;
}

.covercontainer.highlighted
{
    border-bottom: none !important;
    margin-bottom:-4px;
    background-color:#181818;
}

#imageeditor
{
    background-color:#181818;
}

#artistchooser
{
    border-bottom:1px solid #777777;
    color:#555555;
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th
{
    background-color: rgba(255,255,255,0.1);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

th.tlheader
{
    background-color:#232323;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid #999999;
}

.infosection h2
{
    border-bottom:2px solid #eeeeee;
}

.topbarplaycontrols {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
