@import url("themes/theme_base/colour_theme.css");

:root {
    --min-progress-colour: rgba(150, 150, 150, 0.99);
    --max-progress-colour: rgba(255, 255, 255, 0.99);
    --progress-bg-colour: rgba(0,0,0,0);

    --text-colour: #dddddd;
    --border-colour: #bbbbbb;
    --border-colour-dark: #555555;
    --link-colour: orange;
    --highlight-colour: #ffffff;

    --main-bg-colour: unset;
    --main-bg-image: linear-gradient(#000000, #444444);

    --darker-bg-colour: rgba(255, 255, 255, 0.1);

    --headerbar-bg-colour: unset;
    --headerbar-bg-image: linear-gradient(#050505, #0b0b0b);

    --topbit-bg-colour: unset;
    --topbit-bg-image: none;

    --sources-bg-colour: unset;
    --sources-bg-image:  none;
    --sources-border-top: none;

    --horse-bg-colour: unset;
    --horse-bg-image: none;

    --playlist-bg-colour: unset;
    --playlist-bg-image: none;
    --playlist-title-bg-colour: unset;
    --playlist-title-border: none;
    --playlist-item-top-border: 1px solid var(--border-colour-dark);
    --playlist-current-bg-colour: rgba(255,255,255,0.1);

    --dropmenu-bg-colour: unset;
    --dropmenu-bg-image: linear-gradient(#0b0b0b, #444444);

    --configtitle-bg-colour: rgba(255,255,255,0.2);
    --configtitle-bg-image: none;
    --configtitle-border-bottom: none;

    --infopane-border-top: none;
    --infopane-bg-colour: unset;
    --infopane-bg-image: none;
    --infopane-text-colour: unset;

    --infopane-header-bg-colour: unset;
    --infopane-header-bg-image: none;

    --selected-bg-colour: rgba(255,255,255,0.2);

    --button-colour:  var(--text-colour);
    --button-hover-colour: var(--highlight-colour);
    --button-border: none;
    --button-hover-border: none;
    --button-bg-colour: black;
    --button-bg-image:  none;
    --button-bg-hover-colour: #222222;
    --button-bg-hover-image:  none;

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: var(--border-colour-dark);
    --text-entry-hover-border-colour: var(--border-colour-dark);
    --text-entry-active-border-colour: var(--border-colour);
    --text-entry-bg-colour: rgba(200,200,200,0.05);
    --text-entry-hover-bg-colour: rgba(200,200,200,0.1);
    --text-entry-active-bg-colour: rgba(200,200,200,0.15);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --album1-colour: transparent;
    --album2-colour: transparent;
    --drop-shadow: 7px 7px 5px rgba(0, 0, 0, 0.9);

    --bordered-top: 1px solid #222222;
    --bordered-right: 1px solid #292929;
    --bordered-bottom: 1px solid #292929;
    --bordered-left: 1px solid #222222;

    --album-browse-bg-colour: unset;
    --album-browse-bg-image: linear-gradient(rgba(100,100,100,0.3), rgba(200,200,200,0.2));
    --skypotato-openalbum-bg-colour: unset;
    --skypotato-openalbum-bg-image: linear-gradient(rgba(200,200,200,0.2), rgba(220,220,220,0.2));
    --album-browse-open-bg-colour: unset;
    --album-browse-open-bg-image: linear-gradient(rgba(100,100,100,0.2), rgba(200,200,200,0.1));
    --album-browse-open-highlight: 1px solid rgba(200,200,200,0.1);
}

.playlistcurrentitem
{
    font-size:110%;
    text-shadow: 0 0 12px var(--text-colour);
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.playlistitem
{
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.playlistcurrenttitle
{
    font-size:125%;
    text-shadow: 0 0 12px var(--text-colour);
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.playlisttitle {
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.covercontainer.highlighted
{
    margin-bottom: 0px !important;
}

body.phone #headerbar, div.albumcovers .infosection, #artistcoverslist {
    background-image: linear-gradient(#000000, #444444) !important;
}
