/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

html, body.phone .dropmenu {
    background-image:url("fire.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

body.phone .dropmenu>div {
    background-color:rgba(0,0,0,0.3);
    background-clip:border-box;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#eeeeee;
    background-color:rgba(0,0,0,0.3);
}

a:link
{
    color:yellow;
}

a:visited
{
    color:yellow;
}

a:hover,a:active
{
    text-shadow: 0 0 15px #000000;
    cursor:pointer;
}

button, input[type="button"], .filebutton
{
    color:#dddddd;
    background-color:transparent;
    border:1px solid #aaaaaa;
}

button:hover, input[type="button"]:hover, .filebutton:hover
{
    color:#ffffff;
    border:1px solid #ffffff;
    text-shadow: 0 0 15px #ffffff;
}

input
{
    color:#181818;
}

input[type="text"] {
    color: white;
    background-color: #222;
    border: 1px solid #444;
}

select
{
    color:#000000;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#infobar.coloured, #headerbar, #thetopbit
{
    background-color:rgba(0,0,0,0.3);
}

#sources, .mainpane, #playlist
{
    background-color:rgba(0,0,0,0.1);
}

#infopane
{
    background-color:rgba(0,0,0,0.4);
}

#artistbio
{
    padding:4px;
}

#notifications
{
    background-color:rgba(0,0,0,0.9);
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

#tagadder
{
    background-color:rgba(0,0,0,0.8);
}

#dragger
{
    background-color:rgba(0,0,0,0.3);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.desktop .selectholder {
    background: #222 url('../newimages/blobdown3.svg') right 2px center no-repeat;
}

.desktop .selectholder:hover {
    background: #222 url('../newimages/blobdown3-hi.svg') right 2px center no-repeat;
}

.combobox-entry {
    background: #222 url('../newimages/blobdown3.svg') right 2px center no-repeat;
}

.combobox-entry:hover {
    background: #222 url('../newimages/blobdown3-hi.svg') right 2px center no-repeat;
}

.desktop select {
    color: white;
}

.album2
{
    background-color:rgba(0,0,0,0.1);
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    color:#ffffff;
}

.selected
{
    background-color:rgba(255,72,0,0.5);
}

.playlistcurrentitem
{
    font-weight:bold;
    font-size:120%;
    color:#eeeeee;
    background-color:rgba(200,200,200,0.2);
    transition:font-size 0.2s ease, text-shadow 0.2s ease, background-color 0.2s ease;
}

.playlistitem, .playlistalbum
{
    transition:font-size 0.3s ease, text-shadow 0.3s ease, background-color 0.2s ease;
}

.playlistcurrenttitle
{
    background-color:rgba(200,200,200,0.2);
    text-shadow: 0px 0px 20px #cccccc;
    font-weight:bold;
    color:#eeeeee;
    transition:font-size 0.2s ease, text-shadow 0.2s ease, background-color 0.2s ease;
}

.inbrowser
{
    color:#000000;
}

.stleft
{
    border-right:1px solid #888888;
}

.popupwindow
{
    background-color:rgba(0,0,0,0.8);
}

table.histable tr:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    transition:all 0.1s;
}

table.histable tr
{
    transition:all 0.2s;
}

.backhi:hover {
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
    cursor:pointer;
    transition:all 0.1s;
}

.backhi
{
    transition:all 0.2s;
}

tr.clickaddtrack:hover
{
    background-color:#e1e4ea;
}

.bsel
{
    color:#ffffff;
    text-shadow:0 0 15px #ffffff;
}

.bmid
{
    border-left:2px solid #ff4800;
}

.tagholder table tr th {
    background-color:rgba(0,0,0,0.5);
    border-bottom:1px solid #000000;
}


.currentbun
{
    border-bottom:1px solid #ffffff;
    padding-bottom:2px;
}

.dropshadow
{
    box-shadow:         7px 7px 5px rgba(0, 0, 0, 0.5);
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border:1px solid #414141;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu
{
    background-color:rgba(0,0,0,0.9);
}

.configtitle
{
    background-color:rgba(255,128,20,0.2);
}

body.mobile .configtitle
{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

.infowiki
{
    color:white;
}

.infosection
{
    background-color:rgba(0,0,0,0.5);
    background-size:cover;
    background-repeat:no-repeat;
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/

.helpfulalbum
{
    background-color:rgba(0,0,0,0.4);
}

.tagholder_wide
{
    background-color:rgba(0,0,0,0.6);
}

/*
=====================================================================
= Podcasts
=====================================================================
*/

.podcastitem
{
    border-top:1px solid #cccccc;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

.albumsection
{
    background-color:rgba(0,0,0,0.5);
    background-size:cover;
    background-repeat:no-repeat;
}

.highlighted {
    background-color:rgba(90,0,60,0.7) !important;
}

#coverslist
{
    box-sizing:border-box;
    border-left:1px solid #bbbbbb;
}

#artistchooser
{
    background-color:rgba(0,0,0,0.3);
    color:#aaaaaa;
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th
{
    background-color: rgba(0,0,0,0.2);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid yellow;
}

.infosection h2
{
    border-bottom:2px solid white;
}
