html, body.phone .dropmenu {
    background-color:#cccccc;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#000000;
}

h1,h2,h3,h4,h5,h6
{
    color:#000000;
}

a:link
{
    color:#0b0080;
}

a:visited
{
    color:#0b0080;
}

a:hover,a:active
{
    color:#ff4800;
}

input
{
    color:#181818;
}

button, .filebutton
{
    color:#000000;
    border: 1px solid #000000;
}

button:hover, .filebutton:hover
{
    color:#ff4800;
    border: 1px solid #ff4800;
}

select
{
    color:#181818;
}

#custombackground
{
    display:none;
}

#infopane
{
    box-sizing:border-box;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

/*-- divs used to create infobar layout --*/

#notifications
{
    background-color:#a9a9a9;
}
/*-- divs and classes used in the albums list --*/

.album1
{
    background-color:#cccccc;
}

.album2
{
    background-color:#cccccc;
}

a.album:visited
{
    color:#220000;
}

a.album:hover,a.album:active
{
    color:#ff4800;
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    color:#ff4800;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    color:#dddddd;
}

.selected
{
    background-color:#CC5500;
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    color:#cc0000;
}

.playlistcurrenttitle
{
    color:#cc0000;
}

.inbrowser
{
    color:#000000;
}

/*-- For Wikipedia and Last.FM pages --*/

#wikipopup
{
    background-color:#aaaaaa;
}

#imagecontainer
{
    background-color:#ffffff;
}

.translucent
{
    opacity:0.7;
}

/*-- For Album Cover Art --*/

.popupwindow
{
    background-color:#bababa;
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #9a9a9a;
    border-right:1px solid #9a9a9a;
    border-top:1px solid #eeeeee;
}

.underline
{
    border-bottom: 0px none !important;
}

.info-border-right
{
    border-right: 0px none !important;
}

.helpfulalbum
{
    border: 1px solid black;
}

.containerbox .podcast .helpfulalbum.expand
{
    border-bottom: none;
}

.containerbox .podcast .helpfulalbum.fixed
{
    border-top: none;
}

.tagholder_wide
{
    border-bottom: 1px solid black;
}

.tagholder_wide .helpfulalbum.tleft
{
    border: none;
}

/*-- Styles for drop-down menus --*/

div.topdropmenu
{
    background-color:#cccccc;
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #9a9a9a;
    border-right:1px solid #9a9a9a;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

table.navbox th
{
    background-color: #dddddd;
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

.description
{
    margin-top:4px;
}

.crackbaby
{
    border-bottom: 1px solid #444444;
}

#tagadder
{
    background-color:#bababa;
}

table.histable tr:hover {
    background-color:#CC5500;
}

.backhi:hover {
    background-color:#CC5500;
    cursor:pointer;
}

tr.clickaddtrack:hover
{
    background-color:#cccccc;
}

#fiddler {
    border-left: 4px solid #fe6500;
    border-right: 4px solid #fe6500;
}

.highlighted {
    border-top: 4px solid #fe6800 !important;
    border-left: 4px solid #fe6800 !important;
    border-right: 4px solid #fe6800 !important;
    border-bottom: 4px solid #fe6800 !important;
    border-radius:2px !important;
}

.covercontainer.highlighted
{
    border-bottom: none !important;
    margin-bottom:-4px;
    background-color:#cccccc;
}

#imageeditor
{
    background-color:#cccccc;
}

.tagholder table tr th {
    border-bottom:1px solid #000000;
}

.bsel
{
    color:#ff4800;
}

.bmid
{
    border-left:2px solid #ff4800;
}

#artistchooser
{
    border-bottom:1px solid #777777;
    border-top:1px solid #777777;
    color:#555555;
}

.currentbun
{
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border:1px solid #414141;
}

.podcastitem
{
    border-top:1px solid #000000;
}

#dragger
{
    background-color:rgba(0,0,0,0.3);
}
