@import url("themes/theme_base/image_theme.css");

:root {
    --main-bg-colour: rgba(0,0,0,0.25);
    --darker-bg-colour: rgba(0,0,0,0.3);
    --dropmenu-bg-colour: rgba(159,74,10,0.9);
    --configtitle-bg-colour: rgba(245,199,103,0.7);
    --headerbar-bg-colour:  var(--main-bg-colour);
    --infobar-bg-colour: var(--main-bg-colour);

    --text-colour: #eeeeee;
    --highlight-colour: #ffffff;
    --link-colour: yellow;
    --border-colour: #f5c767;
    --border-colour-dark: #d4b699;

    --button-colour:  var(--text-colour);
    --button-hover-colour:  var(--highlight-colour);
    --button-border: 1px solid transparent;
    --button-hover-border: 1px solid var(--border-colour-dark);;
    --button-bg-colour: rgba(212,182,153,0.6);
    --button-bg-hover-colour: rgba(245,199,103,0.6);

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: var(--border-colour-dark);
    --text-entry-hover-border-colour: var(---border-colour-dark);
    --text-entry-active-border-colour: var(--border-colour);
    --text-entry-bg-colour: var(--darker-bg-colour);
    --text-entry-hover-bg-colour: var(--darker-bg-colour);
    --text-entry-active-bg-colour: var(--main-bg-colour);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --min-progress-colour: rgba(159,74,10,0.8);
    --max-progress-colour: rgba(245,199,103,0.8);
    --progress-bg-colour: rgba(0,0,0,0);
    --selected-bg-colour: rgba(159,74,10,0.5);
    --album1-colour: transparent;
    --album2-colour: var(--main-bg-colour);
    --drop-shadow: 7px 7px 5px rgba(0, 0, 0, 0.4);

    --playlist-current-track-font-size: 120%;
    --playlist-current-track-font-weight: bold;
    --playlist-current-track-left-border: 4px solid var(--border-colour);
    --playlist-current-title-font-size: 120%;
    --playlist-current-title-font-weight: bold;
    --playlist-current-shadow: 0px 0px 20px var(--text-colour);
    --playlist-current-transition: font-size 0.3s ease;

    --button-font-weight: normal;
    --button-hover-shadow: 0 0 12px var(--text-colour);

    --waiting-swinger-width: 50px;
    --waiting-swinger-height: 2px;
    --waiting-swinger-bg-image: linear-gradient(to left,  rgba(245, 199, 103, 0) 0%,  rgba(245, 199, 103, 1) 50%, rgba(245, 199, 103, 0) 100%);
}

html {
    background-image:url("themes/leafinity.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
}

/* This is required when you have a left border on playlist-current-track */
.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}

/* For when the playlist cntrols are open in the phone skin */
#playlistm #horse, #playlistm #playlistbuttons {
    background-color: var(--main-bg-colour);
}
