@import url("themes/theme_base/image_theme.css");

:root {
    --main-bg-colour: rgba(0,0,0,0.3);
    --darker-bg-colour: rgba(0,0,0,0.3);
    --dropmenu-bg-colour: rgba(0,0,0,0.9);
    --configtitle-bg-colour: rgba(20,50,20,1);
    --headerbar-bg-colour:  var(--main-bg-colour);
    --infobar-bg-colour:  var(--main-bg-colour);

    --text-colour: #eeeeee;
    --highlight-colour: #ffffff;
    --link-colour: lightgreen;
    --border-colour: lightgreen;
    --border-colour-dark: green;

    --button-colour:  #dddddd;
    --button-hover-colour: var(--highlight-colour);
    --button-border: 1px solid transparent;
    --button-hover-border: 1px solid var(--highlight-colour);;
    --button-bg-colour: transparent;
    --button-bg-hover-colour: transparent;

    --text-entry-text-colour: black;
    --text-entry-border-colour: transparent;
    --text-entry-hover-border-colour: transparent;
    --text-entry-active-border-colour: transparent;
    --text-entry-bg-colour: rgba(255,255,255,0.8);
    --text-entry-hover-bg-colour: rgba(255,255,255,0.9);
    --text-entry-active-bg-colour: white;

    --select-text-colour: var(--text-entry-text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --min-progress-colour: rgba(77, 80, 17, 0.99);
    --max-progress-colour: rgba(136, 142, 30, 0.99);
    --progress-bg-colour: rgba(0,0,0,0);
    --selected-bg-colour: var(--min-progress-colour);
    --album1-colour: transparent;
    --album2-colour: transparent;
    --drop-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

html {
    background-image:url("themes/leaf.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.playlistcurrentitem
{
    font-weight:bold;
    font-size:120%;
    border-left:4px solid white;
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}

.playlistitem, .playlistalbum
{
    transition:font-size 0.3s ease;
}

.playlistcurrenttitle
{
    text-shadow: 0px 0px 20px var(--text-colour);
    font-weight:bold;
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.playlisttitle {
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

table.histable tr:hover {
    font-size:105%;
    text-shadow: 0 0 15px var(--text-colour);
    transition:all 0.1s;
}

table.histable tr
{
    transition:all 0.2s;
}

.backhi:hover {
    text-shadow: 0 0 15px var(--text-colour);
    cursor:pointer;
    transition:all 0.1s;
}

button:hover, input[type="button"]:hover, div.filebutton:hover
{
    text-shadow: 0 0 15px var(--highlight-colour);
}

a:hover,a:active
{
    text-shadow: 0 0 15px var(--link-colour);
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    text-shadow: 0 0 15px var(--highlight-colour);
}

.bsel
{
    text-shadow:0 0 15px var(--highlight-colour);
}

body.phone #horse, body.phone #playlistbuttons {
    background-color: var(--main-bg-colour);
}
