/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

html, body.phone .dropmenu {
    color:#eeeeee;
    background-image:url('leaftile.jpg');
}

a:link
{
    color:yellow;
}

a:visited
{
    color:yellow;
}

a:hover,a:active
{
    color:#ff4800;
}

button, .filebutton
{
    color:#eeeeee;
    background-image:url('veins.jpg');
    border:none;
    box-shadow: 0px 0px 20px rgba(150, 250, 50, 0.4);
}

button:active, .filebutton:active
{
    box-shadow:none;
}

button:hover, .filebutton:hover
{
    color:#ff4800;
    box-shadow: 0px 0px 20px rgba(150, 250, 50, 1);
}

input.inbrowser, div.inbrowser
{
    border: 1px solid #888888;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#custombackground
{
    display:none;
}

#notifications
{
    background-image:url('veins.jpg');
    box-shadow: 4px 4px 12px rgba(150, 250, 50, 0.4);
    opacity:0.8;
}

#wikipopup
{
    background-image:url('leaves2.jpg');
}

#imagecontainer
{
    background-color:#ffffff;
}

#tagadder
{
    background-image:url('leaves2.jpg');
}

#dragger
{
    background-color:rgba(0,0,0,0.5);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.bordered
{
    background-color:rgba(250,250,250,0.2);
}

.album1
{
    background-color:rgba(250,250,250,0.1);
}

.album2
{
    background-color:rgba(250,250,250,0.2);
}

div.clickable:hover
{
    color:#ff4800;
}

div.clickable.selected:hover
{
    color:#dddddd;
}

.selected
{
    background-color:#CC5500;
}

.playlistcurrentitem
{
    background-color:rgba(250,250,250,0.2);
    border-left:2px solid white;
    padding-left:2px;
}

.playlistcurrenttitle
{
    background-color:rgba(250,250,250,0.2);
    border-left:2px solid white;
    padding-left:2px;
}

.stleft
{
    border-right:1px solid #aaaaaa;
}

.popupwindow
{
    background-image:url('leaves2.jpg');
    border-bottom:2px solid #555555;
    border-right:2px solid #555555;
}

table.histable tr:hover {
    background-color:#CC5500;
}

.backhi:hover {
    background-color:#CC5500;
    cursor:pointer;
}

tr.clickaddtrack:hover
{
    background-image:url('leaves2.jpg');
}

.bsel
{
    color:#ff4800;
}

.bmid
{
    border-left:2px solid #ff4800;
}

.currentbun
{
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.dropshadow
{
    box-shadow: 4px 4px 12px rgba(150, 250, 50, 0.4);
}

.progressbar
{
    border:1px solid #414141;
}

.mCSB_draggerRail
{
    background:rgba(0,0,0,0.1) !important;
}

.mCSB_dragger_bar
{
    background:rgba(0,0,0,0.75) !important;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu
{
    background-image:url('leaves2.jpg');
    border-bottom:1px solid #555555;
    border-right:1px solid #555555;
    border-top:none;
}

.configtitle
{
    background-image:url('veins.jpg');
    box-shadow:  0px 0px 8px rgba(250, 520, 250, 0.6);
    margin-bottom:8px;
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

.infosection
{
    background-image:url('veins.jpg');
    box-shadow: 0px 0px 12px rgba(150, 250, 50, 0.4);
    margin-bottom:8px;
}

.infowiki
{
    background-image:url('leaves2.jpg');
}

.tagholder table tr th {
    background-image:url('veins.jpg');
    border-bottom:1px solid #eeeeee;
}

/*
=====================================================================
= Podcasts
=====================================================================
*/

.podcastitem
{
    border-top:1px solid #eeeeee;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

.albumsection
{
    background-image:url('veins.jpg');
    box-shadow: 0px 0px 12px rgba(150, 250, 50, 0.4);
}

.albumcovers .infosection
{
    background-image:url('leaftile.jpg');
}

.highlighted {
    background-color: rgba(0,0,0,0.6);
}

.helpfulalbum
{
    background-color:rgba(0,0,0,0.4);
}

.tagholder_wide
{
    background-color:rgba(0,0,0,0.3);
}

#artistchooser
{
    border-bottom:1px solid #555555;
    border-top:1px solid #555555;
    color:#555555;
}

#artistcoverslist
{
    background-image:url('leaftile.jpg');
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.6);
}

#coverslist
{
    background-image:url('leaves2.jpg');
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th
{
    background-color: #e5e5e5;
}

.navbox-title
{
    color:#eeeeee;
}

.navbox-group
{
    color:#eeeeee;
}

.navbox-abovebelow
{
    color:#eeeeee;
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    color:#990000;
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    color:#ff4800;
    text-decoration:none;
}
