/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

html, body.phone .dropmenu {
    background-image:url("themes/mountains.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.backmenu {
    background-color: rgba(0,0,0,0.5) !important;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
    color:#eeeeee;
}

a:link {
    color:yellow;
}

a:visited {
    color:yellow;
}

a.album:visited {
    color:#220000;
}

a.album:hover,a.album:active {
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

a:hover,a:active {
    text-shadow: 0 0 15px #000000;
    cursor:pointer;
}

button, input[type="button"], div.filebutton {
    color:#dddddd;
    background-color:transparent;
    border:1px solid #aaaaaa;
}

button:hover, input[type="button"]:hover, div.filebutton:hover {
    color:#ffffff;
    border:1px solid #ffffff;
    text-shadow: 0 0 15px #ffffff;
}

select {
    color:#dddddd;
}

div.selectholder {
    background-color:rgba(0,0,0,0.3);
}

div.selectholder:hover {
    background-color:rgba(0,0,0,0.2);
}

input[type="text"] {
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px solid #555555;
}

input[type="text"]:hover {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px solid #555555;
}

input[type="text"]:focus {
    transition: border-bottom 0.5s ease;
    border-bottom: 1px solid #bbbbbb;
}

select:hover {
    color: #ffffff;
}

.drop-box {
    background-color: rgba(0,0,0,0.3);
    color:white;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#sources, #infobar.coloured, #headerbar, #playlist, #thetopbit {
    background-color:rgba(0,0,0,0.3);
}

#infopane {
    background-color:rgba(0,0,0,0.4);
}

#notifications {
    background-color:rgba(0,0,0,0.9);
}

#wikipopup {
    background-color:#000000;
    opacity:0.75;
}

#tagadder {
    background-color:rgba(0,0,0,0.8);
}

#artistchooser {
    background-color:rgba(0,0,0,0.3);
    color:#aaaaaa;
}

#dragger {
    background-color:rgba(0,0,0,0.3);
}

#pset {
    background-color: rgba(61, 47, 49, 0.99);
}
#pmaxset {
    background-color: rgba(89, 80, 72, 0.99);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.mainpane {
    background-color:rgba(0,0,0,0.2);
}

.album2 {
    background-color:rgba(0,0,0,0.2);
}

.item {
    margin-bottom: 2px;
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    color:#ffffff;
}

.selected {
    background-color:rgba(255,72,0,0.5);
}

.playlistcurrentitem {
    font-weight:bold;
    font-size:120%;
    border-left:4px solid white;
    color:#eeeeee;
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}

.playlistitem, .playlistalbum {
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.playlistcurrenttitle {
    text-shadow: 0px 0px 20px #cccccc;
    font-weight:bold;
    color:#eeeeee;
    background-color:rgba(0,0,0,0.1);
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.playlisttitle {
    background-color:rgba(0,0,0,0.1);
}

.stleft {
    border-right:1px solid #888888;
}

.infosection {
    background-color:rgba(0,0,0,0.5);
}

.popupwindow {
    background-color:rgba(0,0,0,0.6);
}

table.histable tr:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    transition:all 0.1s;
}

table.histable tr {
    transition:all 0.2s;
}

.backhi:hover {
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
    cursor:pointer;
    transition:all 0.1s;
}

/*Prevent submenus from having all entries highlighted
due to :hover events propagating from the parent menu 
*/
.backhi:hover>div.topdropmenu>div.backhi {
    color:#eeeeee;    
}

/*Make sure the submenu entry being hovered over still gets highlighted*/

.backhi:hover>div.topdropmenu>div.backhi:hover {
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
}

.backhi {
    transition:all 0.2s;
}

tr.clickaddtrack:hover {
    background-color:#e1e4ea;
}

.bsel {
    color:#ffffff;
    text-shadow:0 0 15px #ffffff;
}

.bmid {
    border-left:2px solid #ff4800;
}

.tagholder table tr th {
    background-color:rgba(0,0,0,0.5);
    border-bottom:1px solid #000000;
}

.dropshadow {
    box-shadow:         7px 7px 5px rgba(0, 0, 0, 0.4);
}

.progressbar {
    border:1px solid #666666;
}

.progressbar_v {
    border:1px solid #666666;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu {
    background-color:rgba(74,58,52,0.9);
}

.configtitle {
    background-color:rgba(50,50,50,0.8);
}

body.mobile .configtitle {
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

#artistbio {
    padding:4px;
}

.infowiki {
    color:white;
}

.currentbun {
    border-bottom:1px solid #000000;
    padding-bottom:2px;
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/

.helpfulalbum
{
    background-color:rgba(0,0,0,0.4);
}

.tagholder_wide
{
    background-color:rgba(0,0,0,0.6);
}

/*
=====================================================================
= Podcasts
=====================================================================
*/

.podcastitem
{
    border-top:1px solid #cccccc;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

#artistcoverslist {
    background-color:rgba(0,0,0,0.5);
}

.highlighted {
    background-color:rgba(0,0,0,0.5) !important;
}

.albumcovers .infosection {
    margin-bottom: 0px;
}

.albumsection {
    background-color:rgba(0,0,0,0.5);
    box-sizing:border-box;
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th
{
    background-color: rgba(0,0,0,0.2);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid yellow;
}

.infosection h2
{
    border-bottom:2px solid white;
}
