@import url("themes/theme_base/colour_theme.css");

:root {
    --min-progress-colour: rgba(150, 150, 150, 0.99);
    --max-progress-colour: rgba(255, 255, 255, 0.99);
    --progress-bg-colour: rgba(0,0,0,0);

    --text-colour: #111111;
    --border-colour: #333333;
    --border-colour-dark: #333333;
    --link-colour: yellow;
    --highlight-colour: #ffffff;

    --main-bg-colour: unset;
    --main-bg-image: linear-gradient(#eeeeee, #999999);

    --darker-bg-colour: rgba(255, 255, 255, 0.1);

    --headerbar-bg-colour: unset;
    --headerbar-bg-image: linear-gradient(#dddddd, #dcdcdc);

    --topbit-bg-colour: unset;
    --topbit-bg-image: none;

    --sources-bg-colour: unset;
    --sources-bg-image:  none;
    --sources-border-top: none;

    --horse-bg-colour: unset;
    --horse-bg-image: none;

    --playlist-bg-colour: unset;
    --playlist-bg-image: none;
    --playlist-title-bg-colour: unset;
    --playlist-title-border: none;
    --playlist-item-top-border: 1px solid var(--border-colour-dark);
    --playlist-current-bg-colour: rgba(0,0,0,0.1);
    --playlist-current-shadow: unset;
    --playlist-current-transition: font-size 0.5s ease;
    --playlist-current-track-font-size: 110%;
    --playlist-current-track-font-weight: unset;
    --playlist-current-track-left-border: unset;
    --playlist-current-title-font-size: 125%;
    --playlist-current-title-font-weight: unset;

    --dropmenu-bg-colour: unset;
    --dropmenu-bg-image: linear-gradient(#dcdcdc, #999999);

    --configtitle-bg-colour: unset;
    --configtitle-bg-image: linear-gradient(#dcdcdc, #999999);
    --configtitle-border-bottom: none;

    --infopane-border-top: none;
    --infopane-bg-colour: rgba(0,0,0,0.1);
    --infopane-bg-image: none;
    --infopane-text-colour: unset;

    --infopane-header-bg-colour: unset;
    --infopane-header-bg-image: none;

    --selected-bg-colour: rgba(0,0,0,0.5);

    --button-colour: #cccccc;
    --button-hover-colour: var(--highlight-colour);
    --button-border: 1px solid var(--border-colour);
    --button-hover-border: 1px solid var(--highlight-colour);
    --button-bg-colour: #222222;
    --button-bg-image:  none;
    --button-bg-hover-colour: #222222;
    --button-bg-hover-image:  none;
    --button-font-weight: unset;
    --button-hover-shadow: unset;

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: unset;
    --text-entry-hover-border-colour: var(--border-colour-dark);
    --text-entry-active-border-colour: var(--border-colour);
    --text-entry-bg-colour: rgba(200,200,200, 0.7);
    --text-entry-hover-bg-colour: rgba(200,200,200, 0.9);
    --text-entry-active-bg-colour: rgba(200,200,200, 1);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --album1-colour: transparent;
    --album2-colour: transparent;
    --drop-shadow: 7px 7px 5px rgba(0, 0, 0, 0.9);

    --bordered-top: 1px solid #bbbbbb;
    --bordered-right: 1px solid #eeeeee;
    --bordered-bottom: 1px solid #eeeeee;
    --bordered-left: 1px solid #bbbbbb;

    --album-browse-bg-colour: rgba(0,0,0,0.1);
    --album-browse-bg-image: none;
    --skypotato-openalbum-bg-colour: rgba(0,0,0,0.1);
    --skypotato-openalbum-bg-image: none;
    --album-browse-open-bg-colour: rgba(0,0,0,0.1);
    --album-browse-open-bg-image: none;
    --album-browse-open-highlight: none;

    --albumart-artists-bg-colour: var(--main-bg-colour);
    --albumart-artists-bg-image:var(--main-bg-image);

    --waiting-swinger-width: 50px;
    --waiting-swinger-height: 2px;
    --waiting-swinger-bg-image: linear-gradient(to left,  rgba(17, 17, 17, 0) 0%,  rgba(17, 17, 17, 1) 50%, rgba(17, 17, 17, 0) 100%);
}

.covercontainer.highlighted
{
    margin-bottom: 0px !important;
}
