/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

html, body.phone .dropmenu {
    background-image: linear-gradient(#ffffff, #bbbbbb);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

body
{

}

body,p,h1,h2,h3,h4,h5,h6,table,td,th,ul,ol,input,select
{
    color:#111111;
}

body.phone .dropmenu>div.playable,
body.phone .dropmenu>div.menuitem,
body.phone .mainpane .radio,
body.phone .mainpane .faveradio,
body.phone .mainpane .podcast:not(.podicon):not(.podglobal),
body.phone .mainpane .directory {
    border-top: 1px solid rgba(60,60,60,0.4);
}

body.phone #pluginplaylistholder .menuitem.clickicon,
body.phone #pluginplaylistholder .menuitem.containerbox.fullwidth {
    border-bottom: 1px solid rgba(60,60,60,0.4);
}

button, input[type="button"], div.filebutton
{
    background-color:#dddddd;
    border:none;
    color:#444444;
    font-weight:normal;
}

button:hover, input[type="button"]:hover, div.filebutton:hover
{
    color:black;
    background-color:#eeeeee;
}

input[type="submit"]
{
    color: #dddddd;
}

a:link {
    color:#0b0080;
}

a:visited {
    color:#0b0080;
}

a:hover,a:active {
    color:#ff4800;
}

div.selectholder {
    background-color:rgba(0,0,0,0.05);
}

div.selectholder:hover {
    background-color:rgba(0,0,0,0.03);
}

input[type="text"] {
    background-color: rgba(0,0,0,0.05);
}

input[type="text"]:hover, input.snapclientname[type="text"]:hover {
    background-color: rgba(0,0,0,0.03) !important;
}

input[type="text"]:focus {
    transition: border-bottom 0.5s ease;
    border-bottom: 1px solid #bbbbbb;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

.album2 {
    background-color:rgba(0,0,0,0.1);
}

.setupdiv
{
    background-image: linear-gradient(#ffffff, #bbbbbb);
}

body.setup
{
    background-color: #dddddd;
}

body.desktop #headerbar
{
    background-image: linear-gradient(#eeeeee, #ededed);
}

#pset {
    background-color: rgba(1, 1, 1, 0.75);
}
#pmaxset {
    background-color: rgba(150, 150, 150, 0.75);
}
#pbgset {
    background-color: rgba(1, 1, 1, 0);
}

#custombackground
{
    display:none;
}

#notifications
{
    background-image: linear-gradient(#ededed, #cccccc);
}

#wikipopup
{
    background-image: linear-gradient(#ededed, #cccccc);
}

#imagecontainer
{
    background-image: linear-gradient(#ededed, #cccccc);
}

#tagadder
{
    background-image: linear-gradient(#ededed, #cccccc);
    border-left:1px solid #ffffff;
    border-bottom:1px solid #000000;
    border-right:1px solid #000000;
}

#dragger
{
    background-color:rgba(0,0,0,0.3);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.bordered
{
    border-left:1px solid #bbbbbb;
    border-bottom:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-top:1px solid #bbbbbb;
}

a.album:visited
{
    color:#222222;
}

a.album:hover,a.album:active
{
    color:#333333;
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    font-weight:bold;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    background-color:rgba(0,0,0,0.1);
}

.selected
{
    background-color:rgba(255,255,255,0.4) !important;
}

.playlistcurrentitem
{
    font-size:120%;
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.playlistitem, .playlistalbum
{
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.playlistcurrenttitle
{
    font-size:125%
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.item
{
    border-top:1px solid #222222;
}

.stleft
{
    border-right:1px solid #444444;
}

.popupwindow
{
    background-image: linear-gradient(#ededed, #bbbbbb);
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #bbbbbb;
    border-right:1px solid #bbbbbb;
    border-top:1px solid #eeeeee;
}

.backhi:hover {
    color:#000000;
    background-color: rgba(0,0,0,0.1);
    cursor:pointer;
}

/*Prevent submenus from having all entries highlighted
due to :hover events propagating from the parent menu
*/
.backhi:hover>div.topdropmenu>div.backhi {
    color:#111111;
}

/*Make sure the submenu entry being hovered over still gets highlighted*/

.backhi:hover>div.topdropmenu>div.backhi:hover {
    color:#000000;
    background-color: rgba(0,0,0,0.1);
}

table.histable tr:hover {
    background-color:rgba(0,0,0,0.1);
    cursor:pointer;
}

.tagholder table tr th
{
    border-bottom:1px solid #222222;
}

tr.clickaddtrack:hover
{
    text-shadow: 0 0 8px #333333;
}

.drop-box
{
    background-color: rgba(0,0,0,0.05);
}

.bsel
{
    text-decoration: underline;
}

.bmid
{
    border-left:2px solid #222222;
}

.currentbun
{
    border-bottom:1px solid #222222;
    padding-bottom:2px;
}

.dropshadow
{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border-left:1px solid #bbbbbb;
    border-bottom:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
    border-top:1px solid #bbbbbb;
}

.textunderline
{
    border-bottom: 1px solid #222222;
}

.backmenu {
    background-color: #fefefe;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu
{
    background-image: linear-gradient(#ededed, #bbbbbb);
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #bbbbbb;
    border-right:1px solid #bbbbbb;
    border-top:none;
}

.configtitle
{
    border-bottom:1px solid #111111;
    background-color: rgba(255,255,255,0.2);
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

.infowiki
{
    background-color:#dedede;
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/

.helpfulalbum
{
    /*background-image: linear-gradient(#ededed, #bbbbbb);*/
    background-color: #cccccc;
}

.collectionitem .helpfulalbum.fixed {
    /*background-image: linear-gradient(#bbbbbb, #aaaaaa);*/
    background-color: #cccccc;
}

.tagholder_wide
{
    /*background-image: linear-gradient(#ededed, #bbbbbb);*/
    border-top: 1px solid rgba(0,0,0,0.07);
    border-bottom: 1px solid rgba(0,0,0,0.07);
    border-left: 1px solid rgba(0,0,0,0.07);
}

.tagholder_wide .helpfulalbum.tleft
{
    background-image: none;
}

/*
=====================================================================
= Podcasts
=====================================================================
*/

.podcastitem
{
    border-top:1px solid #cccccc;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

.albumsection
{
    border-top:1px solid #999999;
    margin-top:8px;
}

.albumcovers
{
    background-image: linear-gradient(#ededed, #bbbbbb);
}

#wobblebottom
{
    background-image: linear-gradient(#ededed, #bbbbbb);
}

#coverslist
{
    box-sizing:border-box;
    border-left:1px solid #bbbbbb;
}

.highlighted {
    background-color:rgba(255,255,255,0.7);
}

#imageeditor
{
    background-color:rgba(255,255,255,0.7);
}

#artistchooser
{
    border-bottom:1px solid #777777;
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th
{
    background-color: rgba(255,255,255,0.1);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

tr.tagh
{
    font-size:150%;
}

th.tlheader
{
    /*background-color:#232323;*/
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid #222222;
}

.infosection h2
{
    border-bottom:2px solid #222222;
}

.topbarplaycontrols {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
