/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

body
{

}

body,p,h1,h2,h3,h4,h5,h6,table,td,th,ul,ol
{
    color:#111111;
}

body.phone .dropmenu>div.clickable,
body.phone .dropmenu>div.menuitem,
body.phone .mainpane .radio,
body.phone .mainpane .faveradio,
body.phone .mainpane .podcast,
body.phone .mainpane .directory {
    border-top: 1px solid rgba(60,60,60,0.4);
}

body.phone #pluginplaylistholder .menuitem.clickable,
body.phone #pluginplaylistholder .menuitem.containerbox.fullwidth {
    border-bottom: 1px solid rgba(60,60,60,0.4);
}

button, input[type="button"]
{
    background-color:#cccccc !important;
    border:1px solid #333333;
    background-image:none !important;
    color:black;
    font-weight:normal;
    font-size:110%;
}

button:hover, input[type="button"]:hover
{
    font-weight:bold;
    border:1px solid #666666;
}

input
{
    color:#000000;
}

input[type="submit"]
{
    color: #dddddd;
}

a:link {
    color:#0b0080;
}

a:visited {
    color:#0b0080;
}

a:hover,a:active {
    color:#ff4800;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

body.mobile, body.phone .dropmenu {
    background-image: linear-gradient(#ffffff, #bbbbbb);
}

.album2 {
    background-color:rgba(0,0,0,0.1);
}

.setupdiv
{
    background-image: linear-gradient(#ffffff, #bbbbbb);
}

body.setup
{
    background-color: #dddddd;
}

body.desktop #infobar
{
    background-image: linear-gradient(#ffffff, #eeeeee);
}

body.desktop #headerbar
{
    background-image: linear-gradient(#eeeeee, #ededed);
}

body.desktop #thetopbit
{
    background-image: linear-gradient(#ffffff, #ededed);
}

#bottompage
{
    background-image: linear-gradient(#ededed, #bbbbbb);
}

#pset {
    background-color: rgba(200, 200, 200, 0);
}

#custombackground
{
    display:none;
}

#notifications
{
    background-image: linear-gradient(#ededed, #cccccc);
}

#wikipopup
{
    background-image: linear-gradient(#ededed, #cccccc);
}

#imagecontainer
{
    background-image: linear-gradient(#ededed, #cccccc);
}

#tagadder
{
    background-image: linear-gradient(#ededed, #cccccc);
    border-left:1px solid #ffffff;
    border-bottom:1px solid #000000;
    border-right:1px solid #000000;
}

#dragger
{
    background-color:rgba(0,0,0,0.3);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.controlbutton {
    color:#000000 !important;
    text-shadow: 0 0 8px #333333;
}

.controlbutton-small {
    color:#000000 !important;
    text-shadow: 0 0 8px #333333;
}

.controlbutton:hover {
    color:#111111 !important;
}

.controlbutton-small:hover {
    color:#111111 !important;
}

tr.draggable:not(.selected):hover {
    background-color:rgba(0,0,0,0.3);
}

.bordered
{
    border-left:1px solid #bbbbbb;
    border-bottom:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-top:1px solid #bbbbbb;
}

.album1
{
    /*background-color:rgba(200,200,200,0.1);*/
}

.album2
{
    /*background-color:rgba(200,200,200,0.2);*/
}

a.album:visited
{
    color:#222222;
}

a.album:hover,a.album:active
{
    color:#333333;
}

div.clickable:hover, .infoclick:hover
{
    text-shadow: 0 0 10px #ffffff;
}

.playlistitem:hover, div.clickstream:hover
{
    background-color:rgba(0,0,0,0.1);
}

div.clickable.selected:hover
{
    text-shadow: 0 0 12px #333333;
}

.selected
{
    background-color:rgba(0,0,0,0.4) !important;
}

.playlistcurrentitem
{
    font-size:120%;
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.playlistitem
{
    transition:font-size 0.5s ease, text-shadow 0.5s ease;
}

.currenttitle
{
    font-size:125%
}

.item
{
    border-top:1px solid #222222;
}

.inbrowser
{
    color:#000000;
}

.stleft
{
    border-right:1px solid #444444;
}

.popupwindow
{
    background-image: linear-gradient(#ededed, #bbbbbb);
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #bbbbbb;
    border-right:1px solid #bbbbbb;
    border-top:1px solid #eeeeee;
}

.backhi:hover {
    color:#444444;
    cursor:pointer;
}

table.histable tr:hover {
    background-color:rgba(0,0,0,0.1);
    cursor:pointer;
}

.tagholder table tr th
{
    border-bottom:1px solid #222222;
}

tr.clickaddtrack:hover
{
    text-shadow: 0 0 8px #333333;
}

.drop-box
{
    background-image: linear-gradient(#ededed, #bbbbbb);
}

.bsel
{
    text-decoration: underline;
}

.bmid
{
    border-left:2px solid #222222;
}

.currentbun
{
    border-bottom:1px solid #222222;
    padding-bottom:2px;
}

.dropshadow
{
    box-shadow:         7px 7px 5px rgba(0, 0, 0, 0.9);
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border-left:1px solid #bbbbbb;
    border-bottom:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
    border-top:1px solid #bbbbbb;
}

.textunderline
{
    border-bottom: 1px solid #222222;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu
{
    background-image: linear-gradient(#ededed, #bbbbbb);
    border-left:1px solid #eeeeee;
    border-bottom:1px solid #bbbbbb;
    border-right:1px solid #bbbbbb;
    border-top:none;
}

.configtitle
{
    border-bottom:1px solid #111111;
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

.infowiki
{
    background-color:#dedede;
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/

.helpfulalbum
{
    background-image: linear-gradient(#ededed, #bbbbbb);
}

.collectionitem .helpfulalbum.fixed {
    background-image: linear-gradient(#bbbbbb, #aaaaaa);
}

.tagholder_wide
{
    background-image: linear-gradient(#ededed, #bbbbbb);
}

.tagholder_wide .helpfulalbum.tleft
{
    background-image: none;
}

/*
=====================================================================
= Podcasts
=====================================================================
*/

.podcastitem
{
    border-top:1px solid #cccccc;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

.albumsection
{
    border-top:1px solid #999999;
    margin-top:8px;
}

.albumcovers
{
    background-image: linear-gradient(#ededed, #bbbbbb);
}

#wobblebottom
{
    background-image: linear-gradient(#ededed, #bbbbbb);
}

#coverslist
{
    box-sizing:border-box;
    border-left:1px solid #bbbbbb;
}

.highlighted {
    background-color:rgba(255,255,255,0.7);
}

#imageeditor
{
    background-color:rgba(255,255,255,0.7);
}

#artistchooser
{
    border-bottom:1px solid #777777;
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th
{
    background-color: rgba(255,255,255,0.1);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

tr.tagh
{
    font-size:150%;
}

th.tlheader
{
    /*background-color:#232323;*/
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid #222222;
}

.infosection h2
{
    border-bottom:2px solid #222222;
}

.topbarplaycontrols {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
