@import url("themes/theme_base/colour_theme.css");

:root {
    --min-progress-colour: rgba(1, 1, 1, 0.75);
    --max-progress-colour: rgba(150, 150, 150, 0.75);
    --progress-bg-colour: rgba(1, 1, 1, 0);

    --text-colour: #111111;
    --border-colour: #222222;
    --border-colour-dark: #111111;
    --link-colour: #0b0080;
    --highlight-colour: #444444;

    --main-bg-colour: unset;
    --main-bg-image:  linear-gradient(#ffffff, #bbbbbb);

    --darker-bg-colour: rgba(0, 0, 0, 0.1);

    --headerbar-bg-colour: unset;
    --headerbar-bg-image: none;

    --topbit-bg-colour: unset;
    --topbit-bg-image: none;

    --sources-bg-colour: unset;
    --sources-bg-image:  none;
    --sources-border-top: none;

    --horse-bg-colour: unset;
    --horse-bg-image: none;

    --playlist-bg-colour: unset;
    --playlist-bg-image: none;
    --playlist-title-bg-colour: unset;
    --playlist-title-border: none;
    --playlist-item-top-border: 1px solid var(--border-colour);
    --playlist-current-bg-colour: unset;
    --playlist-current-shadow: unset;
    --playlist-current-transition: font-size 0.5s ease;
    --playlist-current-track-font-size: 120%;
    --playlist-current-track-font-weight: normal;
    --playlist-current-track-left-border: unset;
    --playlist-current-title-font-size: 125%;
    --playlist-current-title-font-weight: normal;

    --dropmenu-bg-colour: unset;
    --dropmenu-bg-image: linear-gradient(#ededed, #bbbbbb);

    --configtitle-bg-colour: rgba(255,255,255,0.2);
    --configtitle-bg-image: none;
    --configtitle-border-bottom: 1px solid var(--border-colour-dark);

    --infopane-border-top: none;
    --infopane-bg-colour: #dedede;
    --infopane-bg-image: none;
    --infopane-text-colour: unset;

    --infopane-header-bg-colour: unset;
    --infopane-header-bg-image: none;

    --selected-bg-colour: rgba(255,255,255,0.4);

    --button-colour: var(--text-colour);
    --button-hover-colour: var(--highlight-colour);
    --button-border: none;
    --button-hover-border: none;
    --button-bg-colour: #bbbbbb;
    --button-bg-image:  none;
    --button-bg-hover-colour: #eeeeee;
    --button-bg-hover-image:  none;
    --button-font-weight: unset;
    --button-hover-shadow: unset;

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: unset;
    --text-entry-hover-border-colour: var(--border-colour);
    --text-entry-active-border-colour: var(--border-colour-dark);
    --text-entry-bg-colour: rgba(0,0,0,0.05);
    --text-entry-hover-bg-colour: rgba(0,0,0,0.03);
    --text-entry-active-bg-colour: rgba(0,0,0,0.1);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --album1-colour: transparent;
    --album2-colour: rgba(0,0,0,0.1);
    --drop-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);

    --bordered-top: 1px solid #bbbbbb;
    --bordered-right: 1px solid #ffffff;
    --bordered-bottom: 1px solid #ffffff;
    --bordered-left: 1px solid #bbbbbb;

    --album-browse-bg-colour: #cccccc;
    --album-browse-bg-image: none;
    --skypotato-openalbum-bg-colour: #cccccc;
    --skypotato-openalbum-bg-image: none;
    --album-browse-open-bg-colour: #cccccc;
    --album-browse-open-bg-image: none;
    --album-browse-open-highlight: 1px solid #ffffff;

    --albumart-artists-bg-colour: var(--main-bg-colour);
    --albumart-artists-bg-image:var(--main-bg-image);
}
