@import url("themes/theme_base/colour_theme.css");

:root {
    --min-progress-colour: rgba(232, 206, 155, 0.99);
    --max-progress-colour: rgba(229, 184, 143, 0.99);
    --progress-bg-colour: rgba(0,0,0,0);

    --text-colour: black;
    --border-colour: #dddddd;
    --border-colour-dark: #555555;
    --link-colour: #12569a;
    --highlight-colour: #cc5500;

    --main-bg-colour: unset;
    --main-bg-image: url('../../themes/vellum-seamless-repeating-white.jpg');

    --darker-bg-colour: rgba(0, 0, 0, 0.1);

    --headerbar-bg-colour: unset;
    --headerbar-bg-image: none;

    --topbit-bg-colour: unset;
    --topbit-bg-image: none;

    --sources-bg-colour: unset;
    --sources-bg-image:  none;
    --sources-border-top: none;

    --horse-bg-colour: unset;
    --horse-bg-image: none;

    --playlist-bg-colour: unset;
    --playlist-bg-image: none;
    --playlist-title-bg-colour: unset;
    --playlist-title-border: none;
    --playlist-item-top-border: none;
    --playlist-current-bg-colour: unset;
    --playlist-current-shadow: unset;
    --playlist-current-transition: unset;
    --playlist-current-track-font-size: 100%;
    --playlist-current-track-font-weight: normal;
    --playlist-current-track-left-border: unset;
    --playlist-current-title-font-size: 100%;
    --playlist-current-title-font-weight: normal;

    --dropmenu-bg-colour: unset;
    --dropmenu-bg-image: url('../../themes/oldpaper.jpg');

    --configtitle-bg-colour: unset;
    --configtitle-bg-image: url('../../themes/tanpaper.jpg');
    --configtitle-border-bottom: none;

    --infopane-border-top: none;
    --infopane-bg-colour: unset;
    --infopane-bg-image: url('../../themes/vellum-seamless-repeating-white.jpg');
    --infopane-text-colour: unset;

    --infopane-header-bg-colour: unset;
    --infopane-header-bg-image: url('../../themes/tanpaper.jpg');

    --selected-bg-colour: #CC5500;

    --button-colour: var(--text-colour);
    --button-hover-colour: var(--highlight-colour);
    --button-border: none;
    --button-hover-border: none;
    --button-bg-colour: transparent;
    --button-bg-image:  none;
    --button-bg-hover-colour: rgba(255, 72, 0, 0.1);
    --button-bg-hover-image:  none;
    --button-font-weight: bold;
    --button-hover-shadow: unset;

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: var(--border-colour);
    --text-entry-hover-border-colour: var(--border-colour);
    --text-entry-active-border-colour: var(--border-colour-dark);
    --text-entry-bg-colour: rgba(255,255,255,0.7);
    --text-entry-hover-bg-colour: rgba(255,255,255,0.8);
    --text-entry-active-bg-colour: rgba(255,255,255,1);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --album1-colour: transparent;
    --album2-colour: rgba(150,150,150,0.2);
    --drop-shadow: 6px 6px 6px rgba(50, 50, 50, 0.6);

    --bordered-top: 1px solid #dddddd;
    --bordered-right: 1px solid #dddddd;
    --bordered-bottom: 1px solid transparent;
    --bordered-left: 1px solid transparent;

    --album-browse-bg-colour: unset;
    --album-browse-bg-image: url('../../themes/tanpaper.jpg');
    --skypotato-openalbum-bg-colour: unset;
    --skypotato-openalbum-bg-image: url('../../themes/tanpaper.jpg');
    --album-browse-open-bg-colour: unset;
    --album-browse-open-bg-image: url('../../themes/tanpaper.jpg');
    --album-browse-open-highlight: none;

    --albumart-artists-bg-colour: var(--main-bg-colour);
    --albumart-artists-bg-image: url('../../themes/oldpaper.jpg');
}

html {
    background-size:auto;
    background-repeat:repeat;
    background-attachment:fixed;
}

body.phone #headerbar, div.albumcovers .infosection {
	background-image:url('themes/oldpaper.jpg') !important;
}

button, div.filebutton {
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.8);
}

button:active, div.filebutton:active {
    box-shadow:none;
}

input.inbrowser, div.inbrowser {
    border: 1px solid var(--border-colour);
}

#buttonholder {
    box-shadow:  6px 6px 6px rgba(50, 50, 50, 0.6);
}

#patrickmoore {
    box-shadow:  6px 6px 6px rgba(50, 50, 50, 0.6);
}

#infopane {
    box-sizing:border-box;
    border-left: 2px solid black;
    border-right: 2px solid white;
    border-top: 2px solid black;
}

#notifications {
    box-shadow:  6px 6px 6px rgba(50, 50, 50, 0.6);
}

.configtitle {
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5);
    margin-bottom:8px;
}

.infosection, .albumsection {
    box-shadow:  2px 2px 2px rgba(50, 50, 50, 0.5);
    margin-bottom:8px;
}

.tagholder_wide .helpfulalbum {
    box-shadow:  2px 2px 2px rgba(50, 50, 50, 0.5);
}

.highlighted {
    border-top: 4px solid var(--highlight-colour) !important;
    border-left: 4px solid var(--highlight-colour) !important;
    border-right: 4px solid var(--highlight-colour) !important;
    border-bottom: 4px solid var(--highlight-colour) !important;
    border-radius:2px !important;
}

#artistcoverslist {
    box-shadow: 6px 6px 6px rgba(50, 50, 50, 0.6);
}
