/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

html, body.phone .dropmenu {
    background-image:url("plasma_portrait.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

body.phone .dropmenu>div {
    background-color:rgba(0,0,0,0.2);
    background-clip:border-box;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#cccccc;
}

a:link
{
    color:yellow;
}

a:visited
{
    color:yellow;
}

a:hover,a:active
{
    text-shadow: 0 0 15px #000000;
    cursor:pointer;
}

button, input[type="button"]
{
    color:#dddddd;
    background-color:transparent;
    border:1px solid #aaaaaa;
}


button:hover, input[type="button"]:hover
{
    color:#ffffff;
    border:1px solid #ffffff;
    text-shadow: 0 0 15px #ffffff;
}

input
{
    color:#181818;
}

select
{
    color:#000000;
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#sources, .mainpane, #headerbar, #infobar.coloured, #thetopbit
{
    background-color:rgba(0,0,0,0.2);
}

#playlist
{
    background-color:rgba(0,0,0,0.2);
}

#infopane
{
    background-color:rgba(0,0,0,0.4);
}

#artistbio
{
    padding:4px;
}

#notifications
{
    background-color:rgba(0,0,0,0.9);
}

#wikipopup
{
    background-color:#000000;
}

#tagadder
{
    background-color:rgba(0,0,0,0.9);
}

#dragger
{
    background-color:rgba(0,0,0,0.5);
}

#imagecontainer
{
    background-color:#ffffff;
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.controlbutton {
    color:#cccccc !important;
    text-shadow: 0 0 15px #bbbbbb 0 0 20px #999999 !important;
}

.controlbutton-small {
    color:#cccccc !important;
    text-shadow: 0 0 15px #bbbbbb, 0 0 20px #999999 !important;
}

.controlbutton:hover {
    text-shadow: 0 0 15px #ffffff, 0 0 25px #cccccc !important;
}

.controlbutton-small:hover {
    text-shadow: 0 0 15px #ffffff, 0 0 25px #cccccc !important;
}

.controlbutton::before {
    opacity:0.9;
}

.controlbutton-small::before {
    opacity:0.9;
}

.controlbutton:hover::before {
    opacity:1;
}

.controlbutton-small:hover::before {
    opacity:1;
}

.album2
{
    background-color:rgba(0,0,0,0.2);
}

.item
{
    margin-bottom: 2px;
}

div.clickable:hover, .infoclick:hover
{
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

div.clickable.selected:hover
{
    color:#ffffff;
}

.selected
{
    background-color:rgba(255,72,0,0.6);
}

.playlistcurrentitem
{
    font-weight:bold;
    font-size:120%;
    border-left:4px solid white;
    color:#eeeeee;
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}

.playlistitem
{
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.playlistcurrenttitle
{
    text-shadow: 0px 0px 20px #cccccc;
    font-weight:bold;
    color:#eeeeee;
    background-color:rgba(0,0,0,0.2);
}
 
.playlisttitle {
    background-color:rgba(0,0,0,0.2);
}

.stleft
{
    border-right:1px solid #888888;
}

.popupwindow
{
    background-color:rgba(0,0,0,0.8);
}

table.histable tr:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
    transition:all 0.1s;
}

table.histable tr
{
    transition:all 0.2s;
}

.backhi:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
    cursor:pointer;
    transition:all 0.1s;
}

.backhi
{
    transition:all 0.2s;
}

tr.clickaddtrack:hover
{
    background-color:#e1e4ea;
}

.topimg
{
    opacity:0.8;
}

.topimg:not(.button-disabled):hover
{
    opacity:1;
}

.bsel
{
    color:#ffffff;
    text-shadow:0 0 15px #ffffff;
}

.bmid
{
    border-left:2px solid #ff4800;
}

.currentbun
{
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.dropshadow
{
    box-shadow:         7px 7px 5px rgba(0, 0, 0, 0.6);
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border:1px solid #414141;
}

.podcastitem
{
    border-top:1px solid #cccccc;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu
{
    background-color:rgba(30,0,5,0.9);
}

.configtitle
{
    background-color:rgba(100,0,80,0.8);
}

body.mobile .configtitle
{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

/*
=====================================================================
= Info Panel - General
=====================================================================
*/

.infowiki
{
    color:white;
}

.inbrowser
{
    color:#000000;
}

.infosection
{
    background-color:rgba(0,0,0,0.4);
    background-size:cover;
    background-repeat:no-repeat;
}

.tagholder table tr th {
    background-color:rgba(0,0,0,0.5);
    border-bottom:1px solid #000000;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

.helpfulalbum
{
    background-color:rgba(0,0,0,0.4);
}

.tagholder_wide
{
    background-color:rgba(0,0,0,0.6);
}

.albumsection button, .albumcovers .infosection button
{
    background-image:none !important;
    background-color:transparent !important;
    border:0px none !important;
}

.highlighted {
    background-color:rgba(150,0,120,0.8);
}

#artistchooser
{
    background-color:rgba(0,0,0,0.4);
    color:#555555;
}

/*
=====================================================================
= Things that look like they might be for styling wikipedia data
=====================================================================
*/

table.navbox th
{
    background-color: rgba(0,0,0,0.2);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid yellow;
}

.infosection h2
{
    border-bottom:2px solid white;
}
