@import url("themes/theme_base/image_theme.css");

:root {

    --main-bg-colour: rgba(0,0,0,0.2);
    --darker-bg-colour: rgba(0,0,0,0.4);
    --dropmenu-bg-colour: rgba(30,0,5,0.9);
    --configtitle-bg-colour: rgba(100,0,80,0.8);
    --headerbar-bg-colour:  var(--main-bg-colour);
    --infobar-bg-colour:  var(--main-bg-colour);

    --min-progress-colour: rgba(186, 62, 145, 0.99);
    --max-progress-colour: rgba(202, 145, 190, 0.99);
    --progress-bg-colour: rgba(0,0,0,0);

    --text-colour: #cccccc;
    --highlight-colour: #ffffff;
    --link-colour: yellow;
    --border-colour: var(--max-progress-colour);
    --border-colour-dark: var(--min-progress-colour);

    --button-colour:  #dddddd;
    --button-hover-colour:  var(--border-colour);
    --button-border: 1px solid transparent;
    --button-hover-border: 1px solid var(--border-colour);;
    --button-bg-colour: var(--darker-bg-colour);
    --button-bg-hover-colour: var(--darker-bg-colour);

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: var(--border-colour-dark);
    --text-entry-hover-border-colour: var(--border-colour);
    --text-entry-active-border-colour: var(--highlight-colour);
    --text-entry-bg-colour: var(--darker-bg-colour);
    --text-entry-hover-bg-colour:  rgba(255,255,255,0.1);
    --text-entry-active-bg-colour:  rgba(255,255,255,0.1);

    --select-text-colour: var(--text-entry-text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --selected-bg-colour: var(--min-progress-colour);
    --album1-colour: transparent;
    --album2-colour: rgba(255,255,255,0.1);
    --drop-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);

    --playlist-current-track-font-size: 120%;
    --playlist-current-track-font-weight: bold;
    --playlist-current-track-left-border: 4px solid var(--border-colour);
    --playlist-current-title-font-size: unset;
    --playlist-current-title-font-weight: bold;
    --playlist-current-shadow: 0px 0px 20px var(--text-colour);
    --playlist-current-transition: font-size 0.3s ease, text-shadow 0.3s ease;

    --button-font-weight: normal;
    --button-hover-shadow: 0 0 15px var(--highlight-colour);
}

@media screen and (orientation: landscape) {
    html {
        background-image:url("themes/plasma.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
    }
}

@media screen and (orientation: portrait) {
    html {
        background-image:url("themes/plasma_portrait.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
    }
}

a:hover,a:active
{
    text-shadow: 0 0 15px var(--link-colour);
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    text-shadow: 0 0 15px var(--highlight-colour);
}

.bsel
{
    text-shadow:0 0 15px var(--highlight-colour);
}

body.phone #horse, body.phone #playlistbuttons {
    background-color: var(--main-bg-colour);
}

/* This is required when you have a left border on playlist-current-track */
.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}
