html, body.phone .dropmenu {
    background-image: radial-gradient(circle farthest-side at top left, yellow, orange, red);
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:#000000;
}

a:link
{
    color:#0b0080;
}

a:visited
{
    color:#0b0080;
}

a:hover,a:active
{
    text-shadow: 0 0 15px #000000;
    cursor:pointer;
}

#custombackground
{
    display:none;
}

/*-- divs used to create infobar layout --*/

.bordered
{
    border-left:1px solid orange;
    border-bottom:1px solid yellow;
    border-right:1px solid yellow;
    border-top:1px solid orange;
}

.album1
{
    background-color:rgba(0,0,0,0.1);
}

.album2
{
    background-color:rgba(0,0,0,0.2);
}

button, input[type="button"], .filebutton
{
    background-image: radial-gradient(circle farthest-side at center, yellow, orange, red);
    color:#000000;
    border:1px solid #000000;
}

button:hover, input[type="button"]:hover, .filebutton:hover
{
    color:#ffffff;
    text-shadow: 0 0 15px #ffffff;
}

input
{
    color:#181818;
}

input.inbrowser, div.inbrowser
{
    border: 1px solid #000000;
}

select
{
    color:#000000;
}

#pset {
    background-color: rgba(255, 22, 0, 0.99);
}

#notifications
{
    background-image: radial-gradient(circle farthest-side at top left, yellow, orange, red);
}

a.album:visited
{
    color:#220000;
}

a.album:hover,a.album:active
{
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

#filemenu
{
    border-left:1px solid orange;
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td {
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    color:#ffffff;
}

.selected
{
    background-color:#ff4800;
}


/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    font-weight:bold;
    font-size:120%;
    border-left:4px solid yellow;
    color:#eeeeee;
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}

.playlistitem
{
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.playlistcurrenttitle
{
    text-shadow: 0px 0px 20px #cccccc;
    font-weight:bold;
    color:#eeeeee;
}

.inbrowser
{
    color:#000000;
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #888888;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:#ffffff;
}

.infosection
{
    background-image: radial-gradient(circle farthest-side at top left, yellow, orange, red);
}

.translucent
{
    opacity:0.7;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-image: radial-gradient(circle farthest-side at top left, yellow, orange, red);
    box-sizing:border-box;
}

.popupwindow
{
    background-image: radial-gradient(circle farthest-side at top left, yellow, orange, red);
    border-left:1px solid yellow;
    border-bottom:1px solid red;
    border-right:1px solid red;
    border-top:1px solid yellow;
}

/*-- Styles for drop-down menus --*/

div.topdropmenu
{
    background-image: radial-gradient(circle farthest-side at top left, yellow, orange, red);
    border-left:1px solid yellow;
    border-bottom:1px solid red;
    border-right:1px solid red;
}

.configtitle
{
    background-image: radial-gradient(circle farthest-side at top left, yellow, orange, red);
}

body.mobile .configtitle
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

table.navbox th
{
    background-color: rgba(0,0,0,0.1);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid orange;
}

.infosection h2
{
    border-bottom:2px solid orange;
}

#tagadder
{
    background-image: radial-gradient(circle farthest-side at top left, yellow, orange, red);
    background-color:yellow;
}

table.histable tr:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    transition:all 0.1s;
}

table.histable tr
{
    transition:all 0.2s;
}

.backhi:hover {
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
    cursor:pointer;
    transition:all 0.1s;
}

.backhi
{
    transition:all 0.2s;
}

tr.clickaddtrack:hover
{
    background-color:#e1e4ea;
}

.helpfulalbum
{
    background-color:rgba(255,255,255,0.2);
}

.tagholder_wide
{
    background-color:rgba(255,255,255,0.2);
}

.bsel
{
    color:#ffffff;
    text-shadow:0 0 15px #ffffff;
}

.bmid
{
    border-left:2px solid #ff4800;
}

.highlighted {
    background-color:rgba(255,226,0,1);
}

#artistcoverslist
{
    background-color:rgba(0,0,0,0.2);
}

.tagholder table tr th {
    background-color:rgba(255,255,255,0.5);
    border-bottom:1px solid #cccccc;
}

#artistchooser
{
    background-color:rgba(0,0,0,0.3);
    color:#aaaaaa;
}

.currentbun
{
    border-bottom:1px solid #000000;
    padding-bottom:2px;
}

.dropshadow
{
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.6);
}

.progressbar
{
    border:1px solid #414141;
}

.podcastitem
{
    border-top:1px solid #000000;
}

#dragger
{
    background-color:rgba(0,0,0,0.3);
}
