@import url("themes/theme_base/image_theme.css");

:root {
    --main-bg-colour: rgba(0,0,0,0.2);
    --darker-bg-colour: rgba(0,0,0,0.4);
    --dropmenu-bg-colour: rgba(0,0,0,0.9);
    --configtitle-bg-colour: rgba(150,40,23,0.7);
    --headerbar-bg-colour: var(--main-bg-colour);
    --infobar-bg-colour:  var(--main-bg-colour);

    --text-colour: #eeeeee;
    --highlight-colour: #ffffff;
    --link-colour: yellow;
    --border-colour: #aaaaaa;
    --border-colour-dark: #555555;

    --button-colour: var(--text-colour);
    --button-hover-colour: var(--highlight-colour);
    --button-border: 1px solid var(--border-colour);
    --button-hover-border: 1px solid var(--highlight-colour);
    --button-bg-colour: transparent;
    --button-bg-hover-colour: var(--main-bg-colour);

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: var(--border-colour-dark);
    --text-entry-hover-border-colour: var(--highlight-colour);
    --text-entry-active-border-colour: var(--border-colour);
    --text-entry-bg-colour: rgba(255,255,255,0.1);
    --text-entry-hover-bg-colour: rgba(255,255,255,0.2);
    --text-entry-active-bg-colour: rgba(255,255,255,0.15);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --min-progress-colour: rgba(215, 99, 0, 0.75);
    --max-progress-colour: rgba(255, 183, 0, 0.99);
    --progress-bg-colour: rgba(0,0,0,0);
    --selected-bg-colour: rgba(255,72,0,0.5);
    --album1-colour: transparent;
    --album2-colour: var(--main-bg-colour);
    --drop-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);

    --playlist-current-track-font-size: 120%;
    --playlist-current-track-font-weight: bold;
    --playlist-current-track-left-border: 4px solid var(--border-colour);
    --playlist-current-title-font-size: unset;
    --playlist-current-title-font-weight: bold;
    --playlist-current-shadow: 0px 0px 10px var(--text-colour);
    --playlist-current-transition: font-size 0.3s ease, text-shadow 0.3s ease;

    --button-font-weight: normal;
    --button-hover-shadow: 0 0 10px var(--highlight-colour);

    --waiting-swinger-width: 50px;
    --waiting-swinger-height: 2px;
    --waiting-swinger-bg-image: linear-gradient(to left,  rgba(255, 183, 0, 0) 0%,  rgba(255, 183, 0, 1) 50%, rgba(255, 183, 0, 0) 100%);
}

html
{
    background-image:url("themes/sunsetbirds.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#playlistm #horse, #playlistm #playlistbuttons {
    background-color: var(--main-bg-colour);
}

/* This is required when you have a left border on playlist-current-track */
.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}
