html, body.phone .dropmenu {
    background-image: var(--vl_bg_colour);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.backmenu {
    background-color: rgba(200,200,200,0.2) !important;
}

body.phone .dropmenu>div {
    background-clip:border-box;
}

.helpfulalbum
{
    background-color:rgba(200,200,200,0.07);
}

.tagholder_wide
{
    background-color:rgba(200,200,200,0.07);
}

#artistbio
{
    padding:4px;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:var(--vl_text_colour);
}

#custombackground
{
    display:none;
}

a:link
{
    color:yellow;
}

a:visited
{
    color:yellow;
}

a:hover,a:active
{
    text-shadow: 0 0 15px #000000;
    cursor:pointer;
}

.item
{
    margin-bottom: 2px;
}

/*-- divs used to create infobar layout --*/

button, input[type="button"], div.filebutton
{
    color:var(--vl_text_colour);
    background-color:rgba(200,200,200,0.3);
    border:none;
}

button:hover, input[type="button"]:hover, div.filebutton:hover
{
    color:#ffffff;
    background-color:rgba(200,200,200,0.5);
}

select {
    color:white;
}

div.selectholder {
    background-color:rgba(200,200,200,0.2);
}

div.selectholder:hover {
    background-color:rgba(200,200,200,0.2);
}

input[type="text"] {
    background-color: rgba(200,200,200,0.2);
    border-bottom: 1px solid #555555;
}

input[type="text"]:hover {
    background-color: rgba(200,200,200,0.2);
    border-bottom: 1px solid #555555;
}

input[type="text"]:focus {
    transition: border-bottom 0.5s ease;
    border-bottom: 1px solid #bbbbbb;
}

.drop-box {
    background-color:rgba(6,29,47,0.9);
    color:white;
}

#notifications
{
    background-color:rgba(0,0,0,0.9);
}

a.album:visited
{
    color:#220000;
}

a.album:hover,a.album:active
{
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    cursor:pointer;
}

#pset {
    background-color: rgba(2, 23, 40, 0.99);
}
#pmaxset {
    background-color: rgba(200, 200, 200, 0.99);
}

#filemenu
{
    border-left:1px solid white;
}

.playable:hover, .infoclick:hover, div.clickplaylist:hover, tr.playable:hover>td, .menu.artist:hover {
    text-shadow: 0 0 4px #555555;
    color:#ffff00;
    cursor:pointer;
}

.playable.selected:hover, tr.playable.selected:hover>td {
    color:#ffffff;
}

.selected
{
    background-color:rgba(255,72,0,0.5);
}


/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    font-weight:bold;
    border-left:4px solid white;
    color:#eeeeee;
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}

.playlistitem
{
    transition:font-size 0.3s ease, text-shadow 0.3s ease;
}

.playlistcurrenttitle
{
    text-shadow: 0px 0px 20px #cccccc;
    font-weight:bold;
    color:#eeeeee;
    background-color:rgba(0,0,0,0.2);
}

.playlisttitle{
    background-color:rgba(0,0,0,0.2);
}

/*-- For Wikipedia and Last.FM pages --*/

.stleft
{
    border-right:1px solid #888888;
}

#wikipopup
{
    background-color:#000000;
}

#imagecontainer
{
    background-color:var(--vl_text_colour);
}

.infosection
{
    background-color:rgba(200,200,200,0.1);
    background-size:cover;
    background-repeat:no-repeat;
}

.translucent
{
    opacity:0.7;
}

/*-- For Album Cover Art --*/

.crackbaby
{
    background-color:rgba(200,200,200,0.1);
    box-sizing:border-box;
    background-size:cover;
    background-repeat:no-repeat;
}

.popupwindow
{
    background-color:rgba(0,0,0,0.8);
}

/*-- Styles for drop-down menus --*/

div.topdropmenu
{
    background-color:rgba(0,0,0,0.9);
}

.configtitle
{
    background-color:rgba(6,29,47,0.9);
}

body.mobile .configtitle
{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

/*-- Styles to make the Wikipedia nav boxes look prettier --*/

table.navbox th
{
    background-color: rgba(200,200,200,0.2);
}

.navbox-abovebelow
{
    padding-bottom:4px;
}

.navbox-title a:link,
.navbox-abovebelow a:link,
.navbox-group a:link
{
    text-decoration:none;
}

.navbox-title a:visited,
.navbox-abovebelow a:visited,
.navbox-group a:visited
{
    text-decoration:none;
}

.navbox-title a:hover,a:active,
.navbox-abovebelow a:hover,a:active,
.navbox-group a:hover,a:active
{
    text-decoration:none;
}

table.tracklist {
    line-height:1.5em;
}

.tracklist tbody tr th
{
    font-weight:bold;
}

.description
{
    margin-top:4px;
}

.underline
{
    border-bottom: 1px solid yellow;
}

.infosection h2
{
    border-bottom:2px solid white;
}

#tagadder
{
    background-color:rgba(0,0,0,0.9);
}

table.histable tr:hover {
    font-size:105%;
    text-shadow: 0 0 15px #ffffff;
    color:#ffffff;
    transition:all 0.1s;
}

table.histable tr
{
    transition:all 0.2s;
}

.backhi:hover {
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
    cursor:pointer;
    transition:all 0.1s;
}

/*Prevent submenus from having all entries highlighted
due to :hover events propagating from the parent menu
*/
.backhi:hover>div.topdropmenu>div.backhi {
    color:var(--vl_text_colour);
}

/*Make sure the submenu entry being hovered over still gets highlighted*/

.backhi:hover>div.topdropmenu>div.backhi:hover {
    text-shadow: 0 0 15px #ffffff;
    color:#ff4800;
}

.backhi
{
    transition:all 0.2s;
}

tr.clickaddtrack:hover
{
    background-color:#e1e4ea;
}

.bsel
{
    color:#ffffff;
    text-shadow:0 0 15px #ffffff;
}

.bmid
{
    border-left:2px solid #ff4800;
}

.highlighted {
    background-color:rgba(0,50,100,0.8);
}

.tagholder table tr th {
    background-color:rgba(0,0,0,0.3);
    border-bottom:1px solid #cccccc;
}

#artistchooser
{
    background-color:rgba(200,200,200,0.1);
    color:var(--vl_text_colour);
}

.currentbun
{
    border-bottom:1px solid #fe6500;
    padding-bottom:2px;
}

.dropshadow
{
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

.progressbar
{
    border:1px solid #414141;
}

.progressbar_v
{
    border:1px solid #414141;
}

.podcastitem
{
    border-top:1px solid #cccccc;
}

#dragger
{
    background-color:rgba(0,0,0,0.3);
}
