@import url("themes/theme_base/colour_theme.css");

:root {
    --min-progress-colour: rgba(2, 23, 40, 0.99);
    --max-progress-colour: rgba(200, 200, 200, 0.99);
    --progress-bg-colour: rgba(0,0,0,0);

    --text-colour: unset;
    --border-colour: #eeeeee;
    --border-colour-dark: #555555;
    --link-colour: yellow;
    --highlight-colour: yellow;

    --main-bg-colour: unset;
    --main-bg-image: unset;

    --darker-bg-colour: rgba(0, 0, 0, 0.1);

    --headerbar-bg-colour: unset;
    --headerbar-bg-image: none;

    --topbit-bg-colour: unset;
    --topbit-bg-image: none;

    --sources-bg-colour: unset;
    --sources-bg-image:  none;
    --sources-border-top: none;

    --horse-bg-colour: unset;
    --horse-bg-image: none;

    --playlist-bg-colour: unset;
    --playlist-bg-image: none;
    --playlist-title-bg-colour:rgba(0,0,0,0.2);
    --playlist-title-border: none;
    --playlist-item-top-border: none;
    --playlist-current-bg-colour:rgba(0,0,0,0.3);
    --playlist-current-shadow: unset;
    --playlist-current-transition: unset;
    --playlist-current-track-font-size: 100%;
    --playlist-current-track-font-weight: bold;
    --playlist-current-track-left-border: 4px solid var(--vl_text_colour);
    --playlist-current-title-font-size: 100%;
    --playlist-current-title-font-weight: bold;

    --dropmenu-bg-colour: rgba(0,0,0,0.9);
    --dropmenu-bg-image: none;

    --configtitle-bg-colour: rgba(6,29,47,0.9);
    --configtitle-bg-image: none;
    --configtitle-border-bottom: none;

    --infopane-border-top: none;
    --infopane-bg-colour: unset;
    --infopane-bg-image: none;
    --infopane-text-colour: unset;

    --infopane-header-bg-colour: rgba(200,200,200,0.1);
    --infopane-header-bg-image: none;

    --selected-bg-colour: rgba(255,72,0,0.5);

    --button-colour: unset;
    --button-hover-colour: var(--highlight-colour);
    --button-border: none;
    --button-hover-border: none;
    --button-bg-colour: rgba(200,200,200,0.2);
    --button-bg-image:  none;
    --button-bg-hover-colour: rgba(200,200,200,0.4);
    --button-bg-hover-image:  none;
    --button-font-weight: unset;
    --button-hover-shadow: unset;

    --text-entry-text-colour: var(--text-colour);
    --text-entry-border-colour: var(--border-colour-dark);
    --text-entry-hover-border-colour: var(--border-colour-dark);
    --text-entry-active-border-colour: var(--border-colour);
    --text-entry-bg-colour: rgba(200,200,200,0.2);
    --text-entry-hover-bg-colour: rgba(200,200,200,0.3);
    --text-entry-active-bg-colour: rgba(200,200,200,0.3);

    --select-text-colour: var(--text-colour);
    --select-bg-colour: var(--text-entry-bg-colour);
    --select-hover-bg-colour: var(--text-entry-hover-bg-colour);

    --album1-colour: transparent;
    --album2-colour: rgba(150,150,150,0.2);
    --drop-shadow: 6px 6px 6px rgba(50, 50, 50, 0.6);

    --bordered-top: none;
    --bordered-right: none;
    --bordered-bottom: none;
    --bordered-left: none;

    --album-browse-bg-colour: rgba(200,200,200,0.07);
    --album-browse-bg-image: none;
    --skypotato-openalbum-bg-colour: rgba(200,200,200,0.07);
    --skypotato-openalbum-bg-image: none;
    --album-browse-open-bg-colour: rgba(200,200,200,0.07);
    --album-browse-open-bg-image: none;
    --album-browse-open-highlight: none;

    --albumart-artists-bg-colour: unset;
    --albumart-artists-bg-image: unset;

    --waiting-swinger-width: 50px;
    --waiting-swinger-height: 2px;
    --waiting-swinger-bg-image: linear-gradient(to left,  rgba(225, 225, 225, 0) 0%,  rgba(225, 225, 225, 1) 50%, rgba(225, 225, 225, 0) 100%);
}

html {
    background-image: var(--vl_bg_colour) !important;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    color:var(--vl_text_colour) !important;
}

button, input[type="button"], div.filebutton
{
    color:var(--vl_text_colour) !important;
}

button:hover, input[type="button"]:hover, div.filebutton:hover
{
    color:var(--highlight-colour) !important;
}

select {
    color:var(--vl_text_colour) !important;
}

.playlistcurrentitem
{
    color:var(--vl_text_colour) !important;
}

.clicktrack.playlistcurrentitem
{
    padding-left:8px;
}

.playlistcurrenttitle
{
    color:var(--vl_text_colour) !important;
    text-shadow: 0px 0px 20px var(--vl_text_colour) !important;
}

a:hover,a:active
{
    text-shadow: 0 0 15px var(--vl_text_colour) !important;
    cursor:pointer;
}

.item
{
    margin-bottom: 2px;
}

.covercontainer.highlighted
{
    margin-bottom: 0px !important;
}

.bsel
{
    color:var(--vl_text_colour) !important;
    text-shadow:0 0 15px var(--vl_text_colour) !important;
}

#artistchooser
{
    background-color:rgba(200,200,200,0.1);
    color:var(--vl_text_colour) !important;
}

