div.smallcover
{
	width:48px;
}

img.smallcover {
	width: 100%;
	object-fit: scale-down;
}

img.notexist,img.notfound {
	width:48px;
	height:48px;
}

body.desktop .smallcover.svg-square.noindent
{
	width:32px;
}

body.mobile .smallcover.svg-square.noindent
{
	width:32px;
}
