.smallcover
{
	width:48px;
}

.smallcover-svg {
	height:48px;
}

img.notexist,img.notfound {
	width:48px;
	height:48px;
}

body.desktop .smallcover.svg-square.noindent
{
	width:32px;
}

body.mobile .smallcover.svg-square.noindent
{
	width:32px;
}
