.smallcover
{
	width:64px;
}

.smallcover-svg {
	height:64px;
}

img.notexist,img.notfound {
	width:64px;
	height:64px;
}

body.desktop .smallcover.svg-square.noindent
{
	width:42px;
	margin-right:18px;
}

body.mobile .smallcover.svg-square.noindent
{
	width:32px;
}
