#buttons
{
    padding-left:24px;
    padding-right:24px;
    padding-top:16px;
    padding-bottom:6px;
}

.controlbutton
{
    margin:0px;
    padding:0px;
    font-size:40px;
    vertical-align:middle;
    display:inline-flex;
    text-shadow: 0 0 15px #ffffff;
}

.controlbutton-small
{
    margin:2px;
    padding:0px;
    font-size:34px;
    vertical-align:middle;
    display:inline-flex;
    text-shadow: 0 0 15px #ffffff;
}

.shiftleft {
    margin-left:-6px;
}
.shiftleft2 {
    margin-left:-4px;
}
.shiftleft3 {
    margin-left:-6px;
}
.shiftleft4 {
    margin-left:-6px;
}

.controlbutton:hover,.controlbutton-small:hover
{
    text-shadow: 0 0 15px #C16700;
}

.controlbutton:before
{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:2px;
    margin-right:2px;
    z-index:1000;
}

.controlbutton-small:before
{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:2px;
    margin-right:2px;
    z-index:10;
}

@media screen and (min-height: 800px) and (max-height: 939px) {
    .controlbutton {
        font-size:58px;
    }
    .controlbutton-small {
        font-size:48px;
    }
    #buttons {
        padding-top:12px;
    }
    #progress {
        margin-top:2px;
    }
    #playbackTime {
        margin-top:4px;
        font-size:16px;
        line-height:18px;
        height:18px;
    }
    .shiftleft {
        margin-left:-8px;
    }
    .shiftleft2 {
        margin-left:-6px;
        font-size:48px;
    }
    .shiftleft3 {
        margin-left:-8px;
        font-size:46px;
    }
    .shiftleft4 {
        margin-left:-10px;
        font-size:44px;
    }
}

@media screen  and (min-height: 940px) and (max-height: 1099px) {
    .controlbutton {
        font-size:76px;
    }
    .controlbutton-small {
        font-size:54px;
    }
    #buttons {
        padding-top:18px;
    }
    #progress {
        margin-top:2px;
    }
    #playbackTime {
        margin-top:4px;
        font-size:16px;
        line-height:18px;
        height:18px;
    }
    .shiftleft {
        margin-left:-10px;
    }
    .shiftleft2 {
        margin-left:-8px;
        font-size:54px;
    }
    .shiftleft3 {
        margin-left:-10px;
        font-size:50px;
    }
    .shiftleft4 {
        margin-left:-12px;
        font-size:48px;
    }
}

@media screen and (min-height: 1100px) {
    .controlbutton {
        font-size:80px;
    }
    .controlbutton-small {
        font-size:60px;
    }
    #buttons {
        padding-top:20px;
    }
    #progress {
        margin-top:2px;
    }
    #playbackTime {
        margin-top:8px;
        font-size:16px;
        line-height:18px;
        height:18px;
    }
    .shiftleft {
        margin-left:-10px;
    }
    .shiftleft2 {
        margin-left:-8px;
        font-size:60px;
    }
    .shiftleft3 {
        margin-left:-10px;
        font-size:58px;
    }
    .shiftleft4 {
        margin-left:-12px;
        font-size:54px;
    }
}

#headerbar i.topimg:before
{
    opacity:0.8;
}

#headerbar i.topimg:hover:before
{
    opacity:1;
    text-shadow:0 0 15px #C16700;
}

i.icon-menu:hover:before
{
    text-shadow:0 0 15px #C16700;
}

.topimg
{
  margin-top:0px;
  transition:font-size 0.2s ease, text-shadow 0.2s ease;
}

.progressbar
{
   border-radius: 0.4em;
}

.npicon
{
    height: auto !important;
}

.desktop .playlisticon
{
    font-size:14px;
}

.mobile .playlisticon
{
    font-size:30px;
}

.desktop .collectionicon
{
    width:16px;
    height:16px;
}

.mobile .collectionicon
{
    width:20px;
    height:20px;
}

.desktop .playlisticonr
{
    font-size:14px;
}

.mobile .playlisticonr
{
    font-size:30px;
    margin-left:8px;
}

.desktop .smallicon
{
    font-size:16px;
}

.mobile .smallicon
{
    font-size:30px;
}

.spinner
{
    display:inline-block;
}

body.mobile #sourcescontrols
{
    padding-top:4px;
}

body.mobile #playlistcontrols
{
    padding-top:4px;
}

.helpfulalbum {
    overflow:hidden;
}

.smallcover-svg {
    font-size: 60px;
}