
#pset {
    background-color: rgba(200, 69, 31, 0);
}

#pmaxset {
    background-color: rgba(255, 249, 75, 0);
}

 [class^="icon-"], [class*=" icon-"] {
 	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	display:inline-block;
}

.button-disabled { opacity: 0.1 }

.clearbox {
    background-image: url('iconsets/Sunset/edit-delete.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry, .selectholder {
    background-image: url('iconsets/Sunset/blobdown2.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combobox-entry:hover, .selectholder:hover {
    background-image: url('iconsets/Sunset/blobdown2-hi.svg');
    /* dont change the 50%, it ties in with makeHoverWork, makeClearWork, and makeTagMenu */
    background-size: auto 50%;
    background-position: right 2px center;
    background-repeat: no-repeat;
}

.combo-button {
    background-image: url('iconsets/Sunset/blobdown2.svg');
}

.icon-play-circled { background-image :url('iconsets/Sunset/media-playback-start.svg') }
.playdiv { background-image :url('iconsets/Sunset/media-playback-start.svg') }
.icon-play-circled:hover { background-image :url('iconsets/Sunset/media-playback-start-highlight.svg') }
.icon-pause-circled { background-image :url('iconsets/Sunset/media-playback-pause.svg') }
.icon-pause-circled:hover { background-image :url('iconsets/Sunset/media-playback-pause-highlight.svg') }
.icon-fast-backward { background-image :url('iconsets/Sunset/media-skip-backward.svg') }
.icon-fast-backward:hover { background-image :url('iconsets/Sunset/media-skip-backward-highlight.svg') }
.icon-fast-forward { background-image :url('iconsets/Sunset/media-skip-forward.svg') }
.icon-fast-forward:hover { background-image :url('iconsets/Sunset/media-skip-forward-highlight.svg') }
.icon-stop-1 { background-image :url('iconsets/Sunset/media-playback-stop.svg') }
.icon-stop-1:hover { background-image :url('iconsets/Sunset/media-playback-stop-highlight.svg') }
.icon-to-end-1 { background-image :url('iconsets/Sunset/stopafter.svg') }
.icon-to-end-1:hover { background-image :url('iconsets/Sunset/stopafter-highlight.svg') }

.icon-music { background-image: url('iconsets/Sunset/collection.svg') }
.icon-search { background-image: url('iconsets/Sunset/system-search.svg') }
.icon-folder-open-empty { background-image: url('iconsets/Sunset/folder.svg') }
.icon-radio-tower { background-image: url('iconsets/Sunset/broadcast-new.svg') }
.icon-cd { background-image: url('iconsets/Sunset/cd_case.svg') }
.icon-resize-horizontal { background-image: url('iconsets/Sunset/resize.svg') }
.icon-angle-double-left { background-image:url('iconsets/Sunset/arrow-left-double.svg') }
.icon-angle-double-right { background-image:url('iconsets/Sunset/arrow-right-double.svg') }
.icon-menu { background-image: url('iconsets/Sunset/pushbutton.svg') }
.icon-versions { background-image: url('iconsets/Sunset/history.svg') }
.icon-left-circled { background-image: url('iconsets/Sunset/backbutton.svg') }
.icon-right-circled { background-image: url('iconsets/Sunset/forwardbutton.svg') }
.icon-cog-alt { background-image: url('iconsets/Sunset/preferences.svg') }
.icon-trash { background-image: url('iconsets/Sunset/edit-clear-list.svg') }
.icon-wifi { background-image: url('iconsets/Sunset/smartradio.svg') }
.icon-doc-text { background-image: url('iconsets/Sunset/playlist.svg') }
.icon-floppy { background-image: url('iconsets/Sunset/document-save.svg') }
.icon-cancel-circled { background-image: url('iconsets/Sunset/edit-delete.svg') }
.icon-plus {
	background-image: url('iconsets/Sunset/add.svg');
  	opacity:0.7;
}
.icon-alarm { background-image: url('iconsets/Sunset/alarmclock_false.svg') }
.icon-alarm-on { background-image: url('iconsets/Sunset/alarmclock_true.svg') }
.icon-sleep { background-image: url('iconsets/Sunset/sleep.svg') }
.icon-library { background-image: url('iconsets/Sunset/file.svg') }
.icon-lastfm-1 { background-image: url('iconsets/Sunset/lastfm.svg') }
.icon-wikipedia { background-image: url('iconsets/Sunset/wikipedia-logo.svg') }
.icon-musicbrainz {	background-image: url('iconsets/Sunset/musicbrainz_logo.svg') }
.icon-discogs {	background-image: url('iconsets/Sunset/discogs-logo.svg') }
.icon-doc-text-1 { background-image: url('iconsets/Sunset/lyrics.svg') }
.icon-soundcloud-circled { background-image: url('iconsets/Sunset/soundcloud-logo.svg') }
.icon-youtube-circled { background-image: url('iconsets/Sunset/youtube-logo.svg') }
.icon-gmusic-circled { background-image: url('iconsets/Sunset/gmusic-logo.svg') }
.icon-spotify-circled { background-image: url('iconsets/Sunset/spotify-logo.svg') }
.icon-vkontakte-circled { background-image: url('iconsets/Sunset/vkontakte-logo.svg') }
.icon-podcast-circled { background-image: url('iconsets/Sunset/podcast-logo.svg') }
.icon-audiobook { background-image: url('iconsets/Sunset/audiobook.svg') }
.icon-internetarchive-circled { background-image: url('iconsets/Sunset/internetarchive-logo.svg') }
.icon-increase { background-image: url('iconsets/Sunset/arrow-increase.svg') }
.icon-decrease { background-image: url('iconsets/Sunset/arrow-decrease.svg') }
.icon-attention-1 { background-image: url('iconsets/Sunset/dialog-error.svg') }
.icon-info-circled { background-image: url('iconsets/Sunset/dialog-information.svg') }
.icon-download { background-image: url('iconsets/Sunset/download-icon.svg') }
.icon-sun { background-image: url('iconsets/Sunset/icon-new.svg') }
.icon-headphones { background-image: url('iconsets/Sunset/headphones.svg') }
.icon-unlistened { background-image: url('iconsets/Sunset/headphones.svg') }
.icon-block { background-image: url('iconsets/Sunset/lastfm-ban.svg') }
.icon-heart { background-image: url('iconsets/Sunset/lastfm-love.svg') }
.icon-heart-broken { background-image: url('iconsets/Sunset/lastfm-unlove.svg') }
.icon-refresh { background-image: url('iconsets/Sunset/refresh.svg') }
.icon-dirble-circled { background-image: url('iconsets/Sunset/dirble-logo.svg') }
.icon-tunein { background-image: url('iconsets/Sunset/../../newimages/tunein-logo.svg') }
.icon-no-response-playbutton { background-image :url('iconsets/Sunset/media-playback-start.svg') }
.icon-tags { background-image: url('iconsets/Sunset/tag.svg') }
.icon-volume-up { background-image: url('iconsets/Sunset/volume.svg') }
.icon-toggle-open { background-image: url('iconsets/Sunset/toggle-open.svg') }
.icon-toggle-closed { background-image: url('iconsets/Sunset/toggle-closed.svg') }
.icon-spin6 { background-image: url('iconsets/Sunset/spinner.svg') }
.icon-output { background-image: url('iconsets/Sunset/output.svg') }
.icon-output-mute { background-image: url('iconsets/Sunset/output_mute.svg') }
.icon-sliders { background-image: url('iconsets/Sunset/sliders.svg') }
.icon-0-stars { background-image: url('iconsets/Sunset/0stars.svg') }
.icon-1-stars { background-image: url('iconsets/Sunset/1stars.svg') }
.icon-2-stars { background-image: url('iconsets/Sunset/2stars.svg') }
.icon-3-stars { background-image: url('iconsets/Sunset/3stars.svg') }
.icon-4-stars { background-image: url('iconsets/Sunset/4stars.svg') }
.icon-5-stars { background-image: url('iconsets/Sunset/5stars.svg') }
.icon-single-star { background-image: url('iconsets/Sunset/singlestar.svg') }
.icon-ratandtag { background-image: url('iconsets/Sunset/ratandtag.svg') }
.icon-ratortag { background-image: url('iconsets/Sunset/ratortag.svg') }
.icon-toggle-on { background-image: url('iconsets/Sunset/togglebutton-new2-on.svg') }
.icon-toggle-off { background-image: url('iconsets/Sunset/togglebutton-new2-off.svg') }

.icon-random.flow-on { background-image: url('iconsets/Sunset/random.svg') }
.icon-random.flow-off { background-image: url('iconsets/Sunset/random_off.svg') }
.icon-crossfade.flow-on { background-image: url('iconsets/Sunset/crossfade.svg') }
.icon-crossfade.flow-off { background-image: url('iconsets/Sunset/crossfade_off.svg') }
.icon-repeat.flow-on { background-image: url('iconsets/Sunset/refresh.svg') }
.icon-repeat.flow-off { background-image: url('iconsets/Sunset/refresh_off.svg') }
.icon-consume.flow-on { background-image: url('iconsets/Sunset/consume.svg') }
.icon-consume.flow-off { background-image: url('iconsets/Sunset/consume_off.svg') }

.icon-allrandom { background-image: url('iconsets/Sunset/shuffle.svg') }
.icon-neverplayed { background-image: url('iconsets/Sunset/neverheard.svg') }
.icon-recentlyplayed { background-image: url('iconsets/Sunset/calendar.svg') }
.icon-artist { background-image: url('iconsets/Sunset/artist-icon.svg') }
.icon-mp3-audio { background-image: url('iconsets/Sunset/mp3-audio.svg') }
.icon-aac-audio { background-image: url('iconsets/Sunset/aac-audio.svg') }
.icon-flac-audio { background-image: url('iconsets/Sunset/flac-audio.svg') }
.icon-wma-audio { background-image: url('iconsets/Sunset/wma-audio.svg') }
.icon-ogg-audio { background-image: url('iconsets/Sunset/ogg-audio.svg') }
.icon-explicit { background-image: url('iconsets/Sunset/parental-advisory.svg') }
.icon-expand-up { background-image: url('iconsets/Sunset/expand-up.svg') }
.icon-rss { background-image: url('iconsets/Sunset/rss.svg') }
.icon-tick { background-image: url('iconsets/Sunset/tick.svg') }
.icon-video { background-image: url('iconsets/Sunset/movie-1.svg') }
.icon-bbc-logo { background-image: url('iconsets/Sunset/bbc-logo.svg') }
.icon-imdb-logo { background-image: url('iconsets/Sunset/imdb-logo.svg') }
.icon-facebook-logo { background-image: url('iconsets/Sunset/facebook-logo.svg') }
.icon-twitter-logo { background-image: url('iconsets/Sunset/twitter-logo.svg') }
.icon-www { background-image: url('iconsets/Sunset/world-wide-web.svg') }
.icon-allmusic { background-image: url('iconsets/Sunset/allmusic-logo.svg') }
.icon-updown { background-image: url('iconsets/Sunset/arrow-updown.svg') }
.icon-snapcast { background-image: url('iconsets/Sunset/../../newimages/snapcast.png') }

.styledinputs label
{
    display:inline-block;
    cursor:pointer;
    position:relative;
    padding-left:2.5em;
    line-height:1.5em;
}

.styledinputs input[type=radio]
{
    display:none;
}

.styledinputs input[type=checkbox]
{
    display:none;
}

.styledinputs label:before
{
    content:"";
    display:inline-block;
    width:2em;
    height:1.5em;
    position:absolute;
    left:0;
    /* bottom:0.2em; */
    background-image: url('iconsets/Sunset/togglebutton-new2-off.svg');
 	background-size:auto 80%;
	background-position: center;
	background-repeat:no-repeat;
}

.styledinputs input:checked + label:before
{
    background-image: url('iconsets/Sunset/togglebutton-new2-on.svg') !important;
}

img.notexist,img.notfound
{
    background-image: url('iconsets/Sunset/compact-disc.svg');
    background-size:contain;
    display:inline-block;
    background-position:center;
    background-repeat: no-repeat;
}

img.stream.notfound, img.stream.notexist
{
    background-image: url('iconsets/Sunset/broadcast-new.svg');
}

img.plimage.notfound
{
    background-image: url('iconsets/Sunset/playlist.svg');
}

.backmenu
{
    background-image: url('iconsets/Sunset/arrow-left-double.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

button.iconbutton {
    height:2em;
    width:2em;
    background-size: contain;
    background-position:center;
    border: none !important;
    opacity: 0.8;
    background-color:transparent;
}

button.iconbutton:hover {
    opacity: 1;
}

button.searchbutton {
    background-image: url('iconsets/Sunset/system-search.svg');
}

button.rssbutton {
    background-image: url('iconsets/Sunset/rss.svg');
}

