/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/
html {
    background-color: var(--main-bg-colour);
    background-image: var(--main-bg-image);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#custombackground {
    display:none;
}

#headerbar {
    background-color: var(--headerbar-bg-colour);
    background-image: var(--headerbar-bg-image);
}

#infobar.coloured, #thetopbit {
    background-color: var(--topbit-bg-colour);
    background-image: var(--topbit-bg-image);
}

#sources
{
    border-top: var(--sources-border-top);
    background-color: var(--sources-bg-colour);
    background-image: var(--sources-bg-image);
}

#horse {
    background-color: var(--horse-bg-colour);
    background-image: var(--horse-bg-image);
}

#playlist {
    background-color: var(--playlist-bg-colour);
    background-image: var(--playlist-bg-image);
}

#infopane
{
    border-top: var(--infopane-border-top);
    background-color: var(--infopane-bg-colour);
    background-image: var(--infopane-bg-image);
}

.infowiki
{
    background-color: var(--infopane-bg-colour);
    background-image: var(--infopane-bg-image);
}

.inbrowser {
    color: var(--infopane-text-colour);
}

.infosection, .albumsection
{
    background-color: var(--infopane-header-bg-colour);
    background-image: var(--infopane-header-bg-image);
    background-size:cover;
    background-repeat:no-repeat;
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu, div.albumbitsmenu
{
    background-color: var(--dropmenu-bg-colour);
    background-image: var(--dropmenu-bg-image);
    border-left: var(--bordered-left);
    border-bottom: var(--bordered-bottom);
    border-right: var(--bordered-right);
}

.configtitle
{
    background-color: var(--configtitle-bg-colour);
    background-image: var(--configtitle-bg-image);
    border-bottom: var(--configtitle-border-bottom);
}

.dropshadow
{
    box-shadow: var(--drop-shadow);
}

.backmenu {
    background-color: var(--main-bg-colour) !important;
    background-image: var(--main-bg-image) !important;
}

.bordered {
    border-left: var(--bordered-left);
    border-bottom: var(--bordered-bottom);
    border-right: var(--bordered-right);
    border-top: var(--bordered-top);
}

body.desktop .info-border-right {
    border-right: 1px solid var(--border-colour);
}

body.phone .dropmenu>div.playable,
body.phone .dropmenu>div.menuitem,
body.phone .mainpane .radio,
body.phone .mainpane .faveradio,
body.phone .mainpane .podcast:not(.podicon):not(.podglobal),
body.phone .mainpane .directory {
    border-top: 1px solid var(--border-colour);
}

body.phone #pluginplaylistholder .menuitem.clickicon,
body.phone #pluginplaylistholder .menuitem.containerbox.fullwidth {
    border-bottom: 1px solid var(--border-colour);
}

.drop-box {
    background-color: var(--main-bg-colour);
    color: var(--text-colour);
}

/*
=====================================================================
= General Classes
=====================================================================
*/


/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    color: var(--highlight-colour);
    background-color: var(--playlist-current-bg-colour);
    font-size: var(--playlist-current-track-font-size);
    font-weight: var(--playlist-current-track-font-weight);
    text-shadow: var(--playlist-current-shadow);
    transition: var(--playlist-current-transition);
    border-left: var(--playlist-current-track-left-border);
}

.playlistitem,
{
    transition: var(--playlist-current-transition);
}

.playlistcurrenttitle
{
    color: var(--highlight-colour);
    background-color: var(--playlist-current-bg-colour);
    border-bottom: var(--playlist-title-border);
    font-size: var(--playlist-current-title-font-size);
    font-weight: var(--playlist-current-title-font-weight);
    transition: var(--playlist-current-transition);
    text-shadow: var(--playlist-current-shadow);
}

.playlisttitle {
    background-color: var(--playlist-title-bg-colour);
    border-bottom: var(--playlist-title-border);
    transition: var(--playlist-current-transition);
}

.item
{
    border-top: var(--playlist-item-top-border);
}

.popupwindow
{
    background-color: var(--dropmenu-bg-colour);
    background-image: var(--dropmenu-bg-image);
    border-left: var(--bordered-left);
    border-bottom: var(--bordered-bottom);
    border-right: var(--bordered-right);
    border-top: var(--bordered-top);
}

/*
=====================================================================
= Info Panel - Spotify + Skypotato Skin
=====================================================================
*/
.helpfulalbum
{
    background-color: var(--album-browse-bg-colour);
    background-image: var(--album-browse-bg-image);
}

.collectionitem .helpfulalbum.fixed {
    background-color: var(--skypotato-openalbum-bg-colour);
    background-image: var(--skypotato-openalbum-bg-image);
}

.tagholder_wide
{
    background-color: var(--album-browse-open-bg-colour);
    background-image: var(--album-browse-open-bg-image);
    box-sizing: border-box;
    border-left: var(--album-browse-open-highlight);
    border-top:  var(--album-browse-open-highlight);
}

.tagholder_wide .helpfulalbum.tleft
{
    background-image: none;
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

#artistcoverslist
{
    background-color: var(--albumart-artists-bg-colour);
    background-image: var(--albumart-artists-bg-image);
}

.highlighted {
    background-color: var(--album-browse-open-bg-colour);
    background-image: var(--album-browse-open-bg-image);
}

.covercontainer.highlighted
{
    border-bottom: none !important;
    margin-bottom: -4px;
}

#coverslist
{
    box-sizing:border-box;
    border-left:1px solid var(--border-colour);
}

.bigholder {
    background-color: var(--main-bg-colour);
    background-image: var(--main-bg-image);
}

