/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

@media screen and (orientation: landscape)
{
    html
    {
        background-image: var(--landscape-bg-image);
        background-position: var(--background-position);
        background-size: cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
    }
}

@media screen and (orientation: portrait)
{
    html
    {
        background-image: var(--portrait-bg-image);
        background-position: var(--background-position);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
    }
}

body.phone .dropmenu>div.playable,
body.phone .dropmenu>div.menuitem,
body.phone #pluginplaylistholder .menuitem.clickicon,
body.phone #pluginplaylistholder .menuitem.containerbox.fullwidth {
    background-color: var(--main-bg-colour);
    background-clip:border-box;
    margin-top: 4px;
}

body.phone .mainpane .faveradio,
body.phone .mainpane .radio,
body.phone .mainpane .podcast:not(.podicon):not(.podglobal),
body.phone .mainpane .directory {
    background-color: var(--main-bg-colour);
    background-clip:border-box;
    margin-top: 4px;
}

body.phone .dropmenu>div {
    background-color: var(--main-bg-colour);
}

.mainpane
{
    background-color: var(--main-bg-colour);
}

#artistbio
{
    padding:4px;
}

#infobar
{
    background-color: var(--infobar-bg-colour);
}







#sources
{
    background-color: var(--main-bg-colour);
}



body.phone .dropmenu.album1
{
    background-color: var(--main-bg-colour) !important;
}


body.phone .dropmenu.album2
{
    background-color: var(--main-bg-colour) !important;
}








#playlist
{
    background-color: var(--main-bg-colour);
}


#infopane
{
    background-color: var(--main-bg-colour);
}














.infosection, .albumsection
{
    background-color: var(--main-bg-colour);
}




.backmenu
{
    background-color: var(--main-bg-colour) !important;
}









.drop-box {
    background-color: var(--main-bg-colour);
    color: var(--text-colour);
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    color: var(--highlight-colour);
    font-size: var(--playlist-current-track-font-size);
    font-weight: var(--playlist-current-track-font-weight);
    text-shadow: var(--playlist-current-shadow);
    transition: var(--playlist-current-transition);
    border-left: var(--playlist-current-track-left-border);
}


.playlistcurrenttitle
{
    color: var(--highlight-colour);
    background-color: var(--main-bg-colour);
    font-size: var(--playlist-current-title-font-size);
    font-weight: var(--playlist-current-title-font-weight);
    transition: var(--playlist-current-transition);
    text-shadow: var(--playlist-current-shadow);
}

.playlisttitle
{
    background-color: var(--main-bg-colour);
    transition: var(--playlist-current-transition);
}








.popupwindow
{
    background-color: var(--top_drop_menu-bg-colour);
}






/*
=====================================================================
= Info Panel - Spotify + Skypotato Skin
=====================================================================
*/

.helpfulalbum
{
    background-color: var(--main-bg-colour);
}







.masonry_opened
{
    background-color: var(--main-bg-colour);
}










/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

#artistcoverslist
{
    background-color: var(--main-bg-colour);
}


.highlighted {
    background-color: var(--main-bg-colour);
}









