/*
=====================================================================
= Standard HTML Elements
=====================================================================
*/

.dropshadow
{
    box-shadow: var(--drop-shadow);
}

.backmenu {
    background-color: var(--darker-bg-colour) !important;
}

body.phone .dropmenu>div.playable,
body.phone .dropmenu>div.menuitem,
body.phone #pluginplaylistholder .menuitem.clickicon,
body.phone #pluginplaylistholder .menuitem.containerbox.fullwidth {
    background-color: var(--main-bg-colour);
    background-clip:border-box;
    margin-top: 4px;
}

body.phone .dropmenu>div {
    background-color: var(--main-bg-colour);
}

body.phone .mainpane .faveradio,
body.phone .mainpane .radio,
body.phone .mainpane .podcast:not(.podicon):not(.podglobal),
body.phone .mainpane .directory {
    background-color: var(--main-bg-colour);
    background-clip:border-box;
    margin-top: 4px;
}

#headerbar {
    background-color: var(--headerbar-bg-colour);
}

.drop-box {
    background-color: var(--darker-bg-colour);
    color: var(--text-colour);
}

/*
=====================================================================
= Specific Elements By ID
=====================================================================
*/

#sources
{
    background-color: var(--main-bg-colour);
}

#playlist
{
    background-color: var(--main-bg-colour);
}

#infobar
{
    background-color: var(--infobar-bg-colour);
}

#infopane
{
    background-color: var(--main-bg-colour);
}

/*
=====================================================================
= General Classes
=====================================================================
*/

.mainpane
{
    background-color: var(--main-bg-colour);
}

/*-- divs and classes used in the playlist --*/

.playlistcurrentitem
{
    color: var(--highlight-colour);
    font-size: var(--playlist-current-track-font-size);
    font-weight: var(--playlist-current-track-font-weight);
    text-shadow: var(--playlist-current-shadow);
    transition: var(--playlist-current-transition);
    border-left: var(--playlist-current-track-left-border);
}

.playlistitem
{
    transition: var(--playlist-current-transition);
}

.playlistcurrenttitle
{
    color: var(--highlight-colour);
    background-color: var(--main-bg-colour);
    font-size: var(--playlist-current-title-font-size);
    font-weight: var(--playlist-current-title-font-weight);
    transition: var(--playlist-current-transition);
    text-shadow: var(--playlist-current-shadow);
}

.playlisttitle {
    background-color: var(--main-bg-colour);
    transition: var(--playlist-current-transition);
}

.popupwindow
{
    background-color: var(--dropmenu-bg-colour);
}

body.desktop .info-border-right {
    border-right: 1px solid var(--border-colour);
}

/*
=====================================================================
= Dropdown Menus
=====================================================================
*/

div.topdropmenu, div.albumbitsmenu
{
    background-color: var(--dropmenu-bg-colour);
}

.configtitle
{
    background-color: var(--configtitle-bg-colour);
}


/*
=====================================================================
= Info Panel - General
=====================================================================
*/

#artistbio
{
    padding:4px;
}

.infosection, .albumsection
{
    background-color: var(--main-bg-colour);
}

/*
=====================================================================
= Info Panel - Spotify
=====================================================================
*/
.helpfulalbum
{
    background-color: var(--darker-bg-colour);
}

.tagholder_wide
{
    background-color: var(--darker-bg-colour);
}

/*
=====================================================================
= For Album Art Manager
=====================================================================
*/

#artistcoverslist
{
    background-color: var(--main-bg-colour);
}

.highlighted {
    background-color: var(--darker-bg-colour);
}

